<!--
  Generated template for the AppHowDoesWorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>How Does it work ?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img style="height: 550px;" src="assets/app-images/how-it-work11.png" />
  <p style="font-size:18px">
    You can record and share personal and medical information online with family, caretakers,
    and service providers.
  </p>
</ion-content>