<!--
  Generated template for the AppSelectWheelTimePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>app-select-wheel-time</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content style="background-color:#2b3249 !important;" padding>
  <div >
    <img (click)="close()" src="assets/images/others/icn-close.png" srcset="assets/images/others/icn-close.png" class="icn_close" data-dismiss="modal">
    <br style="clear: both;" />
    <h2 class="modaltitle">Wheel Chart Settings</h2>
    <p class="modaldata">The Daily Wheel is showing your selective status in a objective way. The more granular with registrating your Current Well Being Status while your are ill, the easier it is for both you and your care personnel to understand how Well you Feel.</p>
    <p class="modaldata">For Chronical users we recomment every 15 to 30 minutes, and for other long term ill we recomment from every 30 minutes to 2 hours, while for more short term illness we recomment every 2 -4 hours.</p>
    <p class="modaldata">But hey, remember you can always change this, but the more detailed you can be, the better insight you get about your Current Status of your Well Being and health.</p>
    <select [(ngModel)]="wheelTime" name="initialminute" class="modalselect">
      <option value="15">15 Min</option>
      <option value="30">30 Min</option>
    </select>
    <br />
    <input (click)="next()" type="button" id="nextstep" class="modalbutton" value="Next" />
    <br style="clear: both;" />
  </div>
</ion-content>
