.colorselect {
  .select-text {
    width: 25px;
    border-radius: 50px;
    height: 25px;
    border: 2px solid black;
  }

  .alert-radio-inner,
  .alert-radio-icon,
  .alert-radio-label {
    display: none;
  }

  &.colorselected:before {
    content: "\2713";
    color: white;
    z-index: 999999;
    width: 100%;
    height: 100%;
    font-size: 33px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%);
  }

  // $colorsToSelect: "#d435a2" "#a834bf" "#6011cf" "#0d0e81" "#0237f1" "#0d8bcd" "#16aca4" "#3c887e" "#157145" "#57a773" "#88aa3d" "#b7990d" "#fcbf55" "#ff8668" "#ff5c6a" "#c2454c" "#c2183f" "#d8226b" "#8f2d56" "#482971" "#000000" "#561f37" "#433835" "#797979" "#819595";
  $colorsToSelect: "#BA68C8" "#64B5F6" "#4DD0E1" "#4DB6AC" "#81C784" "#DCE775" "#FFF176" "#FFD54F" "#FFB74D" "#90A4AE";
  @each $colorOption in $colorsToSelect {
    $colorWithoutHash: str-slice($colorOption, 2, 7);

    &.color_#{$colorWithoutHash} {
      &,
      & .select-text {
        color: #{$colorOption};
        background-color: #{$colorOption};
      }
    }
  }
}
page-app-medicine-master-list-modal {
  $label-md-text-color-focused: #444;
  $text-input-md-highlight-color: #444;

  .label {
    color: #000 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .toolbar .toolbar-background {
    /*
    border-bottom: 2px solid #fff;
    */
  }

  .label {
    color: #fff !important;
  }

  .item-input .label,
  .item-select .label,
  .label {
    color: #fff !important;
  }

  input {
    color: #fff;
  }

  textarea {
    color: #fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
    // border-bottom: 2px solid #fff !important;
  }

  .label[stacked],
  ion-label[stacked] {
    font-size: 1.5rem;
  }

  .select-text,
  .datetime-text {
    color: #fff;
  }

  .toolbar .toolbar-title {
    font-size: 2rem;
    text-transform: none;
    font-weight: 500;
  }

  .toolbar .toolbar-background {
    background: #2b3249 !important;
  }

  .dark-button {
    background: #69c2d1;
    font-weight: bold;
  }

  .contain {
    background-color: #2b3249 !important;
    color: #fff;
  }
  .item[no-lines],
  .item.item[no-lines] .item-inner {
    border: 0px !important;
  }
}
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .modal-wrapper {
        left: calc(50% - (900px/2));
        top: calc(50% - (700px/2));
        position: absolute;
        width: 900px;
        height: 700px;
    }
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    .modal-wrapper {
        left: calc(50% - (700px/2));
        top: calc(50% - (700px/2));
        position: absolute;
        width: 700px;
        height: 700px;
    }
  } */
