<ion-content class="contain fadeIn">
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding>
        <ion-title style="margin-top: -30px;" text-center>{{Pagetitle}}</ion-title>
        <!-- <ion-row>
            <button *ngIf="ActiveStatus == 'active'" ion-button round style="background: #779e74;">ACTIVE</button>
            <button *ngIf="ActiveStatus == 'inactive'" ion-button round style="background: #e26060;">INACTIVE</button>
        </ion-row> -->
        <form [formGroup]="Editmedicineform">
            <ion-row wrap padding *ngIf="!patientSession">
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-8>
                            <div no-padding transparent no-lines text-center class="item-width">
                                <div *ngIf="!data?.image" padding
                                    style="background: #39415b; color:#444; border-radius: 10px">
                                    <div *ngIf="!data?.image" #imageUploader><img style="width:30%;" [src]="upload"
                                            (click)="!readonly && ImageUpload()"></div>
                                    <div *ngIf="!data?.image" #addPhotoCaption style="color:#fff;">Add picture of
                                        medicine</div>
                                </div>
                                <div *ngIf="data.image" #previewImage> <img style="border-radius:20px"
                                        [src]="data?.image"></div>
                                <div #removePhotoIcon style="margin:auto;width: 10%;display: none">
                                    <ion-icon name="close-circle" (click)="!readonly && deleteMedicineData()">
                                    </ion-icon>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-2></ion-col>
                    </ion-row>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Medicine Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input type="text" placeholder="Type name of medicine here" formControlName="medicinename"
                            [(ngModel)]="data.name"></ion-input>
                    </ion-item>
                    <p *ngIf="!Editmedicineform.controls.medicinename.valid && (Editmedicineform.controls.medicinename.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter Medicine Name</p>
                    <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                        <ion-item padding class="item-width" transparent>
                            <ion-label class="primarylabel">Choose Color</ion-label>
                            <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)"
                                formControlName="color" [(ngModel)]="data.color">
                                <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors"
                                    [value]="optioncolor">{{optioncolor}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                    <p *ngIf="!Editmedicineform.controls.color.valid && (Editmedicineform.controls.color.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Choose colour</p>
                    <ion-item padding transparent class="item-width" no-lines>
                        <ion-label>Add to Wheel</ion-label>
                        <ion-toggle [(ngModel)]="data.enableStandardWheel" formControlName="enableStandardWheel">
                        </ion-toggle>
                    </ion-item>
                    <ion-item style="margin-top:-6px" padding transparent class="item-width">
                        <ion-label stacked>Active Ingredients</ion-label>
                        <ion-input type="text" placeholder="Type active ingredients here"
                            formControlName="activeingredients" [(ngModel)]="data.activeingredients"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding style="margin-top: -40px;">

                    <ion-row>
                        <ion-col style="display: inline-flex;top: 15px;">
                            <ion-col col-6>
                                <ion-item padding transparent class="item-width">
                                    <ion-label stacked>
                                        Dose
                                        <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                                    </ion-label>
                                    <ion-input placeholder="Type dosage" type="text" formControlName="dose"
                                        [(ngModel)]="data.dose"></ion-input>
                                </ion-item>
                                <p *ngIf="!Editmedicineform.controls.dose.valid && (Editmedicineform.controls.dose.dirty || submitAttempt)"
                                    style="color: #e0675c;margin: 0px 17px;">Please enter dose</p>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item padding transparent class="item-width">
                                    <ion-label stacked>
                                        Times per day
                                        <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                                    </ion-label>
                                    <ion-input placeholder="00/day" type="text" formControlName="timeday"
                                        [(ngModel)]="data.timesperday"></ion-input>
                                </ion-item>
                                <p *ngIf="!Editmedicineform.controls.timeday.valid && (Editmedicineform.controls.timeday.dirty || submitAttempt)"
                                    style="color: #e0675c;margin: 0px 17px;">please enter time</p>
                            </ion-col>
                        </ion-col>
                        <ion-col col-12>
                            <ion-item style="margin-top: -11px;" padding transparent class="item-width">
                                <ion-label stacked>
                                    Company
                                    <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                                </ion-label>
                                <ion-input placeholder="Type company here" type="text" formControlName="company"
                                    [(ngModel)]="data.company"></ion-input>
                            </ion-item>
                            <!-- <p *ngIf="!Editmedicineform.controls.company.valid && (Editmedicineform.controls.company.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please enter company</p> -->
                        </ion-col>
                    </ion-row>
                    <ion-item padding transparent class="item-width" style="margin-top: -14px;">
                        <ion-label stacked>
                            Area of Use
                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-input placeholder="Type area of use here" type="text" formControlName="areaofuse"
                            [(ngModel)]="data.areaofuse"></ion-input>
                    </ion-item>
                    <!-- <p *ngIf="!Editmedicineform.controls.areaofuse.valid && (Editmedicineform.controls.areaofuse.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter Area of Use</p> -->
                    <ion-item padding transparent class="item-width" no-lines>
                        <ion-label>Notification</ion-label>
                        <ion-toggle [(ngModel)]="data.enablenotification" formControlName="enablenotification">
                        </ion-toggle>
                    </ion-item>
                    <ion-item style="margin-top: -5px;" padding transparent class="item-width">
                        <ion-label stacked>Notes</ion-label>
                        <ion-textarea style="margin-bottom: -18px;" placeholder="Type notes here" type="text"
                            formControlName="notes" [(ngModel)]="data.notes"></ion-textarea>
                    </ion-item>
                    <ion-col style="display: inline-flex; margin-left:-20px ;">
                        <ion-item class="abc" style="color:#fff;width: 713px;" padding transparent no-lines>
                            <ion-label>Recurring Daily</ion-label>
                            <ion-toggle formControlName="tog" [(ngModel)]="tog" (ionChange)="onChange($event)"
                                style="color:#fff;" disabled="{{disable}}">
                            </ion-toggle>
                        </ion-item>
                        <ion-item style="height: 66px;" no-padding transparent
                            class="item-width">
                            <ion-label stacked>Select Time</ion-label>
                            <ion-datetime formControlName="selecttime" [disabled]="sel"
                                style="padding: 16px 2px 20px;margin-bottom: -10px;" placeholder="00:00"
                                [(ngModel)]="data.selecttime" displayFormat="HH:mm">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-col>
            </ion-row>
            <ion-row wrap padding *ngIf="patientSession">
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-item *ngIf="doctorType == true && !doctordrop" padding class="item-width"
                        style="background:none;" interface="alert">
                        <ion-label>Doctor | {{doctorsFullName}}</ion-label>
                        <!-- <ion-input  placeholder="Type here text" formControlName="doctor" type="text" [(ngModel)]="data.doctor" disabled="true" style="visibility:hidden"></ion-input> -->
                    </ion-item>
                    <ion-item *ngIf="doctorType == false && !doctordrop" padding class="item-width"
                        style="background:none;">
                        <ion-label>Select Doctor</ion-label>
                        <ion-select formControlName="doctor" [(ngModel)]="data2.doctor" disabled="{{disable}}">
                            <ion-option *ngFor="let key of doctorsList;" [selected]="key.id==data.doctorid"
                                value="{{key.id}}">{{key.firstname}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <!-- <p *ngIf="!Editmedicineform.controls.doctor.valid && (Editmedicineform.controls.doctor.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please enter Prescribed by</p> -->
                    <ion-item padding class="item-width" style="background:none;">
                        <ion-label>Medicine </ion-label>
                        <ion-select style="max-width: 100%;" formControlName="medicine" [(ngModel)]="data2.medicine"
                            (ionChange)="onChangeAddnewMedicine($event)" disabled="{{disable}}">
                            <ion-option *ngFor="let key of medicineList;" value="{{key.id}}">{{key.name}} </ion-option>
                            <!-- <ion-option value="other">other </ion-option> -->
                        </ion-select>
                    </ion-item>
                    <p *ngIf="!Editmedicineform.controls.medicine.valid && (Editmedicineform.controls.medicine.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter medicine name</p>
                    <ion-row>
                        <ion-col col-12>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>
                                    start date
                                    <span style="color: #e0675c;margin-left: 7px;">*</span>
                                </ion-label>
                                <ion-datetime formControlName="prestartdate" [(ngModel)]="data2.prestartdate"
                                    displayFormat="DD/MM/YY" max="2020-12-31" style="margin:8px;padding:0px"
                                    disabled="{{disable}}"></ion-datetime>
                            </ion-item>
                            <p *ngIf="!Editmedicineform.controls.prestartdate.valid && (Editmedicineform.controls.prestartdate.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please select Prescription start date</p>
                        </ion-col>
                        <ion-row>
                        </ion-row>
                        <ion-col col-12>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>
                                    end date
                                    <span style="color: #e0675c;margin-left: 7px;">*</span>
                                </ion-label>
                                <ion-datetime formControlName="preenddate" [(ngModel)]="data2.preenddate"
                                    displayFormat="DD/MM/YY" max="2020-12-31" style="margin:8px;padding:0px"
                                    disabled="{{disable}}"></ion-datetime>
                                <p *ngIf="!Editmedicineform.controls.preenddate.valid && (Editmedicineform.controls.preenddate.dirty || submitAttempt)"
                                    style="color: #e0675c;margin: 0px 17px;">Please select Prescription end date</p>
                            </ion-item>
                            <ion-item style="width :240px;" padding transparent class="item-width" no-lines>
                                <ion-label>Notification </ion-label>
                                <ion-toggle formControlName="enablePrescriptionNotification"
                                    [(ngModel)]="data2.enablePrescriptionNotification" disabled="{{disable}}">
                                </ion-toggle>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Area of Expertise</ion-label>
                        <ion-input placeholder="Type here text" formControlName="areaexpertise" type="text"
                            [(ngModel)]="data2.areaexpertise" disabled="{{disable}}"></ion-input>
                    </ion-item>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Address</ion-label>
                        <ion-input placeholder="Type here address" formControlName="prescriptionaddress" type="text"
                            [(ngModel)]="data2.prescriptionaddress" disabled="{{disable}}"></ion-input>
                    </ion-item>
                    <ion-row>
                        <ion-col col-12>
                            <div style="color:#fff;padding-bottom: 0" padding>Time</div>
                        </ion-col>
                    </ion-row>
                    <ion-row formArrayName="tim">
                        <ng-container *ngFor="let item of tim;let i = index">
                            <!-- <ion-col col-6>
                                <ion-item transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display: none;" stacked>Diagnosis</ion-label>
                                    <ion-input formControlName="dose" style="margin-top:0.5em;margin-bottom:0.5em"
                                        placeholder="medicine taken" [(ngModel)]="item.dose" type="text"></ion-input>
                                </ion-item>
                            </ion-col> -->
                            <ion-col col-9>
                                <ion-item style="margin-top: 10px;" transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display: none;" stacked>Time</ion-label>
                                    <ion-datetime style="padding: 0px 0px 0px 0px !important;" formControlName="time"
                                        placeholder="add time" [(ngModel)]="item.time" displayFormat="HH:mm">
                                    </ion-datetime>
                                </ion-item>
                            </ion-col>
                            <ion-col col-1>
                                <ion-icon name="close" (click)="deleteDiagnosis(i)" margin></ion-icon>
                            </ion-col>
                        </ng-container>
                    </ion-row>
                    <div padding (click)="addDiagnosis()">
                        <ion-icon name="add"></ion-icon>
                        Add medicine taken time
                    </div>
                </ion-col>
            </ion-row>
            <div class="block-insert" style="margin-top: -20px;margin-right: 45px;" right margin
                *ngIf="!disable || doctorType">
                <button style="width:180px" *ngIf="patientSession"
                    (click)="updateMedicinePrescriptionData(patientData, itemIndex)" class="dark-button" ion-button
                    round>Update</button>
                <button style="width:180px" *ngIf="!patientSession && type=='edit'"
                    (click)="updateMedicineData(patientData, itemIndex)" class="dark-button" ion-button
                    round>Update</button>
                <button style="width:180px" *ngIf="!patientSession && type=='add'"
                    (click)="saveMedicineData(patientData, itemIndex)" class="dark-button" ion-button
                    round>Save</button>
            </div>
        </form>
    </ion-grid>
</ion-content>