<ion-content>
    <ion-buttons right>
        <button ion-button icon-only style="background-color: transparent;" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-left: 50px;margin-top: 10px;" *ngIf="!this.action">Add Medicine
    </ion-title>
    <ion-title style="text-align: center;margin-left: 50px;margin-top: 10px;" *ngIf="this.action" text-center>Edit
        Medicine</ion-title>

    <ion-grid padding>
        <form [formGroup]="medicineform">
            <ion-row padding>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <ion-row style="margin-top:-75px;margin-bottom: -20px;">
                        <ion-col col-12>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>Start Time</ion-label>
                                <ion-datetime formControlName="start" disabled="{{disabled}}" placeholder="00:00"
                                    [(ngModel)]="data.start" displayFormat="HH:mm" style="margin:8px;padding:0px">
                                </ion-datetime>
                            </ion-item>
                            <p *ngIf="!medicineform.controls.start.valid && (medicineform.controls.start.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please Select Start Time</p>
                        </ion-col>
                        <!-- <ion-col col-6>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Stop Time</ion-label>
                        <ion-datetime formControlName="end" disabled="{{disabled}}" placeholder="00:00" [(ngModel)]="data.end" displayFormat="HH:mm" style="margin:8px;padding:0px"></ion-datetime>
                    </ion-item>
                    </ion-col> -->
                    </ion-row>

                    <ion-row >
                        <ion-col col-6>
                            <ion-item style="width: 270px;" padding transparent class="item-width" no-lines>
                                <ion-label style="margin-top: 13px;">Current Time</ion-label>
                                <ion-toggle formControlName="current" [(ngModel)]="data.enableCurrentTime"
                                    (ionChange)="notify()" style="margin-bottom: 1.7rem"></ion-toggle>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: -20px;">
                        <ion-col col-12>
                            <div><span style="color:#fff">Medicines</span></div>
                            <!-- {{data.medicinemasterid}} -->
                            <div class="scroll-content" transparent
                                style="height: 130px;margin-top: 40px;border: 2px solid #81889f;border-radius: 13px;">
                                <!-- <div (click)="selectMedicine(item,item.key)" *ngFor="let item of patientMedicineMasterData"  [ngStyle]="{'background':item.color}" round [class.selected]="item.selected" ion-button style="padding: 0 1.5rem" >
                         {{item.medicinename}}
                    </div> -->
                                <div [class.selected]="data.medicinedataid === item.id"
                                    [ngStyle]="{'background':item.color}" (click)="selectMedicine($event,item, i)"
                                    *ngFor="let item of patientMedicineMasterData[0];let i = index" round ion-button>
                                    {{item.name}}
                                </div>
                            </div>
                        </ion-col>
                        <!-- <ion-item padding transparent class="item-width">
                    <ion-label >Description</ion-label>
                    <ion-input [(ngModel)]="data.description" flotiong type="text" placeholder="type notes here"></ion-input>
                </ion-item> -->

                        <ion-item style="margin-top: 120px;" padding transparent class="item-width">
                            <ion-label stacked>Description</ion-label>
                            <ion-textarea formControlName="description" placeholder="Type description here" type="text"
                                [(ngModel)]="data.description"></ion-textarea>
                        </ion-item>
                        <p *ngIf="!medicineform.controls.description.valid && (medicineform.controls.description.dirty || submitAttempt)"
                            style="color: #e0675c;margin: 0px 17px;">Please Add Description</p>

                    </ion-row>

                    <div text-center class="block-insert" margin>
                        <button *ngIf="!this.action" (ionChange)="notify()" (click)="addMedicen(Todaydate)"
                            class="dark-button" ion-button round>Save</button>
                        <button *ngIf="this.action" (ionChange)="notify()" (click)="updateMedicine(Todaydate)"
                            class="dark-button" ion-button round>Update</button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>