<ion-content padding class="fadeIn">
    <ion-buttons left>
        <button style="background-color:transparent;" (click)="goBack()" ion-button icon-only>
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <h1 class="app-header" style="margin-top: 15px;">Sign Up</h1>
    <ion-grid style="text-align:center;position: relative;margin-top: -30px;">
        <form [formGroup]="Registerform" style="margin-top: -25px;">
            <ion-row wrap>
                <ion-col col-12 col-sm-12 col-md-8 offset-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                    <!-- <h1 class="app-header">Sign Up</h1> -->
                    <div class="app-description margin-3t" style="margin-left: 80px;">
                        Already have an account? <span class="link" (click)="backToLogin()">Log in here </span>
                    </div>
                    <div class="alert alert-danger fade in alert-dismissible" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <!-- <ion-item style="margin-bottom:0;" margin transparent no-lines>
                            <ion-label [whiteLabel] stacked>
                                Customer Type
                                <span  style="color: #e0675c;margin-left: 7px;">*</span>
                            </ion-label>
                            <ion-select style="color: white;" formControlName="usertype" placeholder="You are registering as.." [(ngModel)]="data.usertype">
                                <ion-option value="patient">Patient</ion-option>
                                <ion-option value="healthcareprovider">Health Care Provider</ion-option>
                                <ion-option value="doctor">Doctor</ion-option>
                                <ion-option value="nurse">Nurse</ion-option>
                            </ion-select>
                        </ion-item>
                        <p *ngIf="!Registerform.controls.usertype.valid && (Registerform.controls.usertype.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Select User Type</p> -->
                    <!-- Firstname -->
                    <ion-item style="margin-bottom:0; margin-top: 0px;" margin transparent no-lines>
                        <ion-label [whiteLabel] stacked>First Name</ion-label>
                        <ion-input placeholder="Type your firstname here" formControlName="firstname" type="text"
                            [(ngModel)]="data.firstname"></ion-input>
                    </ion-item>
                    <ion-label style="float: left;margin: 0px 33px;"
                        *ngIf="!Registerform.controls.firstname.valid && (Registerform.controls.firstname.dirty || submitAttempt)">
                        <p style="margin-top:2px;margin-bottom:0;color:#e0675c">
                            Firstname cannot be empty
                        </p>
                    </ion-label>

                    <!-- Lastname  -->
                    <ion-item style="margin-bottom:0;margin-top: 0px;" margin transparent no-lines>
                        <ion-label [whiteLabel] stacked>Last Name</ion-label>
                        <ion-input placeholder="Type your lastname here" formControlName="lastname" type="text"
                            [(ngModel)]="data.lastname"></ion-input>
                    </ion-item>
                    <ion-label style="float: left;margin: 0px 33px;"
                        *ngIf="!Registerform.controls.lastname.valid && (Registerform.controls.lastname.dirty || submitAttempt)">
                        <p style="margin-top:2px;margin-bottom:0;color:#e0675c">
                            Lastname cannot be empty
                        </p>
                    </ion-label>

                    <ion-item style="margin-bottom:0;margin-top: 0px;" margin transparent no-lines>
                        <ion-label [whiteLabel] stacked>Email Address</ion-label>
                        <ion-input formControlName="email" type="text" placeholder="Type your email address here"
                            [(ngModel)]="data.email"></ion-input>
                    </ion-item>
                    <ion-label style="float: left;margin: 0px 33px;"
                        *ngIf="!Registerform.controls.email.valid && (Registerform.controls.email.dirty || submitAttempt)">
                        <p style="margin-top:2px;margin-bottom:0;color:#e0675c">
                            Please enter valid Email ID
                        </p>
                    </ion-label>
                    <ion-item style="margin-bottom:0;margin-top: 0px;" margin transparent no-lines>
                        <ion-label [whiteLabel] stacked>Password</ion-label>
                        <ion-input formControlName="password" [type]="passwordType1"
                            placeholder="Type your password here" [(ngModel)]="data.password"></ion-input>
                        <ion-icon style="color:#81889f;margin-top: 50px;" [name]="passwordIcon1" item-right (click)="
                                hideShowPassword('pass1')"></ion-icon>
                    </ion-item>

                    <ion-label style="float: left;margin: 0px 33px;"
                        *ngIf="!Registerform.controls.password.valid && (Registerform.controls.password.dirty || submitAttempt)">
                        <p style="margin-top:2px;margin-bottom:0;color:#e0675c">
                            Password cannot be empty
                        </p>
                    </ion-label>
                    <ion-item style="margin-bottom:0;margin-top: 0px;" margin transparent no-lines>
                        <ion-label [whiteLabel] stacked>Confirm Password</ion-label>
                        <ion-input formControlName="confirmPassword" [type]="passwordType"
                            placeholder="Re-type your password here" [(ngModel)]="data.confirmPassword"
                            (keyup.enter)="createAccount()"></ion-input>
                        <ion-icon style="color:#81889f;margin-top: 50px;" [name]="passwordIcon" item-right (click)="
                        hideShowPassword('pass2')">
                        </ion-icon>
                    </ion-item>
                    <ion-label style="float: left;margin: 0px 33px;"
                        *ngIf="!Registerform.controls.confirmPassword.valid && (Registerform.controls.confirmPassword.dirty || submitAttempt)">
                        <p style="margin-top:2px;margin-bottom:0;color:#e0675c">
                            Password cannot be empty
                        </p>
                    </ion-label>
                    <ion-label style="float: left;margin: 0px 33px;" *ngIf="Registerform.hasError('confirmPassword')">
                        <p style="margin-top:2px;margin-bottom:0;color:#e0675c">
                            Passwords are not <strong>matching</strong>.
                        </p>
                    </ion-label>
                    <div class="app-description margin-4t">
                        <!-- Remember me and stay Log In -->
                        <ion-row>
                            <ion-col col-4>
                                <ion-checkbox  (ionChange)="terms()" [(ngModel)]="termscondition" formControlName="termscondition"></ion-checkbox>
                            </ion-col>
                            <ion-col col-8>
                                <p style="top: -13px;position: relative;right: 63px;color:#69c2d1"  (click)="OpenTermsCondition()">Click here to read terms and conditions</p>
                            </ion-col>
                            <p style="margin-top:0px;margin-bottom:0;color:#e0675c;margin-left: 65px;" *ngIf="errmsg"> 
                                {{errmsg}}
                              </p>
                        </ion-row>
                    </div>
                    <div class="margin-3t ">
                        <button (click)="createAccount()" class="dark-button" ion-button round>
                            Save
                        </button>

                    </div>
                    <!-- <div class="margin-3t">
                        <p style="font-size: 16px;margin-left: 10px;margin-top: -16px;" stacked
                            >
                            Or Sign Up using social media account
                        </p>
                        <img class="button-margin" (click)="loginwithfackbook()" src="assets/app-images/facebook.png" />
                        <img class="button-margin" (click)="loginwithgoogle()" src="assets/app-images/google.png" />
                        <img class="button-margin" src="assets/app-images/microsoft.png" />
                    </div> -->
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>