app-register{
  .alert{
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .margin-3t{
    margin-top:3rem;
  }

  .margin-4t{
    margin-top:4rem;

  }

  .margin-6t{
    margin-top:6rem;
  }

  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
   // border-bottom: 2px solid #fff !important;
  }
  .item-md{
    color: #fff !important;
  }
}
