<!--
  Generated template for the AppNotificationSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div style="margin: 0px auto;width:500px;">
    <div>
      <!-- <div style="position: relative;">
        <p style="float: left;color: white;font-size: 14px;left: 16px;position: relative;top: 20px;">Apply Notifications
          to your device?</p>
        <div style="display: inline-flex;margin-bottom: -25px;margin-top: -25px;">
          <ion-list radio-group [(ngModel)]="isNotification" style="display: -webkit-box;position: relative;top: 60px;right: 267px;">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div> -->
      <br><br>
      <div style="position: relative;top:25px">
        <p style="float: left;color: white;font-size: 14px;left: 16px;position: relative;top: 20px;">Apply Notifications
          to your device?</p>
        
          <ion-list radio-group [(ngModel)]="isNotification" style="display: -webkit-inline-box;margin-right: 280px;">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
      </div>
      <div style="margin-top: -25px;">
        <p style="float: left;color: white;font-size: 14px;left: 16px;position: relative;top: 30px;">Do you want to
          recieve a notification when the medicine are</p>
        <p style="float: left;color: white;font-size: 16px;left: 16px;position: relative;top: 2px;">used to anonomously
          for statistical analysis own data?</p>
          <ion-list radio-group [(ngModel)]="isStatistical" style="display: -webkit-inline-box;margin-right: 280px;margin-top: -25px !important;margin-bottom: 30px !important;">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
      </div>
      <!-- <div style="position: relative;margin-top:-10px">
        <p style="float: left;color: white;font-size: 14px;left: 16px;position: relative;top: -5px;">Some
          notification
          will be here about accept your data
          Activity </p>
        <div style="display: inline-flex;">
          <ion-list radio-group [(ngModel)]="isAccept" style="display: -webkit-inline-box;position: relative;right: 140px;top:-35px">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div> -->
    </div>
    <div style="margin-top: -40px;margin-bottom: 40px;">
      <ion-item style="margin-bottom: 20px;height: 0px;">
        <ion-label style="color:white;">Medicine Notification Frequence</ion-label>
        <ion-select style="color:white" [(ngModel)]="medicinetime">
          <ion-option style="color:white" *ngFor="let time of timeOption" [value]="time.key">{{time.value}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-bottom: 20px;height: 0px;">
        <ion-label style="color:white;">Activity Notification Frequence</ion-label>
        <ion-select style="color:white" [(ngModel)]="activitytime">
          <ion-option style="color:white" *ngFor="let time of timeOption" [value]="time.key">{{time.value}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-bottom: 20px;height: 0px;">
        <ion-label style="color:white;">Well-Being Notification Frequence</ion-label>
        <ion-select style="color:white" [(ngModel)]="eventtime">
          <ion-option style="color:white" *ngFor="let time of timeOption" [value]="time.key">{{time.value}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <button class="btn" (click)="updateNotificationTime();" ion-button round>Save</button>
</ion-content>