
app-patients {
  [card-image] {
    position: relative;
    @include darkening-blend-mode;
    &::before {
      z-index: 3;
    }
    img {
      width: 100% !important;
    }
    [card-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: absolute;
      left: 16px;
      bottom: 20px;
      z-index: 999;
    }
  }

  .datetime{
    margin:8px !important;padding:0px !important;
  }

  [login-background] {
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .item-input .label, .item-select .label, .item-datetime .label{
    color:#fff !important;
  }
  .card-ios {
    margin: 12px;
    border-radius: 12px;
    background: #39415b;
  }

  .card-md {
    margin: 12px;
    border-radius: 12px;
    background: #39415b;
  }

  .card-ios h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    color: #ffffff;
  }

  .card-md h2{
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    color: #ffffff;
  }

  .button-patient{
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.4px !important;
    text-align: center !important;
    color: #ffffff !important;
    margin-top: 0 !important;
    background: #69c2d1 !important;
    width: 226px !important;
    height: 36px !important;
    text-transform: none!important;
  }

  .card-top-icon{
    height: 30px;
    width: 30px;
    float: right;
  }
  .bar-button-md[icon-only] ion-icon{
      font-size: 14px !important;
  }

}
