app-patient-settings {
  [login-background] {
    background: #4ecdc4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #556270, #4ecdc4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #556270,
      #4ecdc4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .label {
    color: #fff !important;
    margin-bottom: 0 !important;
  }

  .toolbar .toolbar-background {
    /*
    border-bottom: 2px solid #fff;
    */
    border: 0;
  }

  .tabbar {
    background-color: #474f69 !important;
    border-radius: 30px;
    width: 60%;
    left: 20%;
  }

  .tab-button-text {
    color: #fff !important;
    font-size: 1.6rem !important;
  }

  .margin-4t {
    margin-top: 4rem;
  }
  .margin-5t {
    margin-top: 5rem;
  }

  .tab-button {
    /* border:1px solid #000;*/
    background: #474f69;
    border-radius: 30px;
  }

  .tab-button[aria-selected="true"] {
    background: rgb(251, 126, 126);
    border-radius: 30px;
  }

  .tabs-ios .tab-button {
    max-width: 100% !important;
  }

  .bar-button-md[icon-only] ion-icon {
    font-size: 14px !important;
  }
}
