<ion-header>
    <ion-navbar>
        <ion-title text-center>Onboarding Settings</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right (click)="logout()">
            <button ion-button icon-only>
                <ion-icon name="lock">Logout</ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2></ion-col>
            <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 style="display: contents">

                <ion-tabs class="margin-5t" #tabs tabsPlacement='top' tabs-content>
                    <ion-tab [rootParams]="patientData" [tabTitle]="item.title" [root]="item.page"
                        *ngFor="let item of data.tabs;let i = index"></ion-tab>
                </ion-tabs>
            </ion-col>
            <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2></ion-col>

        </ion-row>
    </ion-grid>
</ion-content>