<!--
  Generated template for the AddcontectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title text-center style="font-size:2.4rem;text-transform: none;font-weight: 500" >{{ContactTitle}}</ion-title>
 
        <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
  </ion-buttons>
    </ion-navbar>
 </ion-header>
 
 <ion-content>
         <ion-grid padding>
          <form [formGroup]="Contectform">
             <ion-row wrap padding>
                 <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
 
                     <ion-item padding transparent class="item-width">
                             <ion-label stacked >
                                     Name
                                     <span style="color: #e0675c;margin-left: 7px;">*</span>
                              </ion-label>
                         <ion-input  formControlName="name" required type="text" placeholder="Type your name address here" [(ngModel)]="data.name"></ion-input>
                     </ion-item>
                     <p *ngIf="!Contectform.controls.name.valid && (Contectform.controls.name.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Name</p>
                
                     <ion-item padding transparent class="item-width">
                         <ion-label stacked >
                                 Relationship
                                 <span style="color: #e0675c;margin-left: 7px;">*</span>
                         </ion-label>
                         <ion-input  formControlName="relationship" required type="text" placeholder="Type here" [(ngModel)]="data.relationship"></ion-input>
                     </ion-item>
                     <p *ngIf="!Contectform.controls.relationship.valid && (Contectform.controls.relationship.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Relationship</p>
                
                     <ion-item padding transparent class="item-width">
                             <ion-label stacked >
                                    Phone Number
                                     <span style="color: #e0675c;margin-left: 7px;">*</span>
                             </ion-label>
                         <ion-input  formControlName="mobile"  required type="text" placeholder="0-000-000-000" [(ngModel)]="data.phone"></ion-input>
                     </ion-item>
                     <p *ngIf="!Contectform.controls.mobile.valid && (Contectform.controls.mobile.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Mobile Number</p>
                
                     <ion-item padding transparent class="item-width">
                         <ion-label stacked>Full Address</ion-label>
                         <ion-input  formControlName="address"  placeholder="Street/ Building No/ Zip/ City/ Country" [(ngModel)]="data.address" required type="text" ></ion-input>
                     </ion-item>
                     <img class="location" src="assets/images/map.png" />
                     <ion-item padding transparent class="item-width">
                         <ion-label stacked>Notes</ion-label>
                         <ion-input  formControlName="notes"  placeholder="Write a few words about the contact person" [(ngModel)]="data.notes" required type="text" ></ion-input>
                     </ion-item>
 
                     <div class="block-insert" margin>
                         <button (click)="save()" class="dark-button" ion-button round>Save</button>
                         <!-- <button (click)="SaveContactData()" class="dark-button" ion-button round>Save</button> -->
                     </div>
                 </ion-col>
             </ion-row>
          </form>
         </ion-grid>
 </ion-content>
