app-patient-activity-list{

    [login-background] {
      background: #4ECDC4;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .label {
      color:#fff !important;
      margin-bottom: 0 !important;
    }

  .toolbar .toolbar-background{
    /*
    border-bottom: 2px solid #fff;
    */
    border:0;
  }
  .dv{
    border: gray solid 1px;
    border-radius: 25px;
    background: transparent;
    padding-bottom: 15px;
    padding-top: 0px !important
  }
  .item-list{
    border: gray solid 1px;
    border-radius: 25px;
    background: transparent;
    padding-bottom: 0px; 
    padding-top: 0px !important
  }

  .tabbar  {
    background-color:#474f69 !important;
    border-radius: 30px;
    width:60%;
    left:20%;
  }

  .tab-button-text{
    color:#fff !important;
    font-size:1.6rem !important;
  }

  .margin-4t{
    margin-top:4rem;
  }
  .margin-5t{
    margin-top:5rem;
  }

  .margin-17t{
    margin-top:17rem;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }

  .tab-button {
   /* border:1px solid #000;*/
    background: #474f69;
    border-radius:30px;
  }

  .tab-button[aria-selected=true]{
    background: #69c2d1;
    border-radius: 30px;
  }

  .tabs-ios .tab-button {
    max-width: 100% !important;
  }
  .shadow-red {
    background-color: rgb(251, 126, 126);
    border-radius: 20px;
    height: 40px;
  }
  .shadow-grey {
    background-color: #516b93;
    border-radius: 20px;
    height: 40px;
  }

}