

app-add-contact-modal{

  h1 {
    text-align: center;
    margin: .5em 0;
  }

  .toolbar .toolbar-title{
    font-size:2rem;text-transform: none;font-weight: 500;
    margin-top:2rem;
  }


  .scroll-content{
    overflow: auto !important;
  }

  .app-description{
    font-size:1.2em;
  }

  .margin-4t{
    margin-top:4rem;

  }
  .margin-3t{
    margin-top:3rem;
  }

  .toolbar .toolbar-background{
    border-bottom: 2px solid #fff;
    border-bottom: 0 !important;
  }

  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
   // border-bottom: 2px solid #fff !important;
  }


  .location {
      position: absolute;
      right: 25px;
      bottom: 243px;
  }

  .label[stacked],ion-label[stacked]{
    font-size:1.5rem;
  }


}