app-patient-medicine-modal{


  $label-md-text-color-focused: #444;
    $text-input-md-highlight-color: #444;

  [card-image] {
    position: relative;
    @include darkening-blend-mode;
    &::before {
      z-index: 3;
    }
    img {
      width: 100% !important;
    }
    [card-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: absolute;
      left: 16px;
      bottom: 20px;
      z-index: 999;
    }
  }


  .datetime-text{margin-left:1rem !important;color:#fff}

  .toolbar .toolbar-title{
    font-size:1.6em;
    font-weight:normal;
    text-transform: none;
  }
  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  textarea{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
    //border-bottom: 2px solid #fff !important;
  }

  .app-description{
    text-align: center;
  }

  .back-button{
   // position: absolute;
  }

  .select-text{
    color:#fff;
  }

  .content-md {
      background-color: #2b3249 !important;
      color: #fff;
  }
  .dark-button {
      background: #69c2d1;
      font-weight: bold;
  }

  .content-ios{
      background-color: #2b3249 !important;
      color: #fff;
  }

}