<ion-header>
   <ion-navbar>
 <!--<ion-buttons left>
           <button ion-button icon-only (click)="backToPatientHome()">
               <ion-icon name="arrow-back" ></ion-icon>
           </button>
       </ion-buttons>-->
<ion-title text-center="" >Add Medicine</ion-title>
 <ion-buttons right>
     <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
 </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content class="contain">
        <ion-grid  >
            <ion-row wrap >
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style="padding:30px;padding-top:10px">

                    <ion-item no-padding transparent class="item-width">
                        <ion-label floating>Medicine</ion-label>
                        <ion-input  required type="text" [(ngModel)]="data.salt" ></ion-input>
                    </ion-item>

                    <ion-item no-padding transparent class="item-width" >
                        <ion-label floating>Dosage</ion-label>
                        <ion-input required type="text" [(ngModel)]="data.dosage" ></ion-input>
                    </ion-item>

                    <ion-item no-padding transparent class="item-width" style="margin-top:15px">
                        <ion-label floating>Doctor</ion-label>
                        <ion-input  required type="text" [(ngModel)]="data.doctor" ></ion-input>
                    </ion-item>

                    <ion-item no-padding transparent class="item-width" style="margin-top:15px">
                        <ion-label floating>Date</ion-label>
                        <ion-datetime [disabled]="readonly" [(ngModel)]="data.date" displayFormat="MM/DD/YYYY" style="margin:8px;padding:0px"></ion-datetime>
                    </ion-item>

                    <ion-item style="margin-top: 15px;"  no-padding transparent class="item-width" >
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle [(ngModel)]="data.enableStandardWheel"></ion-toggle>
                    </ion-item>

                    <ion-item no-padding transparent class="item-width" style="margin-top:15px">
                        <ion-label floating>Choose Color</ion-label>
                       <ion-select [(ngModel)]="data.color">

                           <ion-option [value]="item.hex" *ngFor="let item of colors">{{item.name}}</ion-option>
                       </ion-select>
                    </ion-item>


                    <div class="block-insert"  style="margin-top: 40px;display: flex">
                        <button class="dark-button" block round ion-button *ngIf="!eventType" (click)="saveMedicine()">Save</button>
                        <button class="dark-button" block round ion-button *ngIf="eventType" (click)="updateMedicine()">Save</button>
                        <button style="margin-left:30px" class="dark-button" block round ion-button (click)="closeModal()">Cancel</button>

                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
