<!--
  Generated template for the AppSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>24-Hour Clock Settings”</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item class="item-list" readonly no-lines style="margin-bottom: 15px;">
    <ion-label class="span-text">Language</ion-label>
    <ion-select style="color: white;"  [(ngModel)]="language" appNoArrow>
      <ion-option value="English">English</ion-option>
      <!-- <ion-option value="Spanish">Spanish</ion-option>
    <ion-option value="German">German</ion-option>
    <ion-option value="French">French</ion-option> -->
    </ion-select>
  </ion-item>
  <ion-item (click)="editValues('wellbeing')" class="item-list" no-lines style="margin-bottom: 15px;">
    <span class="span-text">Edit Wellbeing</span>
  </ion-item>
  <ion-item (click)="editValues('medicine')" class="item-list" no-lines style="margin-bottom: 15px;">
    <span class="span-text">Edit Medicines</span>
  </ion-item>
  <ion-item (click)="editValues('activity')" class="item-list" no-lines style="margin-bottom: 15px;">
    <span class="span-text">Edit Activity</span>
  </ion-item>
  <!-- <ion-item (click)="editValues('SocialAccountsPage')" class="item-list" no-lines style="margin-bottom: 15px;">
    <span class="span-text">to Edit Social media accounts for sharing through the 24-hour Clock view</span>
  </ion-item> -->
</ion-content>