page-app-settings-daily-wheel-settings {
    .item-list {
        border: 0px !important;
        border-radius: 15px !important;
        background: #39415b !important;
        padding-bottom: 15px !important;
        height: 56px !important;
        padding-top: 3px !important;
        width: 700px;
        margin: 20px auto;
    }
    .span-text {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: #ffffff;
        padding-left: 20px;
        text-align: justify;
    }
    .select-icon {
        display: none !important;
    }
    .select-text {
        font-size: 18px;
        font-weight: 600;
    }
}
