<ion-header>
	<ion-navbar>
		<ion-title text-center>Edit Wellbeing</ion-title>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>
<ion-content padding class="fadeIn">
	<ion-grid style="text-align:center;position: relative;">
		<ion-row wrap>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
				<ion-grid padding *ngIf="!patientSession">
					<ion-row wrap>
						<ion-col style="margin: 0px auto;" col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 offset-1
							offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1>
							<!-- <ion-item no-lines style="background-color: #fff" *ngFor="let item of medicines;let i = index" (click)="editMedicine(item, i)" style="margin-bottom: 15px;padding:10px"> -->
							<ion-row *ngIf="SearchData">
								<ion-item class="item-list" no-lines *ngFor="let item of SearchData"
									style="margin-bottom: 15px;">
									<div style="display: inline;margin-top: 1.6rem;">
										<div [ngStyle]="{'background':item.color}"
											style="float:left;color:#000;margin-top: 22px;font-weight: bold;border-radius: 50%;width:25px;height: 25px;border: 2px solid black">
										</div>
										<div
											style="margin-left: 1.3rem;float:left;margin-top: 22px;font-size: 1.7rem;color: white;">
											{{item.name}}</div>
										<div style="float:right;margin-top: 9px;margin-right: -4px;"
											(click)=" editEvent(item,idx)">
											<!-- <button expand="block" class="shadow-grey">
											<ion-icon style="font-size: 20px;color:white" name="md-create"></ion-icon>
										</button> -->
											<img style="height: 54px;width: 60px;"
												src="assets/images/menu-icons/edit.png">
										</div>
										<div style="float:right;margin-top: 15px;margin-right: 20px;"
											(click)="deleteEvent(item, idx, patientData)">
											<!-- <button expand="block" class="shadow-red">
											<ion-icon style="font-size: 20px;color:white" name="trash"></ion-icon>
										</button> -->
											<img style="height: 40px;width: 40px;"
												src="assets/images/menu-icons/delete.png">
										</div>
									</div>
									<br>
								</ion-item>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
<button class="boxshadow " (click)="AddEvent()"
	style="background-color: rgb(251 126 126);height: 80px;width: 80px;position: sticky;left: 920px;top:80%;z-index: 9999;"
	ion-fab>
	<ion-icon style="font-size: 60px;" class="icAdd" name="add"></ion-icon>
</button>