<ion-header class="header1">

  <ion-navbar>
    <!-- <ion-title>Common Dashboard</ion-title> -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment class="segment">
    <ion-segment-button value="Today" class="button1-grey">
      Today
    </ion-segment-button>
    <ion-segment-button value="Weekly" class="button1">
      Weekly
    </ion-segment-button>
  </ion-segment>
  <!-- <ion-tabs tabsPlacement='top' tabs-content>
    <ion-tab [tabTitle]="item.title" [root]="item.page" *ngFor="let item of data.tabs;let i = index"></ion-tab>
  </ion-tabs> -->
  <ion-title style="float:left; font-size:22px; margin:10px 0px 0px 100px;">Patients List</ion-title>
  <!-- <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4> -->
  <ion-searchbar style="width:300px; margin-left:50px; float:right;margin-top:0px;" [(ngModel)]="terms" placeholder="Type to search here">
  </ion-searchbar>
  <!-- </ion-col> -->
</ion-content>

<ion-content padding style="margin-top:80px;">
  <ion-row >
    <ion-col style="display:inline-flex;">
      <!-- <div style="width: 17%;">
          <p style="position: relative;
          left: 30px;font-size:16px">Status of Well Being</p>
        </div> -->
      <div style="font-size:16px; width:100px;">
        <span><b>Sort By</b></span>
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </div>
      <div style="display:inline-flex;margin-left: 250px;">
        <div class="sleep"></div>
        <p class="p1">sleep</p>
        <div class="comfort"></div>
        <p class="p1">Awake - comfortable</p>
        <div class="uncomfort"></div>
        <p class="p1">Awake - uncomfortable</p>
        <div class="distress"></div>
        <p class="p1">Awake - distress</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="background-color:#22293e !important; border:none !important; border-radius:30px;">
    <!-- <ion-item class="item-list" no-lines style="margin-bottom: 15px; background-color:#22293e !important; border:none !important;"> -->
    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style="padding:5px 15px 5px 15px;">
      <!-- <ion-card text-center style="height: 200px;"> -->
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img style="border-radius: 50%;" src="assets/images/victor.png" />
          </ion-col>
          <ion-col col-2>
            <h2 text-center
              style="font-family:'HelveticaNeue-Medium', sans-serif; font-size:18px; font-weight:500; color:#fff; line-height: 1.22; text-align:left !important; margin-left:10px;">
              Victor Elliot</h2>
            <ion-label
              style="margin:10px; color:#aab2ce !important; letter-spacing: 0.22px; font-size:10px; text-align:left !important;"
              stacked>
              Diagnosis Here
            </ion-label>
            <ion-label
              style="margin:10px; color:#fff !important; letter-spacing: 0.31px; font-size:14px; line-height: 1.14;"
              stacked>
              <div style="width:18px; height:18px;background-color:#ef6d49; border-radius:50%;float:left;"></div>
              <div style="margin-left:10px; float:left;">Status</div>
            </ion-label>
            <ion-label style="text-align:left; margin:5px 0 !important;">
              <button class="button-patient" style="width:125px !important; height:28px; margin:0px !important;"
                ion-button margin round outline medium>View More</button>
            </ion-label>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart>{{ chart }}</canvas>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart1>{{ chart }}</canvas>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart2>{{ chart }}</canvas>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart3>{{ chart }}</canvas>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- </ion-card> -->
    </ion-col>
    <!-- </ion-item> -->
    <!-- <ion-item class="item-list" no-lines style="margin-bottom: 15px; background-color:#22293e !important; border:none !important;">
        <div style="display: inline;margin-top: 1.6rem;">
          <div style="margin-left: 1.3rem;float:left;font-size: 1.7rem;color: white;">
            Name
          </div>
          <div style="float:right;">
            <img src="assets/images/menu-icons/notification-inactive.png" />
          </div>
          <ion-item style="background-color: transparent;float:right;width:100px;">
            <ion-toggle [checked]="true"></ion-toggle>
          </ion-item>
          <div style="float:right;margin-right: 13px;">
            <img style="height: 40px;width: 40px;" src="assets/images/menu-icons/delete.png" />
          </div>
        </div>
        <br>
      </ion-item> -->
  </ion-row>
  <br>
  <ion-row style="background-color:#22293e !important; border:none !important; border-radius:30px;">
    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style="padding:5px 15px 5px 15px;">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img style="border-radius: 50%;" src="assets/images/man.png" />
          </ion-col>
          <ion-col col-2>
            <h2 text-center
              style="font-family:'HelveticaNeue-Medium', sans-serif; font-size:18px; font-weight:500; color:#fff; line-height: 1.22; text-align:left !important; margin-left:10px;">
              Jacob Hoggman</h2>
            <ion-label
              style="margin:10px; color:#aab2ce !important; letter-spacing: 0.22px; font-size:10px; text-align:left !important;"
              stacked>
              Diagnosis Here
            </ion-label>
            <ion-label
              style="margin:10px; color:#fff !important; letter-spacing: 0.31px; font-size:14px; line-height: 1.14;"
              stacked>
              <div style="width:18px; height:18px;background-color:#afdb07; border-radius:50%;float:left;"></div>
              <div style="margin-left:10px; float:left;">Status</div>
            </ion-label>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart4>{{ chart }}</canvas>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart5>{{ chart }}</canvas>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart6>{{ chart }}</canvas>
            </div>
          </ion-col>
          <ion-col col-2>
            <div class="chart-container" style="height: 100px;width: 100px;">
              <canvas #lineChart7>{{ chart }}</canvas>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <!-- </ion-row>
    <br>
    <ion-row style="background-color:#22293e !important; border:none !important; border-radius:30px; height:300px;"> -->
    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style="padding: 6px 20px 0px 0px;">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <div class="chart-container" id="barChart0">
              <canvas #barChart>{{ barchart }}</canvas>
            </div>
            <div class="rect-box">
              <p class="copy-text">SLEEP HOURS</p>
              <hr class="hr1">
              <div style="display:flex;">
                <div class="chart-container" style="height: 40px;width: 40px;margin: 10px 0px 0px -5px!important">
                  <canvas #doughnut1>{{ chart1 }}</canvas>
                </div>
                <p class="time">72<sub>hrs</sub> 33<sub>min</sub></p>
              </div>
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="chart-container" id="barChart1">
              <canvas #barChart1>{{ barchart }}</canvas>
            </div>
            <div class="rect-box">
              <p class="copy-text">UNCOMFORTABLE HOURS</p>
              <hr class="hr1">
              <div style="display:flex;">
                <div class="chart-container" style="height: 40px;width: 40px;margin: 10px 0px 0px -5px!important">
                  <canvas #doughnut2>{{ chart1 }}</canvas>
                </div>
                <p class="time">72<sub>hrs</sub> 33<sub>min</sub></p>
              </div>
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="chart-container" id="barChart2">
              <canvas #barChart2>{{ barchart }}</canvas>
            </div>
            <div class="rect-box">
              <p class="copy-text">COMFORTABLE HOURS</p>
              <hr class="hr1">
              <div style="display:flex;">
                <div class="chart-container" style="height: 40px;width: 40px;margin: 10px 0px 0px -5px!important">
                  <canvas #doughnut3>{{ chart1 }}</canvas>
                </div>
                <p class="time">72<sub>hrs</sub> 33<sub>min</sub></p>
              </div>
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="chart-container" id="barChart3">
              <canvas #barChart3>{{ barchart }}</canvas>
            </div>
            <div class="rect-box">
              <p class="copy-text">ANXIOUS HOUR</p>
              <hr class="hr1">
              <div style="display:flex;">
                <div class="chart-container" style="height: 40px;width: 40px;margin: 10px 0px 0px -5px!important">
                  <canvas #doughnut4>{{ chart1 }}</canvas>
                </div>
                <p class="time">72<sub>hrs</sub> 33<sub>min</sub></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-label style="text-align:center; margin:5px 0 !important;">
          <button class="button-patient" style="width:200px !important; height:28px;" ion-button
            margin round outline medium>View Less</button>
        </ion-label>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
