page-app-weekly-dashboard2-report {
  .rect-box {
    width: 226px;
    height: 100px;
    // margin: 32px 55px 45px 40px;
    margin: 10px;
    padding: 8px 0 11px;
    object-fit: contain;
    border-radius: 12px;
    background-color: #3a4159;
  }

  .rect-box p {
    font-family: 'HelveticaNeue-Medium', sans-serif;
  }

  .rect-box2 {
    width: 140px;
    height: 140px;
    margin: 32px 55px 45px 0px;
    padding: 8px 0 11px;
    object-fit: contain;
    border-radius: 12px;
    background-color: #3a4159;
    left: 20px;
    position: relative;
    font-family: 'HelveticaNeue-Medium', sans-serif;
  }

  .rect-box1 {
    width: 214px;
    height: 140px;
    margin-left: -35px !important;
    margin: 32px 19px 45px 0px;
    padding: 8px 0 17px;
    object-fit: contain;
    border-radius: 12px;
    background-color: #3a4159;
    font-family: 'HelveticaNeue-Medium', sans-serif;
  }

  .copy-text {
    margin: 0 56px 10px 0px;
    font-family: HelveticaNeue-Medium;
    font-size: 13px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.42px;
    color: #81889f;
    width: 100%;
  }

  .copy-text2 {
    float: left;
    margin: 0 51px 7px 11px;
    width: 196px;
  }

  .count {
    margin: 10px 2px 1px 15px;
    font-family: HelveticaNeue-Medium;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.92px;
    color: #ffffff;
    float: left;
  }

  .time {
    margin: 10px 0px 1px 0px;
    font-family: HelveticaNeue-Medium;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.92px;
    color: #ffffff;
  }

  .registrations {
    margin: 20px 0px 0 0px;
    font-family: HelveticaNeue-Medium;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    text-align: center;
    color: #81889f;
    float: left;
  }

  .hr1 {
    border: 1px solid #81889f;
        background: #81889f;
  }


  sub {
    bottom: 0px;
    color: #81889f;
    font-size: 15px;
  }

  .chart-container {
    height: 110vh;
    width: 30vw;
    margin-top: 0px !important;
    margin-left: 0px !important;
    position: relative;
    left: 13px;
  }

  .chart-container1 {
    height: 110vh;
    width: 30vw;
  }

  .sleep {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #6bb1d6;
    margin-top: 15px;
    margin-right: 10px;
  }

  .comfort {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background-color: #afdb07;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
  }

  .distress {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background-color: #e26060;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .uncomfort {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    background-color: #fad000;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .time {
    margin: 10px 0px 1px 40px;
    font-family: HelveticaNeue;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.92px;
    color: #ffffff;
  }

  .p1 {
    font-size: 14px;
    margin-right: 5px;
  }

  [card-image] {
    position: relative;
    @include darkening-blend-mode;

    &::before {
      z-index: 3;
    }

    img {
      width: 100% !important;
    }

    [card-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: absolute;
      left: 16px;
      bottom: 20px;
      z-index: 999;
    }
  }

  .item-input .label,
  .item-select .label,
  .item-datetime .label {
    color: #fff !important;
  }

  .card-ios {
    margin: 12px;
    border-radius: 12px;
    background: #39415b;
  }

  .card-md {
    margin: 12px;
    border-radius: 12px;
    background: #39415b;
  }

  .card-ios h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    color: #ffffff;
  }

  .card-md h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    color: #ffffff;
  }

  .button-patient {
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.4px !important;
    text-align: center !important;
    color: #ffffff !important;
    margin-top: 0 !important;
    background: #69c2d1 !important;
    width: 226px !important;
    height: 36px !important;
    text-transform: none !important;
  }

  .card-top-icon {
    height: 30px;
    width: 30px;
    float: right;
  }

  .bar-button-md[icon-only] ion-icon {
    font-size: 14px !important;
  }


  #barChart0 {
    width: 250px !important;
    height: 130px !important;
  }

  #barChart1 {
    width: 250px !important;
    height: 130px !important;
  }

  #barChart2 {
    width: 250px !important;
    height: 130px !important;
  }

  #barChart3 {
    width: 250px !important;
    height: 130px !important;
  }
  .fixed-content{
    margin-top: -0px !important;
  }

  .show-tabbar{
  width: 250px !important;
  }
  .label {
    color: #fff !important;
    margin-bottom: 0 !important;
  }
  .header1{
    width: 50px !important;
  }

  .item-cover {
    left: 560 !important;
    top: 20px !important;
    position: absolute;
    width: 25% !important;
    height: 68% !important;
    background: transparent;
    cursor: pointer;
}
  .toolbar .toolbar-background {
    /*
    border-bottom: 2px solid #fff;
    */
    border: 0;
  }
  .scroll-content
  {
    margin-top: 5px !important;
  }
  .tabbar {
    background-color: #474f69 !important;
    border-radius: 30px;
    width: 21%;
    left: 10%;
    top:0px !important
  }

  .tab-button-text {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: bold !important
  }

  .margin-4t {
    margin-top: 4rem;
  }
  .margin-5t {
    margin-top: 5rem;
  }
  .tab-button {
    /* border:1px solid #000;*/
    background: #474f69;
    border-radius: 30px;
  }

  .tab-button[aria-selected="true"] {
    background: #69c2d1;
    border-radius: 30px;
  }

  .tabs-ios .tab-button {
    max-width: 100% !important;
  }
  .bar-button-md[icon-only] ion-icon {
    font-size: 14px !important;
  }
  .toolbar-title-ios{
    font-size:22px;
  }
  .segment{
    width: 200px;
    border-radius: 30px;
    background-color: #474f69;
    height: 50px;
    margin-left: 50px;
    float: left;
    font-family: 'HelveticaNeue-Bold', sans-serif;
  }
  .button1-grey{
    padding: 10px 0;
    font-size: 18px !important;
    border-radius: 30px;
    background-color: #474f69;
    height: 50px !important;
    color: #fff !important;
    border:none !important;
  }
  .button1{
    padding: 10px 0;
    font-size: 18px !important;
    border-radius: 30px !important;
    background-color: #69c2d1 !important;
    height: 50px !important;
    border:none !important;
    color: #fff !important;
  }
}
