<ion-header>
	<ion-navbar>
		<ion-title text-center>Wellbeing</ion-title>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons right *ngIf="patientSessionData">
			<!-- <button ion-button icon-only>
				<ion-icon name="person">Patient | {{patientSessionData.firstname}}</ion-icon>
			</button> -->
		</ion-buttons>
		<form [formGroup]="SelectList">
			<ion-item no-lines *ngIf="ut && notselected && dependent" class="item-width" style="background:none;">
				<ion-select (ionChange)="selectEmployee($event)" style="color: white;" right>
					<ion-label>Select Healthcare Provider</ion-label>
					<ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1[0].id"
						value="{{key.id}}">{{key.firstname}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item no-lines class="item-width" style="background:none;" *ngIf="ut && !notselected && dependent">
				<ion-select (ionChange)="selectEmployee($event)" style="color: white;" right>
					<ion-label>Select Healthcare Provider</ion-label>
					<ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1"
						value="{{key.id}}">{{key.firstname}}</ion-option>
				</ion-select>
			</ion-item>
		</form>
		<!-- <ion-buttons right (click)="logout()">
			<button ion-button icon-only>
				<ion-icon name="lock">Logout</ion-icon>
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>
<ion-content padding class="fadeIn">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<h1 class="app-header" style="text-align: center;"></h1>
	<ion-grid style="text-align:center;position: relative;">
		<ion-row wrap>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
				<ion-row>
					<ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
					</ion-col>
					<ion-col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2>
					</ion-col>
					<ion-col *ngIf="!patientSession || patientSession " col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>

						<ion-col style="left: 50px;" *ngIf="!patientSession" col-12 col-sm-12 col-md-4 col-lg-4
							col-xl-4>
							<button (click)="onViewAllNotifications()" style="width: 220px;" class="btn-back" ion-button
								round>View
								All
								Notifications</button>
						</ion-col>
					</ion-col>
					<!-- <ion-col *ngIf="patientSession" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
	            		<ion-searchbar [(ngModel)]="terms" (ionInput)="setFilteredEventData()" placeholder="Type to search here"></ion-searchbar>
	            	</ion-col> -->
				</ion-row>
				<ion-grid padding *ngIf="!patientSession">
					<ion-row wrap>
						<ion-col style="margin: 0px auto;" col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 offset-1
							offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1>
							<ion-row>
								<ion-col col-4 style="display: inline-flex;">
									<ion-searchbar [(ngModel)]="terms" (ionInput)="setFilteredNameData()"
										placeholder="Type to search here"></ion-searchbar>
								</ion-col>
								<ion-col></ion-col>
								<ion-col></ion-col>
								<ion-col style="margin-left: 35px;">
									<b>Delete</b>
								</ion-col>
								<ion-col>
									<b>Edit</b>
								</ion-col>
								<ion-col style="left: 10px;">
									<b>Add to Wheel</b>
								</ion-col>
								<ion-col>
									<b>Notify</b>
								</ion-col>
							</ion-row>
							<ion-row *ngIf="errmsg">
								<ion-col>
									<div class="app-description" style="text-align: center;">
										No Data Found ..!!
									</div>
								</ion-col>
							</ion-row>
							<!-- <ion-item no-lines style="background-color: #fff" *ngFor="let item of medicines;let i = index" (click)="editMedicine(item, i)" style="margin-bottom: 15px;padding:10px"> -->
							<ion-row *ngIf="SearchData">
								<ion-item class="item-list" no-lines
									*ngFor="let item of SearchData | sort: {property: column, order: order}; let idx = index;"
									style="margin-bottom: 15px;">
									<div style="display: inline;margin-top: 1.6rem;">
										<div [ngStyle]="{'background':item.color}"
											style="float:left;color:#000;margin-top: 22px;font-weight: bold;border-radius: 50%;width:25px;height: 25px;border: 2px solid black">
										</div>
										<div
											style="margin-left: 1.3rem;float:left;margin-top: 22px;font-size: 1.7rem;color: white;">
											{{item.name}}</div>
										<div style="float:right;margin-top: 16px;" (click)="onEventNotify(item)">
											<img *ngIf="item.numofdata>0"
												src="assets/images/menu-icons/notification-btn.png">
											<img *ngIf="item.numofdata==0 || item.numofdata==undefined"
												src="assets/images/menu-icons/notification-inactive.png">
										</div>
										<ion-item
											style="background-color: transparent;float:right;margin-top: 12px;width:100px">
											<ion-toggle [checked]="item.addtowheel === '1' ? true : false"
												(ionChange)="updateAddtoWheel(item,$event)"></ion-toggle>
										</ion-item>
										<div style="float:right;margin-top: 9px;margin-right: -4px;"
											(click)=" editEvent(item,idx)">
											<!-- <button expand="block" class="shadow-grey">
											<ion-icon style="font-size: 20px;color:white" name="md-create"></ion-icon>
										</button> -->
											<img style="height: 54px;width: 60px;"
												src="assets/images/menu-icons/edit.png">
										</div>
										<div style="float:right;margin-top: 16px;margin-right: 20px;"
											(click)="deleteEvent(item, idx, patientData)">
											<!-- <button expand="block" class="shadow-red">
											<ion-icon style="font-size: 20px;color:white" name="trash"></ion-icon>
										</button> -->
											<img style="height: 40px;width: 40px;"
												src="assets/images/menu-icons/delete.png">
										</div>
									</div>
									<br>
								</ion-item>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-grid>

				<ion-grid *ngIf="SearchData && patientSession">
					<ion-row>
						<ion-col (click)="sortField('name')">
							<b>Event Name</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col *ngIf="!patientSession">
							<b>Color Name</b>
						</ion-col>

						<ion-col *ngIf="patientSession">
							<b>Start Date</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col *ngIf="patientSession">
							<b>End Date</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col *ngIf="Isaction">
							<b>Action</b>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="errmsg">
						<ion-col>
							<div class="app-description" style="text-align: center;">
								No Data Found ..!!
							</div>
						</ion-col>
					</ion-row>
					<ion-row
						*ngFor="let item of SearchData | sort: {property: column, order: order};  let idx = index;">
						<ion-col style="color:#fff;" (click)="editEvent(item,idx)">
							{{item.name}}
						</ion-col>
						<ion-col *ngIf="!patientSession">
							<div [ngStyle]="{'background':item.color}"
								style="margin-left:90px;color:#000;width:50px;height: 25px;border: 2px solid white">
							</div>
						</ion-col>

						<ion-col *ngIf="patientSession" style="color:#fff;">
							{{item.presstartdate}}
						</ion-col>
						<ion-col *ngIf="patientSession" style="color:#fff;">
							{{item.presenddate}}
						</ion-col>
						<ion-col *ngIf="patientSession && Isaction">
							<div (click)="deletePatientEvent(item, idx, patientData)">
								<ion-icon name="close"></ion-icon>
							</div>
						</ion-col>
						<ion-col *ngIf="!patientSession && Isaction">
							<div (click)="deleteEvent(item, idx, patientData)">
								<ion-icon name="close"></ion-icon>
							</div>
						</ion-col>
					</ion-row>

				</ion-grid>
			</ion-col>

			<!-- <div *ngIf="patientSession" style="display: inline-flex;float: right;">
					<div *ngIf="masterDataButton" text-right class="block-insert" margin>
						<button (click)="ViewEventMaster()" style="background-color: #FB7E7E;width: 220px;"
							class="dark-button" ion-button round>
							View Master Event</button>
					</div>
					<div *ngIf="Independent" text-right class="block-insert" margin>
						<button (click)="AddPatientsEvent()" class="dark-button" ion-button round>Add Patients
							Event</button>
					</div>
				</div> -->
		</ion-row>
	</ion-grid>
	<ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
<button class="boxshadow " (click)="AddEvent()"
	style="background-color: rgb(251 126 126);height: 80px;width: 80px;position: sticky;left: 920px;top:80%;z-index: 9999;"
	ion-fab>
	<ion-icon style="font-size: 60px;" class="icAdd" name="add"></ion-icon>
</button>