<!--
  Generated template for the AppMyHealthcarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Healthcare Provider List</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <form [formGroup]="SelectList">
      <ion-select *ngIf="ut && notselected" (ionChange)="selectEmployee($event)" right>
        <ion-label>Select Healthcare Provider</ion-label>
        <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1[0].id"
          value="{{key.id}}">{{key.firstname}}</ion-option>
      </ion-select>
      <ion-select *ngIf="ut && !notselected" (ionChange)="selectEmployee($event)" right>
        <ion-label>Select Healthcare Provider</ion-label>
        <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1" value="{{key.id}}">
          {{key.firstname}}</ion-option>
      </ion-select>
    </form> -->
    <!-- <ion-buttons right (click)="logout()">
      <button ion-button icon-only>
        <ion-icon name="lock">Logout</ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding class="fadeIn">
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
      <ion-searchbar [(ngModel)]="terms" (ionInput)="setFilteredPatientsData()" placeholder="Type to search here">
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-grid padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 style="padding:5px 15px 5px 15px;">
        <ion-card text-center style="height: 177px;">
          <ion-grid>
            <ion-row>
              <ion-col col-3>
              </ion-col>
              <ion-col (click)="onAddHealthcareprovider(SearchData, 'addexist', true)">
                <img style="height: 124px;width: 124px; margin:0px auto;" src="assets/images/others/add-patients.png" />
              </ion-col>
              <ion-col col-3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>
              </ion-col>
              <ion-col>
                Add New Healthcare Provider
              </ion-col>
              <ion-col col-3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 *ngFor="let item of SearchData;let i = index;"
        style="padding:5px 15px 5px 15px;">
        <ion-card text-center style="height: 177px;">
          <ion-grid>
            <ion-row>
              <ion-col col-3 style="margin-left:16px;">
                <img *ngIf="item.image" src="{{item.image}}" />
                <img *ngIf="!item.image" style="border-radius: 50% !important ;max-width: 150% !important;height: 90px !important;width: 90px !important;" src="assets/images/nopreview.jpeg" />
              </ion-col>
              <ion-col>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <img (click)="editHealthcareProvider(item.id, false, false)" class="card-top-icon"
                        style="margin-left:5px;" src="assets/images/others/info-icon.png" />
                      <img (click)="deleteHealthcareProvidersData(item)" class="card-top-icon"
                        src="assets/images/others/delete-icon.png" />
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="margin: 9px 0px 0px 72px;">
                      <h2 style="font-size:16px; color:#fff;" text-center>{{item.firstname}}</h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row>
            <ion-col style="top: -15px;">
              <ion-label stacked>
                Email:
                <span style="color: #e0675c;margin-left: 7px;">*</span>
              </ion-label>
              <p style="font-size:12px; color:#fff;" text-center>{{item.email}}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>