<ion-content>
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close" (click)="closeModal()"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding>
        <ion-title style="margin-top: -38px;" text-center>{{Pagetitle}}</ion-title>
        <ion-row padding *ngIf="!patientSession">
            <ion-col style="margin: -15px auto;max-width: 600px;" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-item style="width: 510px;" padding transparent class="item-width">
                    <ion-label [whiteLabel] stacked>Name of Activity</ion-label>
                    <ion-input required type="text" placeholder="Medicine/Seizure/Headache/Toilet/Exercise"
                        [(ngModel)]="data.name"></ion-input>
                </ion-item>
                <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                    <ion-item style="width: 510px;" padding class="item-width" transparent>
                        <ion-label class="primarylabel">Choose Color</ion-label>
                        <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)"
                            [(ngModel)]="data.color">
                            <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors"
                                [value]="optioncolor">{{optioncolor}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item style="width: 510px;" padding transparent class="item-width">
                        <ion-label stacked>Description</ion-label>
                        <ion-textarea placeholder="Type description here" style="color:#fff;" class="item-input"
                            type="text" [(ngModel)]="data.description"></ion-textarea>
                    </ion-item>
                </ion-row>
                <ion-row style="width: 510px;margin-top: -20px;" *ngIf="patientType=='independent'">
                    <ion-col style="display: inline-flex;">
                        <ion-item class="abc" style="color:#fff;width: 420px;" padding transparent no-lines>
                            <ion-label>Recurring every day</ion-label>
                            <ion-toggle [(ngModel)]="tog" (ionChange)="onChange($event)" style="color:#fff;"
                                disabled="{{disable}}">
                            </ion-toggle>
                        </ion-item>
                        <ion-item style="width: 220px;top: 18px;height: 66px;" no-padding transparent
                            class="item-width">
                            <ion-label stacked>Select Time</ion-label>
                            <ion-datetime [disabled]="sel" style="padding: 16px 2px 20px;margin-bottom: -10px;"
                                placeholder="00:00" [(ngModel)]="data.selecttime" displayFormat="HH:mm">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-item style="width: 500px;margin-top: -10px;" class="abc" style="color:#fff;width: 331px;"
                        padding transparent class="item-width remove_inner_bottom" no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle style="color:#fff;" [checked]="data.addtowheel==='1' ? 'true' : 'false'"
                            [(ngModel)]="data.addtowheel" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item>
                    <ion-item style="width: 500px;margin-top: -10px;" class="abc" style="color:#fff;width: 331px;"
                        padding transparent class="item-width" no-lines>
                        <ion-label>Notification</ion-label>
                        <ion-toggle style="color:#fff;" [(ngModel)]="data.notification" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item>
                </ion-row>
                <div style="margin-top: -30px;margin-left: 350px;" text-center *ngIf="type=='edit'"
                    class=" block-insert" margin>
                    <button style="width: 180px;height:1.6 rem;background: rgb(105,194,209);" (click)="updateActivity()"
                        ion-button round>Update</button>
                </div>
                <div style="margin-top: -30px;margin-left: 350px;" text-center *ngIf="type=='add'" class=" block-insert"
                    margin>
                    <button style="width: 180px;height:1.6 rem;background: rgb(105,194,209);" (click)="saveActivity()"
                        ion-button round>Save</button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row padding *ngIf="patientSession" [formGroup]="EditFormGroup">
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                <ion-item style="width: 510px;" padding transparent class="item-width">
                    <ion-label [whiteLabel] stacked>Name of Activity</ion-label>
                    <ion-select formControlName="activity" [(ngModel)]="data.activity" disabled="{{disable}}"
                        (ionChange)="onChangeAddnewActivity($event)">
                        <ion-option value="{{key.id}}" *ngFor="let key of activityList;">{{key.name}}</ion-option>
                        <!-- <ion-option value="other">other</ion-option> -->
                    </ion-select>
                </ion-item>
                <ion-row style="width: 510px;">
                    <ion-col col-5>
                        <ion-item style="width: 220px;" padding transparent class="item-width">
                            <ion-label stacked>Start Date</ion-label>
                            <ion-datetime formControlName="prestartdate" placeholder="00:00"
                                [(ngModel)]="data.presstartdate" displayFormat="DD/MM/YY"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item style="margin-left: 56px;width: 220px;" padding transparent class="item-width">
                            <ion-label stacked>End Date</ion-label>
                            <ion-datetime formControlName="preenddate" placeholder="00:00"
                                [(ngModel)]="data.presenddate" displayFormat="DD/MM/YY"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!-- <ion-row style="width: 510px;">
                    <ion-col col-5>
                        <ion-item style="width: 220px;" padding transparent class="item-width">
                            <ion-label stacked>Start Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.starttime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item style="margin-left: 56px;width: 220px;" padding transparent class="item-width">
                            <ion-label stacked>End Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.endtime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-1>
                        <ion-icon name="close" style="color: #aeaebd;" (click)="deleteTime(i)" *ngIf="i!==0" margin> -->
                <!-- </ion-icon>
                    </ion-col>
                </ion-row> -->
                <ion-row>
                    <ion-col col-12>
                        <div style="color:#fff;padding-bottom: 0;position: relative;float: left;" padding>Time</div>
                    </ion-col>
                </ion-row>
                <ion-row formArrayName="tim">
                    <ng-container *ngFor="let item of tim;let i = index">
                        <!-- <ion-col col-6>
                            <ion-item transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Diagnosis</ion-label>
                                <ion-input formControlName="dose" style="margin-top:0.5em;margin-bottom:0.5em"
                                    placeholder="medicine taken" [(ngModel)]="item.dose" type="text"></ion-input>
                            </ion-item>
                        </ion-col> -->
                        <ion-col col-6>
                            <ion-item style="margin-top: 10px;" transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Time</ion-label>
                                <ion-datetime style="padding: 0px 0px 0px 0px !important;color:white"
                                    formControlName="time" placeholder="add time" [(ngModel)]="item.time"
                                    displayFormat="HH:mm">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon style="color:white" name="close" (click)="deleteDiagnosis(i)" margin></ion-icon>
                        </ion-col>
                    </ng-container>
                </ion-row>
                <div style="color:White;position:relative ;float:left;" padding (click)="addDiagnosis()">
                    <ion-icon name="add"></ion-icon>
                    Add event time
                </div>
                <ion-row style="width: 350px;">
                    <ion-item style="width: 350px;" padding transparent class="item-width" no-lines>
                        <ion-label style="color:#fff;">Recurring Daily</ion-label>
                        <ion-toggle formControlName="recurringDaily" [(ngModel)]="data.recurringDaily"
                            disabled="{{disable}}"></ion-toggle>
                    </ion-item>
                    <ion-item style="color:#fff;width: 350px;" padding transparent class="item-width" no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle formControlName="enableStandardWheel" style="color:#fff;"
                            [(ngModel)]="data.addtostandardwheel" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item>
                    <div text-center class="block-insert" margin *ngIf="!disable">
                        <button
                            style="left: 330px;margin-top: -15px;width: 180px;height:1.6 rem;background: rgb(105,194,209);"
                            *ngIf="eventType" (click)="updatePatientsActivity(patientData, patientData.userid)"
                            ion-button round>Update</button>
                    </div>
                </ion-row>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>