<ion-header>
    <ion-navbar>
        <ion-title text-center>Add Prescription</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid padding >
        <ion-row>
            <ion-col>
                <div class="app-description">
                    Please fill all the info below
                </div>
            </ion-col>
        </ion-row>
        <form [formGroup]="medicineform">
            <ion-row wrap padding>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Medicine Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input type="text" placeholder="Type name of medicine here"  formControlName="medicinename" [(ngModel)]="data.medicinename"></ion-input>
                    </ion-item>
                    <p *ngIf="!medicineform.controls.medicinename.valid && (medicineform.controls.medicinename.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please enter Medicine Name</p>
                    <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                        <ion-item padding class="item-width" transparent>
                            <ion-label class="primarylabel">Choose Color</ion-label>
                            <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)" formControlName="color" [(ngModel)]="data.color">
                                <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors" [value]="optioncolor">{{optioncolor}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                    <p *ngIf="!medicineform.controls.color.valid && (medicineform.controls.color.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Choose colour</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle [(ngModel)]="data.enableStandardWheel" formControlName="enableStandardWheel"></ion-toggle>
                    </ion-item>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >Active Ingredients</ion-label>
                        <ion-input type="text" placeholder="Type active ingredients here" formControlName="activeingredients" [(ngModel)]="data.activeingredients"></ion-input>
                    </ion-item>

                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                	<ion-row>
                    <ion-col col-12>
    		                <ion-item padding transparent class="item-width">
    		                    <ion-label stacked>
                                    Company
                                    <span style="color: #e0675c;margin-left: 7px;">*</span>
                                </ion-label>
    		                    <ion-input  placeholder="Type company here" type="text" formControlName="dose" [(ngModel)]="data.dose"></ion-input>
    		                </ion-item>
                            <p *ngIf="!medicineform.controls.dose.valid && (medicineform.controls.dose.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please enter Dose</p>
    	                </ion-col>
    	            </ion-row>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Area of Use
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input  placeholder="Type area of use here" type="text" formControlName="areaofuse" [(ngModel)]="data.areaofuse"></ion-input>
                    </ion-item>
                    <p *ngIf="!medicineform.controls.areaofuse.valid && (medicineform.controls.areaofuse.dirty || submitAttempt)"  style="color: #e0675c;margin: 0px 17px;">Please enter Area of Use</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label>Notification for use during the day?</ion-label>
                        <ion-toggle [(ngModel)]="data.enablenotification" formControlName="enablenotification"></ion-toggle>
                    </ion-item>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Notes</ion-label>
                        <ion-textarea  placeholder="Type notes here" type="text" formControlName="notes" [(ngModel)]="data.notes"></ion-textarea>
                    </ion-item>
                    <ion-row>
                        <div class="block-insert" margin right>
                            <button (click)="addPatientMedicineDetails()" right class="dark-button" ion-button round>Save</button>
                        </div>
                    </ion-row>
                    <ion-row>
                        <div class="app-description margin-3t">
                            Is this a prescripted medicine, <span class="link" (click)="addPatientMedicineDetails('prescription')">click here to add more details </span>
                        </div>
                    </ion-row>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
