page-app-quaterly-report {
    .rect-box {
        width: 150px;
        height: 140px;
        margin: 32px 55px 45px 40px;
        padding: 8px 0 11px;
        object-fit: contain;
        border-radius: 12px;
        background-color: #3a4159;
    }
    .rect-box2 {
        width: 140px;
        height: 140px;
        margin: 32px 55px 45px 0px;
        padding: 8px 0 11px;
        object-fit: contain;
        border-radius: 12px;
        background-color: #3a4159;
        left: 20px;
        position: relative;
    }
    .rect-box1 {
        width: 214px;
        height: 140px;
        margin-left: -35px !important;
        margin: 32px 19px 45px 0px;
        padding: 8px 0 17px;
        object-fit: contain;
        border-radius: 12px;
        background-color: #3a4159;
    }

    .copy-text {
        margin: 0 56px 10px 11px;
        font-family: HelveticaNeue;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.58px;
        color: #81889f;
    }

    .copy-text2 {
        float: left;
        margin: 0 51px 7px 11px;
        width: 196px;
    }
    .count {
        margin: 10px 29px 1px 30px;
        font-family: HelveticaNeue;
        font-size: 46px;
        text-align: center;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.92px;
        color: #ffffff;
    }
    .time {
        margin: 10px 0px 1px 0px;
        font-family: HelveticaNeue;
        font-size: 46px;
        text-align: center;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.92px;
        color: #ffffff;
    }
    .registrations {
        // margin: -5px 15px 0 17px;
        font-family: HelveticaNeue;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.22px;
        text-align: center;
        color: #81889f;
    }
    .hr1 {
        border: 2px solid #6bb1d6;
        background: #6bb1d6;
    }
    .hr12 {
        border: 2px solid #e26060;
        background: #e26060;
    }
    .hr13 {
        border: 2px solid #fad000;
        background: #fad000;
    }
    .hr14 {
        border: 2px solid #afdb07;
        background: #afdb07;
    }

    .hr2 {
        border: 0px solid #81889f;
        background: #81889f;
    }
    .hr3 {
        border: 0px solid #81889f;
        background: #81889f;
        margin-top: 30px;
    }
    sub {
        bottom: 0px;
        color: #81889f;
        font-size: 15px;
    }
    .chart-container {
        height: 110vh;
        width: 30vw;
        margin-top: 40px !important;
        margin-left: -20px !important;
        position: relative;
        left: 13px;
    }
    .chart-container1 {
        height: 110vh;
        width: 30vw;
    }
    .sleep {
        width: 12px;
        height:12px;
        border-radius: 10px;
        background-color: #6bb1d6;
        margin-top: 20px;
        margin-right: 10px;
    }
    .comfort {
        height: 12px;
        width: 12px;
        border-radius: 10px;
        background-color: #afdb07;
        margin-left:10px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .distress {
        height: 12px;
        width: 12px;
        border-radius: 10px;
        background-color: #e26060;
        margin-top: 20px;
        margin-left:10px;
        margin-right: 10px;
    }
    .uncomfort {
        height: 12px;
        width: 12px;
        border-radius: 10px;
        background-color: #fad000;
        margin-top: 20px;
        margin-left:10px;
        margin-right: 10px;
    }
    .p1 {
        font-size: 16px;
        margin-right: 10px;
    }
}
 