page-app-privacy {
  // .radio.item-radio > input[type="radio"]:checked ~ .item-content {
  //     background-color: #fff;
  // }
  .btn {
    width: 170px;
    height: 1.6 rem !important;
    height: 55px;
    background: rgb(105, 194, 209);
    font-size: 24px;
    float: right;
    position: relative;
    top: -30px;
  }
  .Patient-Profile-info-Copy-6 {
    width: 153px;
    height: 19px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
  .no-scroll .scroll-content{
    overflow: hidden;
}
  // .radio.item-radio > input[type="radio"]:checked ~ .item-content {
  //     background-color: #fff;
  // }

  .radio-md .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
  }
  .radio-ios .radio-checked .radio-inner {
    left: 3px;
    top: 3px;
    position: absolute;
    border-radius: -18px;
    width: 10px;
    height: 10px;
    border-width: 5px;
    border-top-width: 1px;
    border-left-width: 5px;
    border-style: solid;
    border-color: #69c2d1;
  }
}
