<ion-header>
  <ion-navbar>
    <ion-title>Privacy</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="width: 500px;text-align: left;margin: 20px auto;">
    <!-- <ion-row>
      <ion-item style="margin-left: -14px;height:50px">
        <ion-label>Language</ion-label>
        <ion-select  style="color: white;" readonly [(ngModel)]="data.language" >
          <ion-option value="English">English</ion-option>
          <ion-option value="Spanish">Spanish</ion-option>
          <ion-option value="German">German</ion-option>
          <ion-option value="French">French</ion-option>
        </ion-select>
      </ion-item>
    </ion-row> -->
    <!-- <ion-row> 
      <ion-col>
        <p style="color: white;font-size: 14px;"> Apply Notifications
          to
          your device?</p>
        <div>
          <ion-list radio-group [(ngModel)]="data.isNotification" name="notification"
            style="display: -webkit-inline-box;position:relative;margin-top: -25px !important;">
            <ion-item no-lines>
              <ion-radio style="position: relative;right:130px;" class="radio radio-md" slot="start" value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row> -->
    <ion-row style="margin-top: -10px;">
      <ion-col>
        <p style="color: white;font-size: 14px;">Do you accept your data will be used for data analysis to provide you with personalized reporting?</p>
        <div style="display: inline-flex;margin-bottom: -25px;margin-top: -25px;">
          <ion-list radio-group [(ngModel)]="data.isReport" name="report" style="display: -webkit-inline-box;">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row style="margin-top: -10px;">
      <ion-col>
        <p style="color: white;font-size: 14px;">Do you accept your
          data
          is used anonomously for statistical analysis improving
          the
          application- and offering you as an
          end users with
          comparible data analysis to your own data?</p>
        <div style="display: inline-flex;margin-bottom: -25px;margin-top: -25px;">
          <ion-list radio-group [(ngModel)]="data.isStatistical" name="statistical"
            style="display: -webkit-inline-box;">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -10px;">
      <ion-col>
        <p style="color: white;font-size: 14px;">Do you accept to
          provide data providers a copy of your data as part
          of a big dataset for analysis for different purposes,
          for a fee, based
          on the condition that you approve each instance its
          applicable
          and
          decide which data who decide to share? Data shared under this agreement is for one purpose/one time only, and
          cannot be used for other types
          of analyses without your specific consent.</p>
        <div style="display: inline-flex;margin-top: -25px;">
          <ion-list radio-group [(ngModel)]="data.isCopy" name="copy" style="display: -webkit-inline-box;">
            <ion-item no-lines>
              <ion-radio style="right: 150px;position: relative;right:130px;" class="radio radio-md" slot="start"
                value="1">
              </ion-radio>
              <ion-label style="color:white;position: relative;left:45px;">Yes</ion-label>
            </ion-item>
            <ion-item no-lines style="right: 100px;">
              <ion-radio checked style="right: 150px;position: relative;right:130px;" class="radio radio-md"
                slot="start" value="0"></ion-radio>
              <ion-label style="color:white;position: relative;left: 45px;">No</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row> -->
    <button (click)="addupdatePrivacy()" class="btn" ion-button round>Save</button>
  </div>

</ion-content>