<ion-header>
    <ion-navbar>
        <ion-title *ngIf="action === ''" text-center>Add Patient</ion-title>
        <ion-title *ngIf="action === 'view'" text-center>View Patient</ion-title>
        <ion-title *ngIf="action === 'edit'" text-center>Edit Patient</ion-title>

    </ion-navbar>
</ion-header>
<ion-content white-background>
    <ion-grid padding >
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 style="padding:30px">
                <ion-item no-padding transparent no-lines text-center class="item-width" >
                    <div padding style="border:2px solid #4ECDC4;color:#444; border-radius: 5px">
                        <div #imageUploader><img style="width:40%;" [src]="upload"  (click)="!readonly && ImageUpload() "></div>
                        <div #previewImage> <img  [src]="data.image" *ngIf="data.image" />
                        </div>
                        <div #removePhotoIcon style="margin:auto;width: 10%;display: none">
                            <ion-icon name="close-circle"  (click)="!readonly && removeImage()"></ion-icon>
                        </div>
                        <div #addPhotoCaption><b>Add Your Photo</b></div>
                    </div>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Name</ion-label>
                    <ion-input [disabled]="readonly" required type="text" [(ngModel)]="data.name" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Birth Date</ion-label>
                    <ion-datetime [disabled]="readonly" [(ngModel)]="data.birthDate" displayFormat="DD/MM/YYYY" style="margin:8px;padding:0px"></ion-datetime>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Sex</ion-label>
                    <ion-select [disabled]="readonly" [(ngModel)]="data.sex">
                        <ion-option value="f">Female</ion-option>
                        <ion-option value="m">Male</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Email Address</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.email" required type="text" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Address</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.address" required type="text" ></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Language Preferred</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.languagePreferred" required type="text" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Diagnosis</ion-label>
                    <ion-select [disabled]="readonly" [(ngModel)]="data.diagnosis">
                        <ion-option value="Diabetes">Diabetes</ion-option>
                        <ion-option value="Cancer">Cancer</ion-option>
                    </ion-select>
                </ion-item>
                <h1 style="margin-bottom: 0;margin-top: 4rem">Contact Persons:</h1>
                <ion-item no-padding transparent class="item-width">

                    <ion-label floating>Physician</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.physician" required type="text" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Doctor</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.doctor" required type="text" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Specialist</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.specialist" required type="text" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Relative</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.relative" required type="text" ></ion-input>
                </ion-item>
                <ion-item no-padding transparent class="item-width">
                    <ion-label floating>Emergency</ion-label>
                    <ion-input [disabled]="readonly" [(ngModel)]="data.emergency" required type="text" ></ion-input>
                </ion-item>
                <div class="block-insert" *ngIf="action === ''" style="margin-top: 20px">
                    <button default-button block round ion-button (click)="addPatientDetails()">Done</button>
                </div>
                <div class="block-insert" *ngIf="action === 'view'" style="margin-top: 20px">
                    <button default-button block round ion-button (click)="editPatientDetails()">Edit Details</button>
                </div>
                <div class="block-insert" *ngIf="action === 'edit'" style="margin-top: 20px">
                    <button default-button block round ion-button (click)="updatePatientDetails()">Update Details</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
