
app-patient-details{

  $label-md-text-color-focused: #444;
  $text-input-md-highlight-color: #444;

  [card-image] {
    position: relative;
    @include darkening-blend-mode;
    &::before {
      z-index: 3;
    }
    img {
      width: 100% !important;
    }
    [card-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: absolute;
      left: 16px;
      bottom: 20px;
      z-index: 999;
    }
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #444 !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #444 !important;
  }

  .item.item-input.input-has-focus {
    border-bottom: 2px solid #444 !important;
  }

  .item-inner{
    border:0 !important;
  }

  .datetime-text{margin-left:1rem !important;}

  [login-background] {
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .item-input .label, .item-select .label,  .label{
    color:#444 !important;
  }

  .item-datetime {
    color:#444 !important;
  }

  .item-width{
    width: 80% !important;
  }


}
