<!--
  Generated template for the AppTipPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>app_tip</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-slides pager="true">

        <ion-slide>
            <div>
              <img style="padding-top: 25px; width: 56%;" src="assets/imgs/wheelTip.png" />
              <p style="margin-left: 130px; width: 70%;"> </p>
                  <img style="padding-top: 25px; margin-left: 460px;" src="assets/imgs/next.png" />
            </div>
        </ion-slide>
    
        <ion-slide>
          <div>
            <img style="padding-top: 25px; width: 56%;" src="assets/imgs/healthcare.png" />
            <p style="margin-left: 130px; width: 70%;"></p>
              <img style="padding-top: 25px; margin-left: 460px;" src="assets/imgs/next.png" />
          </div>
        </ion-slide>
    
        <ion-slide>
          <div>
            <img style="padding-top: 25px; width: 56%;" src="assets/imgs/your_health.png" />
            <p style="margin-left: 130px; width: 70%;"> </p>
          </div>
        </ion-slide>
      </ion-slides>
   
</ion-content>
