<ion-header>
	<ion-navbar>
		<ion-title text-center>Contacts</ion-title>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>
<ion-content padding class="fadeIn">
	<ion-grid style="text-align:center;position: relative;">
		<ion-row wrap>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
				<ion-row>
					<ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
					</ion-col>
					<ion-col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2>
					</ion-col>
					<ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
						<ion-searchbar [(ngModel)]="terms" (ionInput)="setFilteredContactsData()"
							placeholder="Type to search here"></ion-searchbar>
					</ion-col>
				</ion-row>
				<ion-grid style="margin: 0px 25px;" *ngIf="SearchData">
					<ion-row style="text-align: left;">
						<ion-col (click)="sortField('name')">
							<b>Name</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col (click)="sortField('relationship')">
							<b>Relationship</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col (click)="sortField('address')">
							<b>Address</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col (click)="sortField('phone')">
							<b>Phone Number</b>
							<ion-icon name="md-arrow-dropdown"></ion-icon>
						</ion-col>
						<ion-col>
							<b>Action</b>
							<!-- <ion-icon name="md-arrow-dropdown"></ion-icon> -->
							<!-- <ion-icon *ngIf="order == 1" name="md-arrow-dropup"></ion-icon> -->
						</ion-col>
					</ion-row>
					<ion-row style="text-align: left;"
						*ngFor="let item of SearchData | sort: {property: column, order: order};let i = index">
						<ion-col style="color:#fff;font-weight: 800;margin-top: 10px;"
							>
							{{item.name}}
						</ion-col>
						<ion-col style="margin-top: 10px;">
							{{item.relationship}}
						</ion-col>
						<ion-col style="margin-top: 10px;">
							{{item.address}}
						</ion-col>
						<ion-col style="margin-top: 10px;">
							{{item.phone}}
						</ion-col>
						<ion-col>
							<!-- <div  (click)="deleteContectData(item, item.id)">
									<ion-icon name="close"></ion-icon>
								</div> -->
							<ion-row style="margin-top: -10px;margin-left: -30px;">
								<div style="margin-top: 4px;">
									<img style="height: 54px;width: 60px;" (click)="EditContactsPopup(item,i)"
										src="assets/images/menu-icons/edit.png">
								</div>
								<div style="margin-top: 9px;">
									<img style="height: 40px;width: 40px;" (click)="deleteContectData(item, item.id)"
										src="assets/images/menu-icons/delete.png">
								</div>
							</ion-row>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="SearchData?.length == 0">
						<ion-col>
							<div class="app-description" style="text-align: center;">
								No Data Found ..!!
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
				<div text-right class="block-insert" margin>
					<button (click)=" AddContact()" class="dark-button" ion-button round>Add Contact</button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<!-- <ion-split-pane when="xs"> -->
<!-- <ion-menu id="TipMenuContact" persistent="true" side="right" [content]="contentContact">
      <ion-content main-menu style="text-align: center;">
            <ion-list no-margin no-padding>
            	<img width="50" height="50" src="{{patientData.data.image}}" style="border-radius: 50%;margin-top:10px;" />
                <ion-label style="padding-top:0px;" *ngIf="patientData.data.image" class="MenuItemLabel" paddinge-left menuClose no-lines item-title >
                	{{patientData.data.name}}
               	</ion-label>
	            <ion-label *ngFor="let p of pages" class="MenuItemLabel" paddinge-left menuClose no-lines item-title (click)="openPage(p)" style="">
	            	<div class="menuicon">
	            		<img *ngIf="p.icon" src="assets/images/menu-icons/{{p.icon}}" style="margin-top:10px;" />
	            	</div>
	         		{{p.title}}
	         	</ion-label>
         	</ion-list>
      </ion-content>
  </ion-menu> -->
<!-- </ion-split-pane> -->