<ion-header>
   <ion-navbar>
 <ion-buttons right>
     <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
 </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid padding>
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <h1 class="app-header">{{title}}</h1>
                <div class="app-description margin-3t">
                    {{description}}
                </div>

                <div class="margin-4t" style="text-align: center">
                    <button (click)="closeModal()" class="dark-button" ion-button round>
                        Ok
                    </button>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>

