
<ion-header>

  <ion-navbar>
    <ion-title>My Nurse List</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <form [formGroup]="SelectList">
      <ion-select style="color: white;" *ngIf="ut && notselected" (ionChange)="selectEmployee($event)" right>
        <ion-label>Select Healthcare Provider</ion-label>
        <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1[0].id"
          value="{{key.id}}">{{key.firstname}}</ion-option>
      </ion-select>
      <ion-select style="color: white;" *ngIf="ut && !notselected" (ionChange)="selectEmployee($event)" right>
        <ion-label>Select Healthcare Provider</ion-label>
        <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1" value="{{key.id}}">
          {{key.firstname}}</ion-option>
      </ion-select>
    </form>
    <!-- <ion-buttons right (click)="logout()">
      <button ion-button icon-only>
        <ion-icon name="lock">Logout</ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<br>
<ion-content padding class="fadeIn">
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
      <ion-searchbar [(ngModel)]="terms" (ionInput)="setFilteredPatientsData()" placeholder="Type to search here">
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-grid padding *ngIf="data != null">
    <ion-row>
      <ion-col *ngIf="noDelete" col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 style="padding:5px 15px 5px 15px;">
        <ion-card text-center style="height: 200px;">
          <ion-grid>
            <ion-row>
              <ion-col col-3>
              </ion-col>
              <ion-col (click)="onAddNurse(SearchData, 'myNurse')">
                <img style="height: 140px;width: 150px; margin:0px auto;" src="assets/images/others/add-patients.png" />
              </ion-col>
              <ion-col col-3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Add New Nurse
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 *ngFor="let item of SearchData;let i = index;"
        style="padding:5px 15px 5px 15px;">
        <ion-card text-center style="height: 200px;">
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <img *ngIf="item.image" style="border-radius: 50%;height: 64px;width: 64px;" src="{{item.image}}" />
                <img *ngIf="!item.image" style="border-radius: 50%;height: 64px;width: 64px;"
                  src="assets/images/nopreview.jpeg" />

              </ion-col>
              <ion-col col-8>
                <img (click)="editnurse(item, false)" class="card-top-icon" style="margin-left:5px;"
                  src="assets/images/others/info-icon.png" />
                <img (click)="deletenursesData(item)" class="card-top-icon"
                  src="assets/images/others/delete-icon.png" />
                <h2 style="font-size:16px; color:#fff;" text-center>{{item.firstname.substring(0,24)}}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label stacked>
                  Email:
                  <span style="color: #e0675c;">*</span>
                </ion-label>
                <p style="font-size:12px; color:#fff;" text-center>{{item.email}}</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="noDelete">
              <ion-col>
                <button class="button-patient" ion-button margin round outline medium style=""
                  (click)="onSelectedPatient(item, '', 'nurses', false)">View Patients</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="SearchData?.length == 0">
      <ion-col>
        <div class="app-description" style="text-align: center;">
          No Data Found ..!!
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>