app-welcome-screen{

  .screen-center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .app-header {
    font-weight:bold;
    font-size:2.3em;
  }

  .app-description {
      font-size: 12px;
      letter-spacing: 0.3px;
      font-weight: 500;
  }

  .margin-3t {
    margin-top:3em;
  }

  .margin-4t {
    margin-top:4em;
  }

  .button-margin{
    margin-left:1.2rem;
    margin-right:1.2rem;
  }
}

