<ion-content class="fadeIn">
    <ion-grid class="screen-center">
        <ion-row wrap>
            <ion-col col-12 col-sm-12 col-md-8 offset-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                    <img src="assets/imgs/logo-victory.png" />
                <h1 class="app-header">Welcome to Victor(y) Care</h1>
                <div class="app-description margin-3t">

                    We give chronical ill and at-home care patients at tool to gain insight into their subjective health status
                    and helping them communicate their health status clearly and precise to care professionals and their relatives.
                </div>
                <div class="margin-4t">
                    <img (click)="signUp()" class="button-margin" src="assets/app-images/btnSignUp.png" />
                    <img (click)="signIn()" class="button-margin" src="assets/app-images/btnLogIn.png"/>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>