
<ion-header>

  <ion-navbar>
      <ion-title *ngIf="!this.action" text-center>Add Healthcare Provider</ion-title>
      <ion-title *ngIf="this.action" text-center>Edit Healthcare Provider Profile</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <!-- <ion-buttons right (click)="logout()">
          <button ion-button icon-only><ion-icon name="lock">Logout</ion-icon></button>
      </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid padding >
      <ion-row>
          <ion-col>
              <div *ngIf="!this.action" class="app-description">
                  Please fill all the info below
              </div>
              <div *ngIf="this.action" class="app-description">
                  You can edit or fill all info below
              </div>
          </ion-col>
      </ion-row>
      <form [formGroup]="Profileform">
          <ion-row wrap padding>
              <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                  <ion-row>
                      <ion-col col-2></ion-col>
                      <ion-col col-8>
                          <div no-padding transparent no-lines text-center class="item-width" >
                              <div *ngIf="!data.image" padding style="background: #39415b; color:#444; border-radius: 10px">
                                  <div #imageUploader><img style="width:30%;" [src]="upload"  (click)="!readonly && ImageUpload()"></div>
                                  <div #addPhotoCaption style="color:#fff;">Add Healthcare Providers Photo</div>
                              </div>
                              <div #previewImage> <img style="border-radius:20px" [src]="data.image" *ngIf="data.image" ></div>
                              <div #removePhotoIcon style="margin:auto;width: 10%;display: none">
                                  <ion-icon name="close-circle"  (click)="!readonly && removeImage()"></ion-icon>
                              </div>

                          </div>
                      </ion-col>
                      <ion-col col-2></ion-col>
                  </ion-row>
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          User Type
                          <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                      </ion-label>
                      <ion-input formControlName="usertype" style="color:#666 !important;" type="text" readonly [(ngModel)]="data.usertype" ></ion-input>
                  </ion-item>
                  <ion-item *ngIf="addexist" class="item-width" style="background:none;">
                    <ion-label>Select Healthcare Provider</ion-label>
                    <ion-select formControlName="storedDoctors" [(ngModel)]="data.storedDoctors" (ionChange)="checkState($event)">
                      <ion-option *ngFor="let key of data1.newDoctors[0];" value="{{key.id}}">{{key.firstname}}</ion-option>
                    </ion-select>
                  </ion-item>
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          Name
                          <span style="color: #e0675c;margin-left: 7px;">*</span>
                      </ion-label>
                      <ion-input formControlName="name" type="text" placeholder="Type your name here" [(ngModel)]="data.name" disabled="{{enableDiv}}"></ion-input>
                  </ion-item>
                  <p *ngIf="!Profileform.controls.name.valid && (Profileform.controls.name.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Name</p>
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          Establishment Date
                          <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                      </ion-label>
                      <ion-datetime  formControlName="birthDate" placeholder="DD/MM/YYYY" [(ngModel)]="data.birthdate" displayFormat="DD/MM/YYYY" style="margin:8px;padding:0px" disabled="{{enableDiv}}"></ion-datetime>
                  </ion-item>
                  <p *ngIf="!Profileform.controls.birthDate.valid && (Profileform.controls.birthDate.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Select Birthdate</p>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          Email Address
                          <span  style="color: #e0675c;margin-left: 7px;">*</span>
                      </ion-label>
                      <ion-input formControlName="email" placeholder="Select your email address here"  [(ngModel)]="data.email" type="text" disabled="{{enableDiv}}"></ion-input>
                  </ion-item>
                  <p *ngIf="!Profileform.controls.email.valid && (Profileform.controls.email.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please enter valid Email</p>
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          Mobile Number
                          <span  style="color: #e0675c;margin-left: 7px;">*</span>
                      </ion-label>
                      <ion-input formControlName="mobile" placeholder="Enter Mobile Number"  [(ngModel)]="data.mobile" type="text" disabled="{{enableDiv}}"></ion-input>
                  </ion-item>
                  <p *ngIf="!Profileform.controls.mobile.valid && (Profileform.controls.mobile.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Mobile Number</p>

                  <ion-item padding transparent class="item-width">
                      <ion-label stacked>Full Address
                        <span  style="color: #e0675c;margin-left: 7px;">*</span>
                      </ion-label>
                      <ion-input formControlName="address" placeholder="Street/ Building No/ Zip/ City/ Country" [(ngModel)]="data.street" type="text" disabled="{{enableDiv}}"></ion-input>
                  </ion-item>
                  <!-- <img class="location" src="assets/images/map.png" /> -->
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked>Description
                        <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                      </ion-label>
                      <ion-textarea formControlName="description"  placeholder="Type description here" type="text" [(ngModel)]="data.description" disabled="{{enableDiv}}"></ion-textarea>
                  </ion-item>
                  <p *ngIf="!Profileform.controls.description.valid && (Profileform.controls.description.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Add Description</p>
                  <div *ngIf="showSaveButton" class="block-insert" margin>
                      <button (click)="addHealthcareproviderDetails()" class="dark-button" ion-button round>
                          Save
                      </button>
                  </div>
              </ion-col>
          </ion-row>
      </form>
  </ion-grid>
</ion-content>
