page-app-patient-contacts-modal {

	$label-md-text-color-focused: #444;
  $text-input-md-highlight-color: #444;

    .label {
    color:#000 !important;
    margin-bottom: 0 !important;
    margin-top:0 !important;

  }

  .toolbar .toolbar-background{
    /*
    border-bottom: 2px solid #fff;
    */
  }

  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
    // border-bottom: 2px solid #fff !important;
  }

  .label[stacked],ion-label[stacked]{
    font-size:1.5rem;
  }

  .select-text, .datetime-text{color:#fff}


  .toolbar .toolbar-title{
    font-size:2rem;text-transform: none;font-weight: 500;
    // margin-top:2rem;
  }

  .toolbar .toolbar-background{
    background: #2b3249 !important;
  }

  .dark-button{
      background: #69c2d1;
      font-weight: bold;
  }

  .contain{
   background-color: #2b3249 !important;
   color:#fff ;
  }
}
