<ion-content class="contain fadeIn">
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid>
        <ion-title style="margin-top: -25px;" text-center>{{PageTitle}}</ion-title>
        <form [formGroup]="Contectform">
            <ion-row wrap>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style="padding:30px;padding-top:10px">

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="name" required placeholder="Type name here" type="text"
                            [(ngModel)]="data.name"></ion-input>
                    </ion-item>
                    <p *ngIf="!Contectform.controls.name.valid && (Contectform.controls.name.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Name</p>

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Relationship
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="relationship" placeholder="Type here" required type="text"
                            [(ngModel)]="data.relationship">
                        </ion-input>
                    </ion-item>
                    <p *ngIf="!Contectform.controls.relationship.valid && (Contectform.controls.relationship.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Relationship</p>

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Phone
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="mobile" placeholder="0-000-000-000" required type="text"
                            [(ngModel)]="data.phone"></ion-input>
                    </ion-item>
                    <p *ngIf="!Contectform.controls.mobile.valid && (Contectform.controls.mobile.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Mobile Number</p>

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Notes</ion-label>
                        <ion-input formControlName="notes" placeholder="Type here notes" required type="text"
                            [(ngModel)]="data.notes"></ion-input>
                    </ion-item>
                    <p *ngIf="!Contectform.controls.notes.valid && (Contectform.controls.notes.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Notes</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Full Address</ion-label>
                        <ion-input formControlName="address" placeholder="Street/ Building No/ Zip/ City/ Country"
                            [(ngModel)]="data.address" required type="text"></ion-input>
                    </ion-item>
                    <p *ngIf="!Contectform.controls.address.valid && (Contectform.controls.address.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter address</p>
                    <!-- <div class="map-wrapper">
                        <div id="map_center">
                            <img src="assets/icon/location-marker.png" />
                        </div>
                        <div #map id="map"></div>
                    </div> -->

                    <div text-center class="block-insert" margin>
                        <button style="width: 180px;margin-left: 20px;" *ngIf="!ContactsType" (click)="savePatientContact()"
                            class="dark-button" ion-button round>Save</button>
                        <button style="width: 180px;margin-left: 20px;" *ngIf="ContactsType" (click)="updateContactsData()"
                            class="dark-button" ion-button round>update</button>
                    </div>

                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>