<ion-content padding class="fadeIn">
    <ion-buttons left>
        <button style="background-color:transparent;" (click)="goBack()" ion-button icon-only>
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <h1 class="app-header" style="margin-top: 15px;margin-right: 50px;">Login</h1>
    <ion-grid style="text-align:center;position: relative;">
        <ion-row wrap>
            <ion-col col-12 col-sm-12 col-md-8 offset-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!-- <h1 class="app-header">Log in</h1> -->
                <div class="app-description margin-3t">
                    Don't have an account? <span class="link" (click)="goToSignUpPage()">Sign up </span>
                </div>

                <div class="alert alert-danger fade in alert-dismissible" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>

                <ion-item margin transparent no-lines>
                    <ion-label [whiteLabel] stacked>Email Address</ion-label>
                    <ion-input required type="text" placeholder="Type your email address here" [(ngModel)]="email">
                    </ion-input>
                </ion-item>

                <ion-item margin transparent no-lines>
                    <ion-label [whiteLabel] stacked>Password</ion-label>
                    <ion-input required [type]="passwordType" placeholder="Type your password here"
                        [(ngModel)]="password" (keyup.enter)="onLogin()" show-hide-input>
                    </ion-input>
                    <ion-icon style="color:#81889f;margin-top: 50px;" [name]="passwordIcon" item-right (click)="hideShowPassword()">
                    </ion-icon>
                </ion-item>

                <div class="app-description margin-3t">
                    Forgot your password? <span class="link" (click)="recoverPassword()">Remind me </span>
                </div>

                <div class="app-description margin-4t">
                    <ion-checkbox [(ngModel)]="rememberme"></ion-checkbox>
                    <!-- Remember me and stay Log In -->
                    Remember me for next login
                </div>
                
                <div class="margin-4t">
                    <img (click)="onLogin()" class="button-margin" src="assets/app-images/btnLogIn.png" />
                </div>
                <!-- <div class="app-description margin-4t">
                    Or Log in using social media account
                </div>
                <div class="margin-4t">
                    <img class="button-margin" (click)="loginwithfackbook()" src="assets/app-images/facebook.png" />
                    <img class="button-margin" (click)="loginwithgoogle()" src="assets/app-images/google.png" />
                    <img class="button-margin" src="assets/app-images/microsoft.png" />
                </div> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>