

app-login{

  .alert{
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .screen-center{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .margin-3t{
    margin-top:3rem;
  }


  .margin-4t{
    margin-top:4rem;

  }
  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
 //   border-bottom: 2px solid #fff !important;
  }

  path {
    stroke: #444;
    stroke-width: 0.5;
    cursor: pointer;
  }

  text {
    font: 11px sans-serif;
    cursor: pointer;
  }

  body {
    width: 880px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin: .5em 0;
  }

  p#intro {
    text-align: center;
    margin: 1em 0;
  }
}

// @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
//   .modal-reset {
//       left: calc(50% - (400px/2));
//       top: calc(50% - (500px/2));
//       position: absolute;
//       width: 50%;
//       height: 50%;
//   }
// }

  .modal-wrapper1 {
    height: 350px !important;
    border-radius: 10px !important;
    top: 200px;
  }
