<!--
  Generated template for the LinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>line</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row wrap padding>
    <ion-col class="left-timeline" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 padding>
      <div class="container" style="padding-left: 16px;">
          <ul>
            <!-- <li *ngFor="let item of WheelActivityData">
              <div  ><span></span>
                <div class="title">{{item.description}}</div>
                </div> <span class="number"><span>{{item<div class="innerpoint-timeline" style="background-color: #d25959;border: 5px solid #7e4651;"></div>.start}}</span> <span><div class="innerpoint-timeline" style="background-color: #d25959;border: 5px solid #7e4651;"></div>{{item.end}}</span></span>
            </li> -->
            <li *ngFor="let item of WheelActivityData">
              <div><span></span>
                <div class="title">{{item.name}}</div>
                <div class="info">{{item.description}}</div>
                </div> <span [style.backgroundColor]= item.color class="number"><span><div class="innerpoint-timeline" [style.backgroundColor]= item.color  [style.border-color]= item.bordercolor></div>{{item.start}}</span> <span><div class="innerpoint-timeline" [style.backgroundColor]= item.color [style.border-color]= item.bordercolor></div>{{item.end}}</span></span>
            </li>                     
          
          </ul>
      </div>
    </ion-col>
  </ion-row>
    <ion-fab  right middle #fab>
        <button style="background-color: #E26060;" ion-fab ><ion-icon name="add"></ion-icon></button>
        <ion-fab-list (click)="addActivity()" side="top">
          <button  (click)="fab.close()" class="text">Add Activity</button>
        </ion-fab-list>
        <ion-fab-list (click)="addMedicien()" side="left">
            <button  (click)="fab.close()" class="text">Add Medicien</button>
          </ion-fab-list>
          <ion-fab-list (click)="addStatus()" class="btnBottom" side="button">
              <button  (click)="fab.close()" class="text">add Current Status</button>
            </ion-fab-list>
    </ion-fab>
       
   
</ion-content>
