page-line {
    @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700");
    .content {
        height: 100vh;
        font-family: "Ubuntu", sans-serif;
    }
    button.text {
        font-size: 19px !important;
        border-radius: 50px;
        background-color: #E26060;
        color: white;
        font-size: x-large;
        width: 200px;
        height: 41px;
    }
        
    .container ul {
        margin: 0;
        // margin-top: 30px;
        list-style: none;
        position: relative;
        color: #fff;
        font-size: 13px;
    }
    .container ul:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        border-left: 2px dashed #fff;
        left: 21px;
    }
    .container ul li {
        position: relative;
        // margin-left: 30px;
        background-color: #3a4159;
        padding: 14px;
        border-radius: 6px;
        // width: 250px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
    }
    .container ul li:not(:first-child) {
        margin-top: 60px;
    }
    .container ul li > span {
        width: 2px;
        height: 100%;
        background: #fff;
        left: -19px;
        top: 0;
        position: absolute;
    }
    
    // .container ul li > span:before, .container ul li > span:after {
    //     content: "";
    //     width: 12px;
    //     height: 12px;
    //     background-color: #79b573;
    //     border-radius: 50%;
    //     position: absolute;
    //     left: -12px;
    //     top: -13px;
    //     border: 7px solid #4f705c;
    // }
    .container ul li span:after {
        top: 100%;
    }
    .container ul li > div {
        margin-left: 10px;
    }
    .container div .title, .container div .type {
        font-weight: 600;
        font-size: 12px;
    }
    .container div .info {
        font-weight: 300;
    }
    .container div > div {
        margin-top: 5px;
    }
    .container span.number {
        height: 100%;
    }
    .container span.number span {
        position: absolute;
        font-size: 10px;
        left: -41px;
        font-weight: bold;
    }
    .container span.number span:first-child {
        top: 0;
    }
    .container span.number span:last-child {
        top: 100%;
    }
    ion-fab[bottom] {
        bottom: 66px;
        right: 50px;
    }
    .fab-ios {
        color: #fff;
        background-color: #E26060;
    }
    ion-fab[middle] {
        /* margin-top: -28px; */
        top: 85%;
    }
    ion-fab-list[side=top] {
        top: auto;
        right: 52px;
        bottom: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .btnBottom{
       right: 52px;  
    }
    .left-timeline{
        height: 648px;
        overflow-y: scroll;
    }

    .innerpoint-timeline{
        height: 22px;
        width: 22px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: 30px;
        top: -8px;
        border: 5px solid #4f705c;
    } 
    /* .innerpoint-timeline{
        height: 12px;
        width: 12px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: -8px;
    } */
    /* .innerpoint-end-timeline {
        height: 12px;
        width: 12px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        bottom: -17px;
        float: left;
    }
    .starttime:before, .starttime:after{
        content: "";
        height: 12px;
        width: 12px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: -8px;
    } */
    /* .beforediv{
        width: 22px;
        height: 22px;
        background-color: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: -13px;
        opacity: 0.28;
    }
    .afterdiv{
        width: 22px;
        height: 22px;
        background-color: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 108px;
        opacity: 0.28;
    } */
}
