page-app-dashboard {
  .bar-button-md[icon-only] ion-icon{
      font-size: 14px !important;
  }
  .card-md{
    background:#39415b;
    border-radius:12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .card-title-md{
    color: #fff;
  }
  .select-md{
    padding: 5px 8px 25px 16px;
    color: #fff;
  }
  .item-width
  {
    //width: 35%;
    flex-flow: row-reverse;
  }
}
