<!--
  Generated template for the AppDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dasboard | {{usertype}}</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <form [formGroup]="Profileform">

      <!-- <ion-item no-lines *ngIf="ut && notselected && dependent" class="item-width" style="background:none;">
        <ion-select placeholder="Select Healthcare Provider" style="color: white;" 
          (ionChange)="selectEmployee($event)" right>
          <ion-label>Select Healthcare Provider</ion-label>
          <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected"
            value="{{key.id}}">{{key.firstname}}aaa</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item no-lines class="item-width" style="background:none;" *ngIf="ut && dependent">
        <ion-select placeholder="Select Healthcare Provider" style="color: white;" (ionChange)="selectEmployee($event)"
          right>
          <ion-label>Select Healthcare Provider</ion-label>
          <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected"
            value="{{key.id}}">
            {{key.firstname}}</ion-option>
        </ion-select>
      </ion-item>
    </form>
    <!-- <ion-select interface="popover" right>
      <ion-label>Select</ion-label>
      <ion-option value="logout">Logout</ion-option>
      <ion-option value="changepassword">Change Password</ion-option>
    </ion-select> -->
    <!-- <ion-buttons right (click)="logout()">
      <button ion-button icon-only>
        <ion-icon name="lock">Logout</ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 style="padding:5px 15px 5px 15px;">
        <!-- <ion-list-header color="light">Vertical Bar Chart</ion-list-header> -->
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>Sample Chart 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 style="padding:5px 15px 5px 15px;">
        <!-- <ion-list-header color="light">Vertical Bar Chart</ion-list-header> -->
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>Sample Chart 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart2></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 style="padding:5px 15px 5px 15px;">
        <!-- <ion-list-header color="light">Vertical Bar Chart</ion-list-header> -->
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>Sample Chart 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart3></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 style="padding:5px 15px 5px 15px;">
        <!-- <ion-list-header color="light">Vertical Bar Chart</ion-list-header> -->
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>Sample Chart 4</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas #barChart4></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>
    <ion-row>

      </ion-row>
  </ion-grid> -->
</ion-content>