.dark-theme {
  ion-content {
    background: #2b3249;
    color: #aeaebd;
  }
 
  .app-header {
    color: #fff;
  }
  @media only screen and (orientation: landscape) {
    .on-board11 {
      .modal-wrapper {
        left: calc(50% - (700px / 2));
        top: calc(50% - (660px / 2));
        position: absolute;
        width: 725px;
        height: 630px;
      }
    }
  }


  // ion-input {
  //   background: rgba(var(--ion-color-light-rgb), 1);
  //   color: var(--ion-color-light-contrast);
  //   //margin-bottom: 16px;
  //   height: 50px;
  //   border-radius: var(--radius);
  //   // padding-left: 16px !important;
  // }
  


  .boxshadow {
    box-shadow: 2px 14px 18px 0 rgba(149, 85, 85, 0.6) !important;
  }
  ion-textarea {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.27px;
    text-align: center;
    color: #81889f;
  }
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
  }

  .scroll-content {
    overflow: auto !important;
  }

  .toolbar .toolbar-background {
    background: #2b3249 !important;
  }
  .link {
    color: #69c2d1;
    text-decoration: underline;
    margin-left: 0.5em;
  }

  .dark-button {
    background: #69c2d1;
    font-weight: bold;
    width: 150pt;
    height: 40pt;
  }
  .button:hover:not(.disable-hover) {
    background: #69c2d1;
    font-weight: bold;
    width: 150pt;
    height: 40pt;
  }

  ion-label[stacked] {
    //// font-size:1.5rem;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .toolbar .toolbar-title {
    font-size: 1.6em;
    font-weight: normal;
    text-transform: none;
  }
}
