
<ion-header>
    <ion-navbar>
        <ion-title text-center>{{Pagetitle}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid padding>
        <ion-row padding>
            <ion-col style="margin-left: 200px;max-width: 600px;" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-item style="margin-bottom: -23px;" padding transparent class="item-width">
                    <ion-label stacked>Name of Current Status of Well Being</ion-label>
                    <ion-input style="color:white" required type="text"
                        placeholder="e.g. awake/sleep/dizzy/uncomfortable/in pain" [(ngModel)]="data.name"></ion-input>
                </ion-item>
                <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                    <ion-item style="margin-bottom: -23px;" padding class="item-width" transparent>
                        <ion-label class="primarylabel">Choose Color</ion-label>
                        <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)"
                            [(ngModel)]="data.color">
                            <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors"
                                [value]="optioncolor">{{optioncolor}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Description</ion-label>
                        <ion-textarea placeholder="Type description here" style="color:#fff;" class="item-input"
                            type="text" [(ngModel)]="data.description"></ion-textarea>
                    </ion-item>
                </ion-row>
                <ion-item padding transparent class="item-width" style="width: 430px;margin-bottom: -30px;" no-lines>
                    <ion-label style="color: white;">Add to Standard Wheel</ion-label>
                    <ion-toggle style="color:#fff;" [(ngModel)]="data.addtowheel">
                    </ion-toggle>
                </ion-item>
                <ion-item style="width: 430px;" padding transparent class="item-width" no-lines>
                    <ion-label style="color: white;">Notification</ion-label>
                    <ion-toggle style="color:#fff;" [(ngModel)]="data.notification">
                    </ion-toggle>
                </ion-item>
                <div text-center class="block-insert" margin>
                    <button (click)="saveEvent()" class="dark-button" ion-button round>Save</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>