@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
    letter-spacing: 1px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    touch-action: manipulation;
}

html, body {
    height: 100%;
    text-align: center;
    background: #2b3249;
    margin: 0px !important;
    padding: 0px !important;
}

.outside {
    min-height: 600px;
}

.fade-in {
	opacity:0;  
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;
}

ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    width: 520px;
    margin: auto;
    height: 40px;
    background: #474f69;
    border-radius: 15px;
    display: flex;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default {
    background: #474f69;
    list-style: none;
    padding: 10px 15px;
    border-radius: 15px;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default a {
    color: #81889f;
    font-size: 16px;
    text-decoration: none;
    outline: none;
}

.ui-tab.ui-tabs-active.ui-state-active {
    background: #69c2d1 !important;
}

.ui-tab.ui-tabs-active.ui-state-active a {
    color: #FFF !important;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#activitycanvas {
    position: relative;
    max-width: 720px;
    margin: 70px auto 10px auto;
    height: 100%;
}

#medicinecanvas {
    position: absolute;
    max-width: 650px;
    height: 100%;
    top: 25px;
    left: 66px;
}

#sleepcanvas {
    position: absolute;
    max-width: 510px;
    top: 28px;
    left: 28px;
}

/* #sleepcanvas {
    position: relative;
    max-width: 750px;
    margin: 20px auto;
} */

#canvas {
    position: absolute;
    top: 20px;
    left: 20px
}

#icons {
    position: absolute;
    top: 145px;
    left: 130px;
}

#initial-modal, #changedata-modal {
    width: 80%;
    max-width: 768px;
    height: 520px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 8px 21px 0 rgba(34, 42, 70, 0.6);
    background-color: #2b3249;
    margin: auto;
}

.icn_close {
    float: right;
    width: 15px;
    height: 14px;
    object-fit: contain;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    margin-top: 25px;
    margin-right: 25px;
	cursor: pointer;
}

.modaltitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 30px auto 20px auto;
    letter-spacing: 2px;
}

.modaldata {
    width: 80%;
    max-width: 610px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    color: #81889f;
    margin: 10px auto 0px auto;
}

.modalselect {
    width: 192px;
    background: #2b3249;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #dedee6;
    margin: 20px auto 0px auto;
    display: block;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
}

.modalbutton {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #69c2d1;
    float: right;
    border: 0px;
    margin: 10px 56px 0px 0px;
	
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

#canvas circle {
    fill: #888;
    fill-opacity: .5;
}

#canvas circle.fillnone {
    fill: transparent;
}

.addbtn {
    width: 78px;
    height: 78px;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 490px;
    cursor: pointer;
}

.pre-definedlist {
    /* margin-bottom: 50px; */
    display: none;
}

.pre-definedlist span {
    color: #FFF;
}

.pre-definedlist > div > div {
    color: #81889f;
}

.pre-definedlist > div > div:first-child {
    color: #FFF;
}

.circularclass {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px 15px 0px 0px;
}

.sublist {
    display: flex;
    margin-top: 15px;
}

.sleep {
    background: #6bb1d6;
}

.sleepawake {
    background: #afdb07;
}

.sleepunawake {
    background: #fad000;
}

.sleepdistress {
    background: #e26060;
}

.medicinelosec {
    background: #95d1f0;
}

.medicinekepra {
    background: #cff14a;
}

.medicinezonegran {
    background: #fadf59;
}

.medicinemovicol {
    background: #fd8686;
}

.activitybpap {
    background: #74a9c4;
}

.activityoxygen {
    background: #90b018;
}

.activitytemperature {
    background: #c8ac20;
}

.activityurine {
    background: #e69393;
}

.inputform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin: 50px 0px;
    color: #FFF;
}

.timepicker {
    width: 192px;
    background: #2b3249;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #dedee6;
    margin: 5px auto 0px auto;
    display: block;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
}

.inputform-select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin: 10px 0px 30px 0px;
    color: #FFF;
}
/* .Path {
    width: 23.9px;
    height: 16.4px;
    border-radius: 6.3px;
    background-color: #afdb07;
}

ellipse {
    fill: #FFF;
    fill-opacity: .8;
    stroke: #000;
    stroke-width:2
} */
.point_dot {
    height: 12px;
    width: 12px;
    background: #c8ac20;
    border-radius: 50%;
    margin-right: 12px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #fdfdfd;
    color: #5a5c63;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #fdfdfd;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


li.allday {
    display: inline-block;
    margin: 2px 10px;
    width: 12%;
    cursor: pointer;
}

hr {
    margin: 0px;
    height: 3px;
    background: #565656;
    border: none;
}

ul.week {
    text-align: center;
    background: #1e1e1e;
    padding: 10px 0px;
    position: relative;
    margin: 0;
}

.circlename {
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

.circle {
    margin: 3px auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #999;
    font-size: 20px;
    font-weight: 300;
}

li.allday:hover .circle {
    color: white;
    background-color: #565656;
}

li.allday.active .circle {
    background: #69c2d1;
    color: #FFF;
}

li.allday.active .circlename {
    color: #FFF;
}