<!-- Menu Main Top  -->

<ion-menu [content]="content" id="TipMenuContact">
  <!-- Menu Main List -->
  <ion-content class="outer-content" [menuClose]="wide" main-menu style="text-align: center;background: #3a4159;">
    <ion-list no-margin no-padding>
      <!-- <img width="50" height="50" *ngIf="UserProfileImage" src="{{UserProfileImage}}" style="border-radius: 50%;margin-top:10px;" />
              <ion-label *ngIf="UserName" style="padding-top:0px;" *ngIf="UserName" class="MenuItemLabel" paddinge-left menuClose no-lines item-title >
                {{UserName}}
              </ion-label> -->
      <ion-label class="MenuItemLabel" (click)="profile()" paddinge-left menuClose no-lines item-title>
        <div class="menuicon">
          <img *ngIf="!image" src="assets/images/menu-icons/profile-icn.png" style="margin-top:10px;" />
          <img *ngIf="image" [src]="image" style="border-radius: 40px;height: 50px;width: 50px;margin-top: 0px;"/>
        </div>
        MY PROFILE
      </ion-label>
      <ion-label *ngFor="let p of pages" class="MenuItemLabel" paddinge-left menuClose no-lines item-title
        (click)="openPage(p)">
        <div class="menuicon" id="active_page_{{p.title}}" style="">
          <img *ngIf="p.flag=='image'" width="50" height="50" src="{{p.icon}}" style="border-radius: 50%;" />
          <img *ngIf="p.icon && p.flag==''" id="active_image_{{p.title}}" src="assets/images/menu-icons/{{p.icon}}.png"
            style="margin-top:10px;" />
        </div>
        {{p.title}}
      </ion-label>
      <ion-label class="MenuItemLabel"  (click)="logout()" paddinge-left menuClose no-lines item-title>
        <div class="menuicon">
          <img src="assets/images/menu-icons/logout.png" style="margin-top:14px;" />
        </div>
        LOGOUT
      </ion-label>
      <!-- <ion-label>
            <button ion-item (click)="logout()">
                <img style="margin-top:10px;" id="active_image_CONTACTS" src="assets/images/menu-icons/contacts.png">
              Logout
            </button>

          </ion-label> -->
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content main swipeBackEnabled="false" [class]="selectedTheme"></ion-nav>