// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Settings Style Main Meni
// @import 'themes/bootstrap';
// @import 'themes/dark';
// @import 'assets/icons';
// @import "../../node_modules/ionic2-auto-complete/auto-complete";
@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("assets/fontello/helvetica-neue-regular.eot");
  src: url("assets/fontello/helvetica-neue-regular.eot?#iefix") format("embedded-opentype"),
    url("assets/fontello/helvetica-neue-regular.woff") format("woff"),
    url("assets/fontello/helvetica-neue-regular.ttf") format("truetype"),
    url("assets/fontello/helvetica-neue-regular.svg#helveticaneueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
ion-app.md {
  font-family: "HelveticaNeue";
}
ion-app.ios {
  font-family: "HelveticaNeue";
}
.abc[aria-selected="true"] {
  background-color: #ddd;
}
.bar-button-ios {
  padding: 0 4px;
  border-radius: 4px;
  height: 32px;
  border: 0;
  font-size: 12px !important;
}
.select-ios {
  padding: 10px 8px 10px 16px !important;
}
[header-background-image] {
  height: 200px;
  background-size: cover;
  background-position: center;
  @include darkening-blend-mode;

  img {
    padding-top: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 9;
    max-width: 60px;
  }

  [item-title] {
    color: theme-colors("textColors", "accent-first") !important;
    position: relative;
    z-index: 9;
  }
}
// Settings Main  Menu

[main-menu] {
  button {
    padding-left: 30px;
  }

  .item-inner {
    margin-left: 0 !important;
  }

  [icon-small] {
    margin-top: 18px !important;
  }
}
// Settings Submenu

[submenu] {
  ion-label {
    padding-left: 30px !important;
  }
}
.toolbar .toolbar-background {
  background: #2b3249 !important;
}

.alert-md .alert-wrapper {
  background: #2b3249 !important;
}

.alert-ios .alert-wrapper {
  background: #2b3249 !important;
}

.alert-title {
  color: #fff;
}

.alert-button-group .alert-button .button-inner {
  color: #fff !important;
}

.alert-radio-label {
  color: #fff !important;
}

.alert-md .alert-radio-inner {
  background: #fff !important;
}

/* .alert-ios .alert-radio-inner{
   background: #fff !important;
  } */

.alert-md [aria-checked="true"] .alert-radio-icon {
  border-color: #787878;
}

.alert-ios [aria-checked="true"] .alert-radio-icon {
  border-color: #787878;
}

.alert-ios [aria-checked="true"] .alert-radio-inner {
  border-color: #fff;
}

.alert-ios .alert-button.activated {
  background-color: transparent;
}

.picker-md .picker-wrapper {
  height: 260px;
  border-top: none;
  background: #2b3249;
}

.picker-ios .picker-wrapper {
  height: 260px;
  border-top: none;
  background: #2b3249;
}

.picker-button .button-inner {
  color: #fff !important;
}

.picker-md .picker-opt {
  color: #fff !important;
}

.picker-ios .picker-opt {
  color: #fff !important;
}

.picker-md .picker-opt.picker-opt-selected {
  color: #81889f !important;
}

.picker-ios .picker-opt.picker-opt-selected {
  color: #81889f !important;
}

.picker-md .picker-toolbar {
  background: #2b3249;
}

.picker-ios .picker-toolbar {
  background: #2b3249;
}

.loading-ios .loading-wrapper {
  color: #81889f;
  background: #2b3249;
}

.loading-md .loading-wrapper {
  color: #81889f;
  background: #2b3249;
}

.searchbar-ios .searchbar-input {
  border-bottom: 2px solid #aeaebd !important;
  color: #aeaebd !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: unset;
}

.searchbar-ios .searchbar-search-icon {
  background-image: url("../assets/images/others/search-icon.png");
}

.searchbar-md .searchbar-search-icon {
  background-image: url("../assets/images/others/search-icon.png");
}

.searchbar-ios {
  background-color: transparent !important;
}

.searchbar-md .searchbar-input {
  border-bottom: 2px solid #aeaebd !important;
  color: #aeaebd !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.searchbar-has-value.searchbar-has-focus .searchbar-clear-icon {
  display: inline !important;
  color: white !important;
}

.picker-ios .picker-above-highlight {
  background: none !important;
  border-bottom: none;
}

.picker-ios .picker-below-highlight {
  background: none !important;
  border-top: none;
}

.toggle-ios.toggle-checked .toggle-icon {
  background-color: #69c2d1;
}

.toggle-md.toggle-checked .toggle-icon {
  background-color: #69c2d1;
}
.alert-ios .alert-message {
  color: #fff;
}

.checkbox-ios .checkbox-icon {
  border-radius: 4px;
  position: relative;
  width: 18px;
  height: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: #81889f;
  background-color: transparent;
}

.alert-ios .alert-sub-title {
  color: #fff;
}

.checkbox-ios {
  margin-right: 10px;
  top: 3px;
}

.checkbox-md {
  margin-right: 10px;
  top: 3px;
}
.boxshadow {
  box-shadow: 2px 14px 18px 0 rgba(149, 85, 85, 0.6);
}

.checkbox-md .checkbox-icon {
  border-radius: 4px;
  position: relative;
  width: 18px;
  height: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: #81889f;
  background-color: transparent;
}

.searchbar-input-container {
  .searchbar-input {
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #aeaebd;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #aeaebd;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #aeaebd;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #aeaebd;
    }
  }
  .searchbar-clear-icon {
    filter: invert(100);
  }
}

.menuicon {
  height: 50px;
  width: 50px;
  background: #474f69;
  border-radius: 50%;
  margin-left: 25px;
}

.MenuItemLabel {
  background: #3a4159;
  text-align: center;
  border-bottom: 1px solid #697395;
  margin-right: 0px;
  color: #707894 !important;
  margin: 0;
  padding: 8px 0 10px 0;
  font-size: 10px !important;
}

//  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
//   .modal-reset {
//     .modal-wrapper
//     {
//     height: 20%;
//     top: 80%;
//     position: absolute;
//     display: block;
//   }
//  }
// }

@media only screen and (orientation: landscape) {
  .my-modal {
    .modal-wrapper {
      height: 365px !important;
      border-radius: 10px !important;
      top: 180px;
    }
  }
}
@media only screen and (orientation: portrait) {
  .my-modal {
    .modal-wrapper {
      height: 350px !important;
      border-radius: 10px !important;
      top: 30%;
    }
  }
}

@media only screen and (orientation: landscape) {
  .my-register {
    .modal-wrapper {
      height: 350px !important;
      border-radius: 10px !important;
      top: 200px;
    }
  }
}
@media only screen and (orientation: portrait) {
  .my-register {
    .modal-wrapper {
      height: 350px !important;
      border-radius: 10px !important;
      top: 30%;
    }
  }
}
@media only screen and (orientation: landscape) {
  .on-board {
    .modal-wrapper {
      left: calc(50% - (700px / 2));
      top: calc(50% - (660px / 2));
      position: absolute;
      width: 725px;
      height: 630px;
    }
  }
}
@media only screen and (orientation: landscape) {
  .on-addmedicine {
    .modal-wrapper {
      left: calc(50% - (900px / 2));
      top: calc(50% - (690px / 2));
      position: absolute;
      width: 900px;
      height: 670px;
    }
  }
}
@media only screen and (orientation: landscape) {
  .on-board11 {
    .modal-wrapper {
      left: calc(50% - (700px / 2));
      top: calc(50% - (660px / 2));
      position: absolute;
      width: 725px;
      height: 630px;
    }
  }
}
@media only screen and (orientation: landscape) {
  .on-board111 .modal-wrapper {
    left: calc(50% - (660px / 2));
    top: calc(50% - (575px / 2));
    position: absolute;
    width: 660px;
    height: 540px;
  }
}
@media only screen and (orientation: landscape) {
  .my-logout {
    .modal-wrapper {
      left: calc(55% - (660px / 2));
      top: calc(63% - (600px / 2));
      position: absolute;
      width: 541px;
      height: 276px;
    }
  }
}
@media only screen and (orientation: landscape) {
  .ionic-selectable-documentation-configuration {
    .modal-wrapper {
      ionic-selectable-modal {
        ion-header {
          ion-toolbar {
            --background: var(--ion-color-dark);
          }
        }
        ion-searchbar {
          --background: var(--ion-color-dark);
          .searchbar-input {
            background: transparent;
            color: #fff;
            box-shadow: unset;
          }
          .searchbar-search-icon {
            color: #fff;
          }
          .searchbar-clear-button {
            color: #fff;
          }
        }
        ion-content{
          background: #2b3249;
          color:white;
          padding:10px;
          ion-label{
            color:white;
          }
          ion-icon{
            color:white;
          }
        }
        ion-footer {
          background: var(--ion-color-dark);
          ion-toolbar {
            --background: var(--ion-color-dark);
            ion-button {
              display: inline-block !important;
              --background: var(--ion-color-warning);
            }
          }
        }
      }
    }
  }
}
/*
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .modal-wrapper {
        left: calc(50% - (768px/2));
        top: calc(50% - (580px/2));
        position: absolute;
        width: 768px;
        height: 580px;
    }
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    .modal-wrapper {
        left: calc(50% - (700px/2));
        top: calc(50% - (700px/2));
        position: absolute;
        width: 700px;
        height: 700px;
    }
  }*/
