
<ion-content style="background: black;height:100vh;color:#fff">


   <ion-grid padding>
      <ion-row wrap>
         <ion-col col-8 offset-2 col-sm-8  offset-sm-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2>
            <ion-item no-lines style="background-color: #000;margin-bottom: 15px;padding:10px">
               <ion-label floating>Event Start Date</ion-label>
               <ion-input value="{{eventStartDate}}" [disabled]="true" required type="text" ></ion-input>
            </ion-item>

            <ion-item no-lines style="background-color: #000;margin-bottom: 15px;padding:10px">
               <ion-label floating>Event End Date</ion-label>
               <ion-input value="{{eventEndDate}}"  [disabled]="true" required type="text" ></ion-input>
            </ion-item>

            <ion-item no-lines style="background-color: #000;margin-bottom: 15px;padding:10px">
               <ion-label floating>Event</ion-label>
               <ion-select [disabled]="readOnly" [(ngModel)]="data.selectedEventKey">
                  <ion-option value="{{i}}" *ngFor="let item of patientSettings.eventData;let i = index" >{{item.name}}</ion-option>
               </ion-select>
            </ion-item>

            <ion-item no-lines style="background-color: #000;margin-bottom: 15px;padding:10px">
               <ion-label floating>Event Notes</ion-label>
               <ion-input [disabled]="readOnly" [(ngModel)]="data['eventNotes']" required type="text" ></ion-input>
            </ion-item>


           <!-- <ion-item no-lines style="background-color: #000;margin-bottom: 15px;padding:10px">
               <ion-label floating>Activity</ion-label>
               <ion-select [disabled]="readOnly" [(ngModel)]="data.selectedActivityKey">
                  <ion-option value="{{i}}" *ngFor="let item of patientSettings.activityData;let i = index" >{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
            -->
            <div style="margin-top: 20px">
               <button default-button block round ion-button *ngIf="!readOnly" (click)="updateLoggedGeneralDetails()" ><ion-icon name="add-circle"></ion-icon>Update</button>
               <button default-button block round ion-button *ngIf="readOnly"  (click)="makeEditable()" ><ion-icon name="add-circle"></ion-icon>Edit</button>

            </div>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
