<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="ion-contentclas">
  <ion-grid padding>
    <ion-row wrap padding>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="app-description" style="color:white !important;font-weight: 600;">
          Are you sure you want to log out ?
        </div>

        <div class="margin-4t" style="text-align: center">
          <button style="background-color: #516b93;margin-right:50px" (click)="onLogout()"
            class="dark-button btn-ok" ion-button round>
            <p style=" font-size: 16px;
            font-weight: bold;"> Yes</p>
          </button>
          <button style="background-color:#69c2d1" (click)="closeModal()" class="dark-button btn-ok" ion-button round>
            <p style=" font-size: 16px;
           font-weight: bold;"> No</p>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>