page-app-logout {
    h1 {
        text-align: center;
        margin: 0.5em 0;
    }
    .scroll-content {
        overflow: auto !important;
    }

    .app-description {
        font-size: 24px;
    }

    .margin-4t {
        margin-top: 6rem;
    }
    .margin-3t {
        margin-top: 3rem;
    }

    .toolbar .toolbar-background {
        border-bottom: 2px solid #fff;
        border-bottom: 0 !important;
    }
    .btn-ok {
        width: 180px;
        height: 50px;
        border-radius: 25px;
    }
    .label {
        color: #fff !important;
    }

    .item-input .label,
    .item-select .label,
    .label {
        color: #fff !important;
    }

    input {
        color: #fff;
    }

    .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom: 1px solid #fff !important;
    }

    .item.item-block .item-inner {
        border-bottom: 1px solid #fff !important;
    }

    .item.item-input.input-has-focus {
        // border-bottom: 2px solid #fff !important;
    }

    .label[stacked],
    ion-label[stacked] {
        font-size: 1.5rem;
    }
    .ion-contentclas {
        background-color: rgba(43, 50, 73, 1) !important;
    }
}
