<ion-content padding>
    <div style="overflow: hidden;height: 100%;">
      <ion-row style="margin-top: -20px;">
        <ion-col style="margin-left: -15px;height: 150px;display: inline-flex;
        ">
          <div class="rect-box">
            <p class="copy-text">TOTAL</p>
            <hr class="hr1">
            <p class="count">{{TotalSleep}}</p>
            <p class="registrations">REGISTRATIONS</p>
          </div>
          <div class="rect-box1">
            <p class="copy-text2">SLEEP HOURS</p>
            <br><br>
            <hr class="hr2">
            <p class="time">{{hours(SleepHours)}}<sub>hrs</sub> {{minutes(SleepHours)}}<sub>min</sub></p>
          </div>
          <div class="chart-container" style="height: 150px;width: 230px;margin-top:20px !important">
            <canvas style="height: 120px;width: 120px;" #lineChart>{{ chart }}</canvas>
          </div>
          <div class="rect-box2">
            <p class="count">{{avg(SleepHours)}}</p>
            <hr class="hr3">
            <p class="registrations">AVERAGE</p>
          </div>
          <div class="chart-container">
            <canvas #barChart>{{ barchart }}</canvas>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="top:5px;margin-left: -15px;height: 150px;display: inline-flex;">
          <div class="rect-box">
            <p class="copy-text">TOTAL</p>
            <hr class="hr12">
            <p class="count">{{TotalDistress}}</p>
            <p class="registrations">REGISTRATIONS</p>
          </div>
          <div class="rect-box1">
            <p class="copy-text2">DISTRESS HOURS</p>
            <br><br>
            <hr class="hr2">
            <p class="time">{{hours(DistressHours)}}<sub>hrs</sub> {{minutes(DistressHours)}}<sub>min</sub></p>
          </div>
          <div class="chart-container" style="height: 150px;width: 230px;margin-top:22px !important">
            <canvas style="height: 120px;width: 120px;" #lineChart1>{{ chart }}</canvas>
          </div>
          <div class="rect-box2">
            <p class="count">{{avg(DistressHours)}}</p>
            <hr class="hr3">
            <p class="registrations">AVERAGE</p>
          </div>
          <div class="chart-container">
            <canvas #barChart1>{{ barchart }}</canvas>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="top:10px;margin-left: -15px;height: 150px;display: inline-flex;">
          <div class="rect-box">
            <p class="copy-text">TOTAL</p>
            <hr class="hr13">
            <p class="count">{{TotalUncomfort}}</p>
            <p class="registrations">REGISTRATIONS</p>
          </div>
          <div class="rect-box1">
            <p class="copy-text2">UNCOMFORTABLE HOURS</p>
            <br><br>
            <hr class="hr2">
            <p class="time">{{hours(UncomfortHours)}}<sub>hrs</sub> {{minutes(UncomfortHours)}}<sub>min</sub></p>
          </div>
          <div class="chart-container" style="height: 150px;width: 230px;margin-top:24px !important">
            <canvas style="height: 120px;width: 120px;" #lineChart2>{{ chart }}</canvas>
          </div>
          <div class="rect-box2">
            <p class="count">{{TotalUncomfort}}</p>
            <hr class="hr3">
            <p class="registrations">AVERAGE</p>
          </div>
          <div class="chart-container">
            <canvas #barChart3>{{ barchart }}</canvas>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="top:13px;margin-left: -15px;height: 150px;display: inline-flex;">
          <div class="rect-box">
            <p class="copy-text">TOTAL</p>
            <hr class="hr14">
            <p class="count">{{TotalComfort}}</p>
            <p class="registrations">REGISTRATIONS</p>
          </div>
          <div class="rect-box1">
            <p class="copy-text2">COMFORTABLE HOURS</p>
            <br><br>
            <hr class="hr2">
            <p class="time">{{hours(ComfortHours)}}<sub>hrs</sub> {{minutes(ComfortHours)}}<sub>min</sub></p>
          </div>
          <div class="chart-container" style="height: 150px;width: 230px;margin-top:26px !important">
            <canvas style="height: 120px;width: 120px;" #lineChart3>{{ chart }}</canvas>
          </div>
          <div class="rect-box2">
            <p class="count">{{avg(ComfortHours)}}</p>
            <hr class="hr3">
            <p class="registrations">AVERAGE</p>
          </div>
          <div class="chart-container">
            <canvas #barChart2>{{ barchart }}</canvas>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:50px;">
        <ion-col style="display:inline-flex;">
          <div style="width: 17%;">
            <p style="position: relative;
            left: 30px;font-size:16px">Status of Well Being</p>
          </div>
          <div style="display:inline-flex;margin-left: 100px;">
            <div class="sleep"></div>
            <p class="p1">Sleep</p>
            <div class="comfort"></div>
            <p class="p1">Awake - Comfortable</p>
            <div class="uncomfort"></div>
            <p class="p1">Awake - Uncomfortable</p>
            <div class="distress"></div>
            <p class="p1">Awake - Distress</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>