page-app-user-edit {
  $label-md-text-color-focused: #444;
  $text-input-md-highlight-color: #444;

  [card-image] {
    position: relative;
    @include darkening-blend-mode;
    &::before {
      z-index: 3;
    }     
    img {
      width: 100% !important;
    }
    [card-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: absolute;
      left: 16px;
      bottom: 20px;
      z-index: 999;
    }

  }

  .item-width
  {
    //width: 35%;
    flex-flow: row-reverse;
  }
  .datetime-text{margin-left:1rem !important;color:#fff}

  .toolbar .toolbar-title{
    font-size:1.6em;
    font-weight:normal;
    text-transform: none;
  }
  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  // .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  //   border-bottom: 1px solid #fff !important;
  // }


  // .item.item-block .item-inner {
  //   border-bottom: 1px solid #fff !important;
  // }

  // .item.item-input.input-has-focus {
  //   //border-bottom: 2px solid #fff !important;
  // }

  .app-description{
    text-align: center;
  }

  .back-button{
   // position: absolute;
  }

  .select-text{
    color:#fff;
  }

  .location {
      position: absolute;
      right: 25px;
      top: 83px;
  }
  .bar-button-md[icon-only] ion-icon{
      font-size: 14px !important;
  }
  .card-md{
    background:#39415b;
    border-radius:12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .card-title-md{
    color: #fff;
  }
  .select-md{
    padding: 5px 8px 25px 16px;
    color: #fff;
  }
}
