<!--
  Generated template for the AppUserEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title *ngIf="!this.action" text-center>User Profile</ion-title>
        <ion-title *ngIf="this.action" text-center>Edit User Profile</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <form [formGroup]="SelectList">
            <ion-item no-lines *ngIf="ut && notselected && dependent" class="item-width item-inner1"
                style="background:none;">
                <ion-select (ionChange)="selectEmployee($event)" right>
                    <ion-label>Select Healthcare Provider</ion-label>
                    <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1[0].id"
                        value="{{key.id}}">{{key.firstname}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item no-lines style="border-bottom: 0px !important" *ngIf="ut && !notselected && dependent"
                style="border-bottom: 0px !important" class="item-width item-inner1" style="background:none;">
                <ion-select (ionChange)="selectEmployee($event)" right>
                    <ion-label>Select Healthcare Provider</ion-label>
                    <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1"
                        value="{{key.id}}">{{key.firstname}}</ion-option>
                </ion-select>
            </ion-item>
        </form>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid padding>
        <ion-row >
            <ion-col>
                <div *ngIf="!this.action" class="app-description">
                    Please fill all the info below
                </div>
                <div *ngIf="this.action" class="app-description">
                    You can edit or fill all info below
                </div>
            </ion-col>
        </ion-row>
        <form [formGroup]="Profileform">
            <ion-row wrap padding >
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-8>
                            <div no-padding transparent no-lines text-center class="item-width">
                             <div *ngIf="!data?.image" padding
                                    style="background: #39415b; color:#444; border-radius: 10px">
                                    <div #imageUploader><img style="width:30%;" [src]="upload"
                                            (click)="!readonly && ImageUpload()"></div>
                                    <div #addPhotoCaption style="color:#fff;">Add Photo</div>
                                </div>
                                <div #previewImage> <img style="border-radius:20px" [src]="data.image"
                                        *ngIf="data?.image"></div>
                                <div *ngIf="data.image" #removePhotoIcon style="margin:auto;width: 10%">
                                    <ion-icon name="close-circle" (click)="Remove()"></ion-icon>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-2></ion-col>
                    </ion-row>
                    <!-- <ion-item padding transparent class="item-width">>
                        <ion-label stacked>
                            User Type
                            
                        </ion-label>
                        <ion-input formControlName="usertype" style="color:#666 !important;" type="text" readonly
                            [(ngModel)]="data.usertype"></ion-input>
                    </ion-item> -->
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            First Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="firstname" type="text" placeholder="Type your firstname here"
                            [(ngModel)]="data.firstname"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.firstname.valid && (Profileform.controls.firstname.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Firstname</p>
                    <ion-item style="margin-top:-30px" padding transparent class="item-width">
                        <ion-label stacked>
                            Last Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="lastname" type="text" placeholder="Type your lastname here"
                            [(ngModel)]="data.lastname"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.lastname.valid && (Profileform.controls.lastname.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Lastname</p>
                    <ion-item style="margin-top:-30px" padding transparent class="item-width">
                        <ion-label stacked>
                            Birth Date
                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-datetime style="margin-left: -7px;" formControlName="birthdate" placeholder="DD/MM/YYYY" [(ngModel)]="data.birthdate"
                            displayFormat="DD/MM/YYYY" style="margin:8px;padding:0px"></ion-datetime>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.birthdate.valid && (Profileform.controls.birthdate.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Select Birthdate</p>
                    <ion-item style="margin-top:-30px" padding transparent class="item-width">
                        <ion-label stacked>
                            Sex
                            <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-select style="margin-left: -13px;" formControlName="sex" placeholder="Select your gender here" [(ngModel)]="data.sex">
                            <ion-option value="f">Female</ion-option>
                            <ion-option value="m">Male</ion-option>
                        </ion-select>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.sex.valid && (Profileform.controls.sex.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Select sex</p>

                    <!-- <div class="block-insert" margin>
                      <button (click)="changePassword()" style="background:#61ac71;" class="dark-button" ion-button round>
                          Change Password
                      </button>
                  </div> -->
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                    <ion-item style="margin-top:-30px" padding transparent class="item-width">
                        <ion-label stacked>
                            Email Address
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="email" placeholder="Select your email address here"
                            [(ngModel)]="data.email" type="text"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.email.valid && (Profileform.controls.email.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter valid Email</p>
                    <ion-item style="margin-top:-30px" padding transparent class="item-width">
                        <ion-label stacked>
                            Mobile Number
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="mobile" placeholder="Enter Mobile Number" [(ngModel)]="data.mobile"
                            type="text"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.mobile.valid && (Profileform.controls.mobile.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Mobile Number</p>
                    <ion-item style="margin-top:-30px" padding transparent class="item-width">
                        <ion-label stacked>Full Address</ion-label>
                        <ion-input formControlName="street" placeholder="Street/ Building No/ Zip/ City/ Country"
                            [(ngModel)]="data.street" type="text"></ion-input>
                    </ion-item>
                    <!-- <img class="location" src="assets/images/map.png" /> -->
                    <ion-row>
                        <ion-col col-12>
                            <div style="color:#fff;padding-bottom: 0" padding>Diagnosis</div>
                        </ion-col>
                    </ion-row>
                    <ion-row formArrayName="diagnosis">
                        <ng-container *ngFor="let item of data.diagnosis;let i = index">
                            <ion-col col-11>
                                <ion-item transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display: none;" stacked>Diagnosis</ion-label>
                                    <ion-input formControlName="name" style="margin-top:0.5em;margin-bottom:0.5em"
                                        (keyup.enter)="addDiagnosis()"
                                        placeholder="Type diagnosis here or add documents" [(ngModel)]="item.name"
                                        type="text"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col col-1>
                                <ion-icon name="close" (click)="deleteDiagnosis(i)" margin></ion-icon>
                            </ion-col>
                        </ng-container>
                    </ion-row>
                    <div padding (click)="addDiagnosis()">
                        <ion-icon name="add"></ion-icon>
                        Add additional diagnosis
                    </div>


                    <div *ngIf="isNextofkin" style="color:#fff;padding-bottom: 0" padding>Next of kin</div>

                    <ion-row *ngIf="isNextofkin" formArrayName="contacts">
                        <ng-container *ngFor="let item of data.contacts;let i = index">
                            <ion-col col-6>
                                <ion-item transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display:none" stacked>Contacts</ion-label>
                                    <ion-input formControlName="name" style="margin-top:0.5em;margin-bottom:0.5em"
                                        placeholder="Contact Name" [(ngModel)]="item.name" required type="text">
                                    </ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col col-5>
                                <ion-item transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display:none" stacked>Contacts</ion-label>
                                    <ion-input formControlName="phone" style="margin-top:0.5em;margin-bottom:0.5em"
                                        placeholder="Phone number" [(ngModel)]="item.phone" required type="text">
                                    </ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col col-1>
                                <ion-icon name="close" (click)="deleteContact(i)" margin></ion-icon>
                            </ion-col>
                        </ng-container>
                    </ion-row>

                    <div *ngIf="isNextofkin" padding (click)="addContact()">
                        <ion-icon name="add"></ion-icon>
                        Add Next of Kin
                    </div>

                    <div style="margin-top: 30px;" class="block-insert" margin>
                        <button (click)="addUserDetails()" class="dark-button" ion-button round>
                            Save
                        </button>
                        <button (click)="deleteUserDetails(data.id, data.name)" style="background:#f53d3d;"
                            class="dark-button" ion-button round>
                            <!-- *ngIf="deleteButtonDisplay" -->
                            Delete My Profile
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>