<!--
  Generated template for the AppSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item (click)="getLocation('profile')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/profile-icn.png" />
    <span class="span-text"> Profile Settings</span>
  </ion-item>
  <ion-item (click)="getLocation('privacy')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/privacy-icn.png" />
    <span class="span-text"> Privacy</span>
  </ion-item>
  <ion-item (click)="getLocation('notification')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/notification.png" />
    <span class="span-text"> Notifications</span>
  </ion-item>
  <ion-item (click)="getLocation('how')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/que.png" />
    <span class="span-text"> How does it work?</span>
  </ion-item>
  <ion-item (click)="getLocation('wheel')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/wheel.png" />
    <span class="span-text"> 24-Hour Clock Settings”</span>
  </ion-item>
  <!-- <ion-item (click)="getLocation('security')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/key.png" />
    <span class="span-text"> Security and Access settings</span>
  </ion-item> -->
  <ion-item (click)="getLocation('about')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/info.png" />
    <span class="span-text"> About Victor(y) Care</span>
  </ion-item>
  <ion-item (click)="getLocation('terms')" class="item-list" no-lines style="margin-bottom: 15px;">
    <img style="margin-top: 10px;" src="assets/images/settingsicon/terms.png" />
    <span class="span-text"> Terms & conditons and Privacy Policy</span>
  </ion-item>
</ion-content>