<ion-header>
    <ion-navbar >
        <ion-buttons left>
            <button ion-button icon-only (click)="backToPatientHome()">
                <ion-icon name="arrow-back" ></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center="" *ngIf="patientData.name">Patient Data - {{patientData.name}}</ion-title>
       <!-- <ion-buttons right>
            <button ion-button icon-only><ion-icon name="settings"></ion-icon></button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>
<ion-content login-background>

    <ion-grid style="padding:0">
        <ion-row wrap>
            <ion-col col-9 col-sm-12 col-md-9 col-lg-9 col-xl-9 style="background: black;height:100vh;">

                <ion-tabs #tabs tabsPlacement='top' tabs-content >
                    <ion-tab [rootParams]="item.params" [tabTitle]="item.title" [root]="item.page" *ngFor="let item of data.tabs;let i = index"></ion-tab>
                </ion-tabs>

            </ion-col>
            <ion-col col-3 col-sm-12 col-md-3 col-lg-3 col-xl-3 style="height:100vh;">
                <ion-item no-lines style="background: transparent">
                    <img [src]="patientData.image" *ngIf="patientData.image" style="width: 100%">
                </ion-item>

                    <h1 text-center *ngIf="patientData.name" style="color:#fff;text-transform: uppercase;"><b>{{patientData.name}}</b></h1>

                <h3 style="color:#fff;padding: 5px;margin-top:2rem" *ngIf="patientData.birthDate">Age : {{calculateAge(patientData.birthDate)}}</h3>

                    <h3 style="color:#fff;padding: 5px" *ngIf="patientData.diagnosis">Condition : {{patientData.diagnosis}}</h3>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
