app-logged-activity-home{

    [login-background] {
      background: #4ECDC4;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .label {
      color:#fff !important;
      margin-bottom: 0 !important;
    }

  .toolbar .toolbar-background{
    border-bottom: 2px solid #fff;
  }

  .show-tabbar {
    background-color:#fff !important; ;
  }

  .tab-button-text{
    color:#000;
    font-weight:bold;
  }

  .tab-button {
    border:1px solid #000;
    background: #e5e5e5;
  }


  .tab-button[aria-selected=true]{
    background: powderblue;
  }

  .tabs-ios .tab-button {
    max-width: 100% !important;
  }

}