<!--
  Generated template for the AppSettingsTermsAndConditionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms & Conditions and Privacy policy</ion-title>
    <ion-buttons right>
      <button ion-button style="background-color: transparent;" icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#2b3249;color: #f4f4f4;">
  <div class="main-div">
    <div class="sections_group">

      <div class="entry-content" itemprop="mainContentOfPage">

        <div class="section the_content has_content">
          <div class="section_wrapper">
            <div class="the_content_wrapper">
              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"> <strong><em>1. Parties
                  </em></strong></p>
              <p>1.1</p>


              <p>This Terms of Service Agreement (Agreement) is a legally binding and valid agreement that, in addition
                to our Privacy and Security Policy, governs the use of the service (the Service) as provided via the App
                “Victor(y) Care” (the App) available in the Apple App Store.</p>



              <p>1.2</p>



              <p>The Service is provided by Victor(y) Care AS, located at Steinrøysa 24, 2315 Hamar, Norway.</p>



              <p>Please visit our website at victory.care to contact us.</p>



              <p>1.3</p>



              <p>The Agreement controls the relationship between you and Victor(y) Care AS and does not establish any
                third party beneficiary rights.</p>



              <p>1.4</p>



              <p>You must be at least 13 years old (the “Minimum Age”) to create an account. If you are a parent or
                guardian of a dependent who is younger than the legal age of majority in your location of residence, you
                may accept this Agreement on behalf of the minor dependent, but thereby take full responsibility for
                their use of the Service.</p>



              <p>1.5</p>



              <p>By using the Service, you agree to the Terms of Service.</p>



              <div class="su-spacer" style="height:20px"></div>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>2. About Victor(y)
                    Care</em></strong></p>



              <p>“Victor(y) Care” Victor(y) Care enables individuals experiencing health problems to track and
                communicate their health status through a mobile app. Individuals can track and communicate their
                personal information for all types of wellbeing, sickness, and health conditions. In order to provide
                more accurate results, we combine the anonymous data of all users to find patterns. We generally offer
                free basic services and fee-based subscription services that provide additional functionalities. PLEASE
                DO NOT USE “VICTOR(Y) CARE” FOR MEDICAL PURPOSES. IN CASE OF ANY INDIVIDUAL HEALTH ISSUES, CONSULT A
                MEDICAL PROFESSIONAL.</p>



              <p>2.1</p>



              <p>The Service is intended to provide general informational content about users well being, activities and
                medicines and related topics. It collects user entered and otherwise provided data points related to the
                well being, activities and medication of the user. These data points allow statistical and algorithm
                based data processing for medical overviews and correlations of occurrences of events related to well
                being and tracking your health in general based on the users observations. The Service further provides
                functionalities to share information with other users.</p>



              <p>2.2</p>



              <p>THE SERVICE IS NOT INTENDED TO REPLACE CONTRACEPTIVE MEASURES AND/OR MEDICAL ADVICE. BY USING THE
                SERVICE, YOU AGREE TO USE THE SERVICE FOR THE INTENDED INFORMATION AND COMMUNICATION PURPOSES ONLY AND
                PARTICULARLY NOT FOR MEDICAL PURPOSES.</p>



              <p>2.3</p>



              <p>The Service can be used in the following modes: (i) use subject to creating an account, in such case,
                data will be stored locally on your device as well as on our servers so that the Service can be used
                over several devices that are logged in (the Online Service), (ii) use subject to creating an account
                and subscribing to fee-based additional services (the Subscription Service). (iii) use healthcare
                provider to creating an account, in such case, data will be stored locally on your device as well as on
                our devices so that the Service can be used over several devises that are logged in and the healthcare
                provider can access the data you permits them to see.</p>



              <p>2.4</p>



              <p>The scope and functionalities of the Service may differ based on the jurisdiction in which you are
                using the Service. In particular, the Local and/or Online Service may not be available in certain
                jurisdictions.</p>



              <div class="su-spacer" style="height:20px"></div>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>3. Creating an
                    Account</em></strong></p>



              <p>Please register and create an individual account in order to access all of Victor(y) Care’s features
                and functionalities.<br></p>



              <p>3.1</p>



              <p>In order to use the Online Service or Subscription Service you have to register and create a personal
                account (the Account).</p>



              <p>3.2</p>



              <p>The process of registration requires explicit consent to this Agreement, including all documents
                incorporated herein by reference, as well as provision of your email address, other contact information
                and an individual password according to our password policy. Registration is completed when you confirm
                by clicking the respective link in the confirmation email that will be sent to your email address. You
                may opt to create an Account by connecting through your Google or Facebook account. In addition to your
                contact information, you can enter personal and health information that enable the Service to provide
                more specific results.</p>



              <p>3.3</p>



              <p>We are not obliged to accept any registrations and, in our sole determination and discretion, we shall
                decline the creation of any and all accounts that are intended to disrupt or falsify the Service or
                that, in fact, do disrupt or falsify the Service.</p>



              <p>3.4</p>



              <p>You are responsible for the security and confidentiality of your password. You are further responsible
                for all activities exercised on your Account.</p>



              <div class="su-spacer" style="height:20px"></div>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>4. Use of the
                    Service</em></strong></p>



              <p></p>



              <p>As a Victor(y) Care user, you are entitled to use the services and content we provide. You may not,
                however, copy or publish any part of the app or services. By using Victor(y) Care, you give us
                permission to use your anonymous information to improve services for all users.</p>



              <p>4.1</p>



              <p>Subject to your consent to this Agreement and your use of the Service, Victor(y) Care AS hereby grants
                to you a personal, non-assignable, non-exclusive, limited license (the License) to use the software
                provided to you as part of the Service (the Software). You may not (or permit anyone else to) copy,
                modify, rent, loan, distribute, sell, lease, sublicense, assign, grant a security interest in or
                otherwise transfer any right in any part of the Software. You may not reverse engineer, decompile, or
                otherwise attempt to extract the source code of the Software, unless expressly permitted or required by
                applicable law.</p>



              <p>4.2</p>



              <p>The Software may automatically download and install updates and upgrades from time to time without
                further notice to you. These updates are designed to technically improve and/or enhance the Software and
                the Service. You agree that we may automatically deliver such updates and upgrades to you as part of
                your use of the Service.</p>



              <p>4.3</p>



              <p>Using the Service (and/or providing input information) does not give you any legal right, title or
                interest in the Service or the Software. The Service and the Software are protected by copyright,
                trademark, intellectual property rights and other applicable laws.</p>



              <p>4.4</p>



              <p>You are solely responsible for and retain ownership of all profile information, data, messages, images,
                files or other materials that you create, post, or otherwise add to the Service (“User Content”).
                Victor(y) Care AS’s use of User Content shall be governed by our Privacy and Security Policy. By
                creating an Account and using the Service, you accept and agree to the Privacy and Security Policy.
                Victor(y) Care AS is not in any way liable for your User Content. You are solely responsible for backing
                up your personal User Content. We assume no liability for the deletion, corruption, or failure to store
                any User Content maintained or transmitted through your use of the Service other than the liability
                required by applicable law, particularly with regard to the Subscription Service.</p>



              <p>4.5</p>



              <p>In order to enable us to operate and improve the Service and to process and manage your User Content in
                line with our Privacy and Security Policy, you hereby grant Victor(y) Care AS a worldwide,
                non-exclusive, fully paid, royalty-free license to use, host, store, reproduce, modify, create
                derivative works, communicate and distribute your User Content, without any further notice to you and
                without any compensation or obligation to you.</p>



              <p>4.6</p>



              <p>You agree not to post, upload, publish, submit, store or transmit any content or User Content that: (i)
                infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral
                rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or
                encourages any conduct that would violate, any applicable law or regulation or would give rise to civil
                liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene,
                pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or
                harm against any individual or group; (vi) is violent or threatening or promotes violence or actions
                that are threatening to any person or entity; or (vii) promotes illegal or harmful activities or
                substances. You further agree not to engage in any activity that interferes with or disrupts the Service
                (or the servers and networks which are connected to the Service).</p>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><br><strong><em>5. Fees and
                    Payment</em></strong><br></p>



              <p>To use the Victor(y) Care app or sign up for a subscription, you must download it or make purchases
                through the app store. Therefore, payments, if any, are made to the operators of the app store and not
                to us directly. Consumer rights associated with the purchase must be exercised in relation to the app
                store.</p>



              <p>5.1</p>



              <p>The Local Service and the Online Service are available without the requirement of payment. In order to
                be able to provide the Local Service and the Online Service, we reserve the right to display advertising
                during your use of the Service (no advertising will be displayed when using the Subscription Service).
                We may also provide an option to donate via the App enabling your support of our Service.</p>



              <p>5.2</p>



              <p>The Subscription Service is subject to a purchase of the respective options as offered in the App
                and/or Store (subscription terms are generally offered on a monthly or annual basis). Ordering and
                payment of the Subscription Service is facilitated via an in-app purchase from the respective Store. The
                legal relationship associated with the purchase and any consumer or other rights arising therefrom are
                strictly allocated to the respective Store and not Victor(y) Care AS. When conducting the purchase,
                recourse is made to the payment options as determined in your user account with the respective Store.
                The payment and general terms of the respective Store apply. Victor(y) Care AS is not a party to the
                purchase transaction and hereby disclaims any and all obligation, responsibility and/or liability that
                may arise as a result of the purchase transaction.</p>



              <p>5.3</p>



              <p>The prices for the Subscription Service quoted in the App are gross prices in euros and include value
                added tax. Prices for the Subscription Services may differ based on the jurisdiction you are purchasing
                from.</p>



              <div class="su-spacer" style="height:20px"></div>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>6. Term and
                    Termination</em></strong></p>



              <p>You may stop using the service at any time. We are also entitled to disable the service or to modify
                the functionalities, in our sole discretion, subject to your rights as a paying subscriber. We will
                delete all of your personal information when you delete your account.</p>



              <p>6.1</p>



              <p>With regard to the Local Service and the Online Service, you are free to terminate the legal
                relationship with Victor(y) Care AS at any time by deleting your Account in accordance with the
                instructions provided in the App. We are also free to terminate the legal relationship to you and/or
                provision of the Service altogether, in our sole discretion, at any time without further notice to you,
                subject to Section 6.2.</p>



              <p>6.2</p>



              <p>You and Victor(y) Care AS are bound for the term as stipulated in the respective purchase of the
                Subscription Service subject to your rights in relation to the respective Store, if any, and the mutual
                right of termination for cause.</p>



              <p>6.3</p>



              <p>We shall, at our sole determination and discretion, and without further notice to you, suspend or
                terminate your use of the Service and/or your Account, and/or delete your User Content, if you are not
                complying with this Agreement or use the Service in any other way that could disrupt or falsify the
                Service.</p>



              <p>6.4</p>



              <p>When you delete your account, all User Content and other personal information provided by you will be
                deleted from our servers.</p>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>7. Limitation of
                    Liability</em></strong></p>



              <p>WE DO NOT ASSUME ANY GUARANTEE OR SPECIFIC LIABILITY AS TO THE SERVICE AND WITH REGARD TO THE PURPOSE
                OF YOUR USE. IN PARTICULAR, WE ARE NOT RESPONSIBLE IF CONSUMERS USE THE SERVICE FOR MEDICAL PURPOSES
                WHICH CONTRADICT THE EXPLICIT INTENTION OF OUR SERVICES.</p>



              <p>7.1</p>



              <p>VICTOR(Y) CARE AS EXPRESSLY DISCLAIMS ANY AND ALL LIABILITY FOR YOUR USE OF THE SERVICE FOR MEDICAL
                PURPOSES OR ANY OTHER PURPOSE THAT IS AGAINST THE INTENDED USE OF THE SERVICE.</p>



              <p>7.2</p>



              <p>Product descriptions shall not be deemed guaranteed unless separately agreed in writing. We do not
                warrant that the Service can be used to achieve particular interests, particularly that your wellbeing
                will be correctly predicted, or that the output of the Service is complete and accurate. Rather, the
                Service shall only represent a tool that helps monitor according to the information provided by you.</p>



              <p>7.3</p>



              <p>Provided we are liable for damages caused by the Service according to applicable law, liability shall
                be limited as follows and the limitation shall also apply to our representatives and agents. In the
                event of breaches of contract and corresponding liability caused by simple negligence it shall be
                limited to the typical average direct damages that were foreseeable at the time of concluding the
                contract. Neither we nor our legal representatives or agents assume any liability for breaches of
                non-essential contractual obligations arising from simple negligence; i.e. such obligations that are not
                required to perform the Service or this Agreement. The aforementioned limitations of liability do not
                affect any claims you raise under product liability law or a separate guarantee. For gross negligence
                and intentionally caused damages liability shall be unlimited. Further, the aforementioned limitations
                of liability do not apply to damages relating to life, limb and health attributable to us.</p>



              <div class="su-spacer" style="height:20px"></div>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>8. Data
                    Protection</em></strong></p>



              <p>Please read our Privacy and Security Policy to learn about the use of your personal data related to
                Victor(y) Care.</p>



              <p>8.1</p>



              <p>We take your privacy and data protection very seriously. We share and/or analyze your personal
                information only in the limited scenarios and for the limited purposes as explained in our Privacy and
                Security Policy available at&nbsp;<a style="color: #4fcad4;" href="https://victory.care/privacy"
                  target="_blank">https://victory.care/privacy</a>.</p>



              <p>8.2</p>



              <p>By using the Service, you agree to the collection and use of personal information in accordance with
                our Privacy and Security Policy.</p>



              <div class="su-spacer" style="height:20px"></div>



              <p style="color:#4fcad4" class="has-text-color has-medium-font-size"><strong><em>9. Final
                    Provisions</em></strong></p>



              <p>Please note that the introductory text in boxes above each section are intended to provide a high-level
                overview and are not legally binding. Only the detailed numbered provisions of these terms are legally
                binding.</p>



              <p>9.1</p>



              <p>This Agreement shall be governed by the laws of Norway excluding the UN-Convention on Contracts for the
                International Sale of Goods (CISG). The statutory provisions limiting the choice of law and requiring
                the applicability of mandatory regulations remain unaffected, particularly with respect to the statutory
                provisions effective in the state of your habitual residence as a consumer.</p>



              <p>9.2</p>



              <p>The platform for online dispute resolution as provided by the European Commission is available
                at&nbsp;<a style="color: #4fcad4;" href="http://ec.europa.eu/consumers/odr/" target="_blank"
                  rel="noreferrer noopener">http://ec.europa.eu/consumers/odr/</a>. We are not obliged to participate in
                dispute resolution proceedings in front of a consumer arbitration board and are principally not willing
                to take part in such proceedings.</p>



              <p>9.3</p>



              <p>The Agreement, along with all documents expressly incorporated herein by reference, is the entire
                agreement between you and Victor(y) Care AS with respect to the Service and they replace any prior
                arrangement relating to the Service.</p>



              <p>9.4</p>



              <p>Please note that the Agreement may be amended from time to time and we will notify you by revising the
                “Last Updated” date at the top of the Agreement and by providing you with an additional notice by email
                or postings on the App. In this notice, you will be informed about your right to object to the amendment
                of the Agreement within an adequate amount of time. Your continued use of the Service without informing
                us about your objection to a change or changes to the Agreement after the set period of time for
                objection shall constitute your acceptance of the change(s). If you do not accept the change(s) to the
                Agreement without being a customer to the Subscription Service, you hereby acknowledge that your only
                recourse is to terminate your use of the Service in accordance with the terms herein.</p>



              <div class="su-spacer" style="height:20px"></div>



              <div class="su-spacer" style="height:20px"></div>



              <div class="su-spacer" style="height:20px"></div>



              <p></p>
            </div>
          </div>
        </div>
        <div class="section section-page-footer">
          <div class="section_wrapper clearfix">

            <div class="column one page-pager">
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</ion-content>