page-app-settings-terms-and-conditions {
  // .main-div {
  //   padding-top: 15px;
  //   width: 70%;
  //   text-align: start;
  //   margin: 0 0 0 20%;
  // }
  .main-div {
    padding-top: 15px;
    width: 100%;
    padding: 25px;
    /* text-align: start; */
    /* margin: 0 0 0 9%; */
  }
  .Patient-Profile-info-Copy-6 {
    width: 146px;
    height: 19px;
    font-family: HelveticaNeue;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
  }

  .Terms-Conditions-and-Privacy-policy {
    font-family: "Arimo", sans-serif;
    outline: none;
    /* letter-spacing: 1px; */
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    touch-action: manipulation;
  }

  .editor-styles-wrapper .has-medium-font-size,
  .has-medium-font-size {
    font-size: 20px;
  }
  .the_content_wrapper {
    margin: 0 1%;
  }
  .the_content_wrapper,
  .the_content_wrapper ol {
    color: #fff;
    text-align: left;
  }
  p {
    margin: 0 0 15px !important;
  }
}
