page-app-library {
    .div-back {
        color: white;
        height: 30px;
        background: #fb7e7e;
        margin-top: opx;
        position: relative;
        width: 30px;
        float: right;
        right: 40px;
        top: 10px;
        border-radius: 28px;
    }
    .icon {
        font-size: 22px;
        // right: 31px;
    }
}
