<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-8>
      <ion-row style="width:154%">
        <!-- <div padding
          style="margin-left: 35px;height: 150px;margin-right: 0px;width:200px;background: #39415b; color:#444; border-radius: 10px">
          <div #imageUploader><img style="width:55%;" [src]="upload" (click)="ImageUpload()"></div>
          <div #addPhotoCaption style="color:#fff;">Add Photo or vedio</div>
        </div> -->
        <!-- <div #previewImage> <img style="border-radius:20px" [src]="data.image"
          *ngIf="data?.image"></div> -->
        <div style="margin-bottom: 20px;margin-left: 30px;margin-right:-30px;" *ngFor="let item of images"
          #previewImage>
          <div class="div-back" (click)="ConfirmDelete(item.id)">
            <ion-icon class="icon" name="trash">
            </ion-icon>
          </div>
          <img style="height: 150px;width:200px;border-radius:20px" [src]="item.image" #myImage
            (click)="presentImage(myImage)" />

        </div>

      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<button (click)="ImageUpload()" style=" background-color: rgb(251 126 126);height: 80px;width: 80px;position: sticky;left: 920px;top:80%;z-index:
  9999;" ion-fab>
  <ion-icon style="font-size: 60px;" class="icAdd" name="add"></ion-icon>
</button>