<!--
  Generated template for the AppReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header1">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <div class="datetime-text"
  style="border: 1px solid #464e6a;border-radius: 10px;background-color:#464e6a;width: 250px;margin-left: 490px; margin-top: 0px; position: relative; top:-15px; left: 50px;">
  <div style="width: 42px;float: left;padding: 5px 2px 7px 0px;background-color: #74c2ce;"><img style="margin-top: 0px;
    width: 25px;
    height: 25px;" src="assets/images/menu-icons/calendar-icon.png">
  </div>
  <ion-datetime placeHolder="Select Date" [(ngModel)]="selectedDate" displayFormat="DD / MM / YYYY "
    (ionChange)="notify($event)" style="margin-top: 5px;float: left;padding: 0 10px;font-size: 22px;
    font-weight: 600; color: white;">
  </ion-datetime>
  <img style="height: 36px;width: 40px;margin-left: -11px;" src="assets/images/menu-icons/down-arrow.png">
</div>
</ion-header>

<ion-content padding>
  <ion-tabs tabsPlacement='top' tabs-content>
    <ion-tab  class="width: 400px;" [tabTitle]="item.title" [rootParams] ="fooId"  [root]="item.page" *ngFor="let item of tabs;let i = index"></ion-tab>
  </ion-tabs>
</ion-content>
