<!--
  Generated template for the SocialAccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit social accounts for sharing daily wheel</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div>
    <div class="item-list">
      <img class="img1" src="assets/social-media/facebook.png" />
      <span class="urltag">facebook.com/</span>
      <ion-item class="item1" no-lines>
        <ion-input placeholder="Type your address here" name="facebook" type="text"></ion-input>
      </ion-item>
    </div>
    <div class="item-list">
      <img class="img1" src="assets/social-media/twitter.png" />
      <span class="urltag">twitter.com/</span>
      <ion-item class="item1" style="left: 85px !important;" no-lines>
        <ion-input placeholder="Type your address here" name="facebook" type="text"></ion-input>
      </ion-item>
    </div>
    <div class="item-list">
      <img class="img1" src="assets/social-media/instagram.png" />
      <span class="urltag">instagram.com/</span>
      <ion-item class="item1" style="left: 38px !important;" no-lines>
        <ion-input placeholder="Type your address here" name="facebook" type="text"></ion-input>
      </ion-item>
    </div>
    <div class="item-list">
      <img class="img1" src="assets/social-media/linkedin.png" />
      <span class="urltag">linkedin.com/</span>
      <ion-item class="item1" style="left: 63px !important;" no-lines>
        <ion-input placeholder="Type your address here" name="facebook" type="text"></ion-input>
      </ion-item>
    </div>
    <div class="item-list">
      <div class="div1">
        <span class="span1">@</span>
      </div>
      <ion-item class="email1" no-lines>
        <ion-input placeholder="Add Email address" name="facebook" type="text"></ion-input>
      </ion-item>
    </div>
  </div>
  <button class="btn" ion-button round>Save</button>
</ion-content>