page-social-accounts {
    .item-list {
        border: 0px !important;
        border-radius: 15px !important;
        background: #39415b !important;
        height: 70px !important;
        width: 700px;
        margin: 30px auto;
        padding-left: 0px !important;
    }
    .span-text {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: #ffffff;
        padding-left: 20px;
        text-align: justify;
    }
    .img1 {
        height: 70px;
        width: 72px;
        border-radius: 13px;
        float: left;
        position: relative;
        top: -3px;
    }
    .div1 {
        background: #3f485b;
        height: 68px;
        width: 73px;
        border-radius: 10px;
        text-align: center;
    }
    .span1 {
        color: white;
        font-size: 44px;
        top: 3px;
        position: relative;
    }
    .urltag {
        font-size: 24px;
        color: white;
        top: 15px;
        position: relative;
        left: 30px;
        float: left;
        font-weight: 600;
    }
    .item1 {
        top: -15px !important;
        left: 50px !important;
        position: relative !important;
        font-size: 24px !important;
        color: white !important;
        font-weight: 600 !important;
        width: 330px;
    }
    .email1 {
        position: relative;
        top: -83px;
        font-size: 24px !important;
        color: white !important;
        font-weight: 600 !important;
        left: 80px !important;
        float: left;
    }
    .btn {
        width: 170px;
        height: 1.6 rem !important;
        height: 55px;
        background: rgb(105, 194, 209);
        font-size: 24px;
        float: right;
        position: relative;
        right: 145px;
        top: -40px;
    }
}
