page-app-timeline {
    @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700");

    .content {
        height: 100vh;
        font-family: "Ubuntu", sans-serif;
    }

    button.text {
        font-size: 19px !important;
        border-radius: 50px;
        background-color: #e26060;
        color: white;
        font-size: x-large;
        max-width: none !important;
    }
    .item-width {
        //width: 35%;
        flex-flow: row-reverse;
    }

    .addImg {
        max-width: none !important;
    }
    .alert-wrapper {
        border-radius: 13px;
        overflow: hidden;
        max-width: 270px;
        background-color: #f8f8f8;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: absolute;
        right: 11px;
        top: 155px;
    }
    :root {
        .alert-radio-label {
            overflow: hidden !important;
            -webkit-box-flex: 1 !important;
            -webkit-flex: 1 !important;
            -ms-flex: 1 !important;
            flex: 1 !important;
            -webkit-box-ordinal-group: 1 !important;
            -webkit-order: 0 !important;
            -ms-flex-order: 0 !important;
            order: 0 !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            color: red !important;
            padding: 13px !important;
            font-size: 22px !important;
        }
    }
    .share {
        position: absolute;
        width: 100px;
        top: -25px;
        right: -20px;
    }
    .setting {
        position: absolute;
        width: 100px;
        top: -30px;
        right: 70px;
        z-index: 9999;
    
    }
    .theroot {
        height: 170px;
        width: 180px;
    }
    .item-cover {
        left: 425px !important;
        top: 20px !important;
        position: absolute;
        width: 25% !important;
        height: 68% !important;
        background: transparent;
        cursor: pointer;
    }
 
    .circularclass {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 2px 15px 0px 0px;
    }

    .container ul {
        margin: 0;
        // margin-top: 30px;
        list-style: none;
        position: relative;
        color: #fff;
        font-size: 13px;
    }

    .container ul:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        border-left: 2px dashed #fff;
        left: 21px;
    }

    .container ul li {
        position: relative;
        // margin-left: 30px;
        background-color: #3a4159;
        padding: 10px;
        border-radius: 6px;
        // width: 250px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
    }
    .outside
    {
        min-height: 0px!important;
        margin-top: -100px !important;
    }

    .container ul li:not(:first-child) {
        margin-top: 30px;
    }

    .number {
        width: 3px;
        height: 100%;
        background: #fff;
        left: -19px;
        top: 0;
        position: absolute;
    }

    // .container ul li > span:before, .container ul li > span:after {
    //     content: "";
    //     width: 12px;
    //     height: 12px;
    //     background-color: #79b573;
    //     border-radius: 50%;
    //     position: absolute;
    //     left: -12px;
    //     top: -13px;
    //     border: 7px solid #4f705c;
    // }

    .datePicker {
        height: 10px;
    }

    .container ul li span:after {
        top: 100%;
    }

    .container ul li > div {
        margin-left: 10px;
    }

    .container div .title,
    .container div .type {
        font-weight: 600;
        font-size: 12px;
    }

    .container div .info {
        font-weight: 300;
        padding-top: 0px;
    }

    .container div > div {
        margin-top: 5px;
    }

    .container span.number {
        height: 100%;
    }

    .container span.number span {
        position: absolute;
        font-size: 10px;
        left: -46px;
        font-weight: bold;
    }

    .container span.number span:first-child {
        top: 0;
    }

    .container span.number span:last-child {
        top: 100%;
    }

    ion-fab[bottom] {
        bottom: 66px;
        right: 50px;
    }

    .fab {
        text-align: center;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 50%;
        position: relative;
        z-index: 0;
        display: block;
        overflow: hidden;
        width: 78px;
        height: 78px;
        font-size: 14px;
        line-height: 56px;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        -webkit-transition: background-color, opacity 100ms linear;
        transition: background-color, opacity 100ms linear;
        background-clip: padding-box;
        -webkit-font-kerning: none;
        font-kerning: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        contain: strict;
    }

    .fab-ios {
        color: #fff;
        background-color: #e26060;
    }

    ion-fab[middle] {
        /* margin-top: -28px; */
        top: 80%;
        right: 25px;
    }

    ion-fab-list[side="top"] {
        top: auto;
        right: 52px;
        bottom: 45px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    ion-fab-list[side="left"] {
        margin: 0 67px;
        right: 30px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        top: -25px;
    }

    .icAdd {
        top: 10px;
        font-size: 50px;
    }

    .fab-close-active .fab-close-icon {
        font-size: 50px;
        top: 10px;
        opacity: 1;
        -webkit-transform: scale(1) rotateZ(0deg);
        transform: scale(1) rotateZ(0deg);
    }

    .btnBottom {
        right: 125px;
        top: -25px;
    }

    .left-timeline {
        height: 890px;
        margin-top: 25px;
        overflow-y: scroll;
    }

    .innerpoint-timeline {
        height: 22px;
        width: 22px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: 37px;
        top: -8px;
        border: 5px solid #4f705c;
    }
    /* .innerpoint-timeline{
        height: 12px;
        width: 12px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: -8px;
    } */

    /* .innerpoint-end-timeline {
        height: 12px;
        width: 12px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        bottom: -17px;
        float: left;
    }
    .starttime:before, .starttime:after{
        content: "";
        height: 12px;
        width: 12px;
        background: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: -8px;
    } */

    /* .beforediv{
        width: 22px;
        height: 22px;
        background-color: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: -13px;
        opacity: 0.28;
    }
    .afterdiv{
        width: 22px;
        height: 22px;
        background-color: #79b573;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 108px;
        opacity: 0.28;
    } */

    .card-top-icon {
        height: 25px;
        width: 25px;
        float: right;
    }

    [card-image] {
        position: relative;
        @include darkening-blend-mode;
        &::before {
            z-index: 3;
        }

        [card-title] {
            color: theme-colors("textColors", "accent-first") !important;
            position: absolute;
            left: 16px;
            bottom: 20px;
            z-index: 999;
        }
    }

    .card-ios {
        margin: 12px;
        border-radius: 12px;
        background: #39415b;
    }

    .card-md {
        margin: 12px;
        border-radius: 12px;
        background: #39415b;
    }

    .card-ios p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        color: fff;
        color: white;
    }

    .card-ios h2 {
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0.5px;
        color: #ffffff;
    }

    .card-md h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0.5px;
        color: #ffffff;
    }

    p.end {
        float: left;
    }

    p.start {
        float: right;
    }

    ion-row.Ttime.row {
        margin-left: 20px;
    }

    .ovel {
        height: 30px;
        width: 30px;
        background: #79b573;
        border-radius: 50%;
        float: left;
        border: 5px solid #4f705c;
    }

    .medicine {
        // height: 25.4px;
        // width: 9.6px;
        // background: #79b573;
        // border-radius: 6.3px;
        // float: left;
        height: 9.6px;
        width: 25.4px;
        background: #79b573;
        border-radius: 6.3px;
        /* float: left; */
        position: absolute;
        left: 35px;
        top: 0px;
    }

    .tabelt {
        // height: 17px;
        // width: 17px;
        // position: absolute;
        // left: 11px;
        // top: 11px;
        height: 14px;
        width: 14px;
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .ovel-icon {
        width: 25px;
        height: 25px;
        border-radius: 20px;
        /* opacity: 0.28; */
        //float: left;
        position: absolute;
        left: 35px;
        top: -8px;
        background-color: #b868d8;
    }

    .wheel {
        padding: 0px;
    }
    .Oval-9-Copy-8 {
        position: absolute;
        width: 50px;
        height: 50px;
        // transform: rotate(-180deg);
        background-color: #fcb56b;
        border-radius: 35px;
        // top: 84px;
        left: 95px;
    }

    .Oval-9-Copy-7 {
        position: absolute;
        width: 50px;
        height: 50px;
        // top: 80px;
        border-radius: 35px;
        // transform: rotate(-180deg);
        background-color: #779e74;
    }

    .Oval-9-Copy-6 {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        // transform: rotate(-180deg);
        background-color: #d25992;
        margin-top: 70px;
        margin-left: 50px;
    }
    .bar-button-md[icon-only] ion-icon {
        font-size: 14px !important;
    }
    .card-md {
        background: #39415b;
        border-radius: 12px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-title-md {
        color: #fff;
    }
    .select-md {
        padding: 5px 8px 25px 16px;
        color: #fff;
    }
    .Path {
        width: 10px;
        height: 5px;
        transform: rotate(-180deg);
        border: solid 2px #ffffff;
    }

    .header-ios .toolbar-background-ios.footer-ios .toolbar-background-ios {
        border-style: none !important;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0px !important;
    }

    .picker-ios.picker-wrapper {
        transform: translateY(-159%) !important;
        // height: 260px !important;
        // border-top: none !important;
        // background: rgb(43, 50, 73) !important;
        // position: fixed !important;
        // bottom: 432px !important;
        // width: 400px !important;
    }
    .picker-ios,
    .picker-wrapper {
        height: 340px !important;
        border-top: none;
        background: rgb(43, 50, 73) !important;
    }
}
