<ion-header>
  <ion-navbar>
    <h1 style="float: left;color: white;">24-Hour Clock</h1>
    <div class="datetime-text"
      style="border: 1px solid #464e6a;border-radius: 10px;background-color:#464e6a;width: 250px;margin-left: 350px;margin-top: 20px;">
      <div style="width: 42px;float: left;padding: 5px 2px 7px 0px;background-color: #74c2ce;"><img style="margin-top: 0px;
        width: 25px;
        height: 25px;" src="assets/images/menu-icons/calendar-icon.png">
      </div>
      <ion-datetime placeHolder="Select Date" [(ngModel)]="selectedDate" displayFormat="DD / MM / YYYY"
        (ionChange)="notify($event)" style="margin-top: 5px;float: left;padding: 0 10px;font-size: 22px;
        font-weight: 800; color: white;">
      </ion-datetime>
      <img style="height: 36px;width: 40px;margin-left: -11px;" src="assets/images/menu-icons/down-arrow.png">
    </div>
    <form [formGroup]="SelectList">
      <ion-item no-lines *ngIf="ut && notselected && dependent" class="item-width" style="background:none;">
        <ion-select (ionChange)="selectEmployee($event)" style="color: white;" right>
          <ion-label>Select Healthcare Provider</ion-label>
          <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1"
            value="{{key.id}}">{{key.firstname}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines class="item-width" style="background:none;" *ngIf="ut && !notselected && dependent">
        <ion-select (ionChange)="selectEmployee($event)" style="color: white;" right>
          <ion-label>Select Healthcare Provider</ion-label>
          <ion-option *ngFor="let key of dropdown[0]; let idx = index;" [selected]="key.id==selected1"
            value="{{key.id}}">{{key.firstname}}</ion-option>
        </ion-select>
      </ion-item>
    </form>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-row>
    <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
    </ion-col>
  </ion-row> -->
  <ion-row (click)="fab.close()" wrap padding>
    <ion-col class="left-timeline" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 padding>
      <div class="container" style="padding-left: 16px;">
        <ul>
          <li *ngFor="let item of WheelData | sort: {property: column, order: order};">
            <div *ngIf="item.source=='Activity'">
              <div><span></span>
                <ion-row>
                  <ion-col style="text-align: start;" col-6>
                    <div class="title">{{item.name}}</div>
                  </ion-col>
                  <ion-col col-6>
                    <img (click)="editWheelActivity(item)" class="card-top-icon" style="margin-left:5px;"
                      src="assets/images/others/edit-icon.png" />
                    <img (click)="deleteWheelActivityData(item)" class="card-top-icon"
                      src="assets/images/others/delete-icon.png" />
                  </ion-col>
                  <ion-col style="text-align: start; padding-top: 0px;" col-12>
                    <div class="info">{{item.description}}</div>
                  </ion-col>
                </ion-row>
              </div> <span [style.background]=item.color class="number"><span style="">
                  <div class="innerpoint-timeline" [style.backgroundColor]=item.color
                    [style.border-color]=item.bordercolor></div>{{item.start}}
                </span> <span>
                  <div class="innerpoint-timeline" [style.backgroundColor]=item.color
                    [style.border-color]=item.bordercolor></div>{{item.end}}
                </span></span>
            </div>

            <div *ngIf="item.source=='Medicine'">
              <div><span></span>
                <ion-row>
                  <ion-col style="text-align: start;" col-6>
                    <div class="title">{{item.medicineName}}</div>
                  </ion-col>
                  <ion-col col-6>
                    <img (click)="EditMedicine(item)" class="card-top-icon" style="margin-left:5px;"
                      src="assets/images/others/edit-icon.png" />
                    <img (click)="deleteWheelMedicineData(item)" class="card-top-icon"
                      src="assets/images/others/delete-icon.png" />
                  </ion-col>
                  <ion-col style="text-align: start; padding-top: 0px;" col-12>
                    <div class="info">{{item.description}}</div>
                  </ion-col>
                </ion-row>
              </div> <span [style.background]=item.color class="number"><span>
                  <div class="ovel-icon" [style.backgroundColor]=item.color><img class="tabelt" style="float: left;"
                      src="assets/imgs/icn-pill.png" /></div>{{item.start}}
                </span> <span>
                  <div class="ovel-icon" [style.backgroundColor]=item.color><img class="tabelt" style="float: left;"
                      src="assets/imgs/icn-pill.png" /></div>{{item.end}}
                </span></span>
            </div>

            <div *ngIf="item.source=='Event'">
              <div><span></span>
                <ion-row>
                  <ion-col style="text-align: start;" col-6>
                    <div class="title">{{item.Eventname}}</div>
                  </ion-col>
                  <ion-col col-6>
                    <img (click)="EditEvent(item)" class="card-top-icon" style="margin-left:5px;"
                      src="assets/images/others/edit-icon.png" />
                    <img (click)="deleteWheelEventData(item)" class="card-top-icon"
                      src="assets/images/others/delete-icon.png" />
                  </ion-col>
                  <ion-col style="text-align: start; padding-top: 0px;" col-12>
                    <div class="info">{{item.description}}</div>
                  </ion-col>
                </ion-row>
              </div> <span [style.background]=item.color class="number"><span>
                  <div class="medicine" [style.backgroundColor]=item.color></div>{{item.start}}
                </span> <span>
                  <div class="medicine" [style.backgroundColor]=item.color></div>{{item.end}}
                </span></span>
            </div>
          </li>
        </ul>
      </div>
    </ion-col>
    <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8>
    <div class="setting">
      <img  (click)="settings()" src="assets/images/others/timelinesetting.png">
    </div>
      <!-- <img class="share" (click)="takeScreenShot()" src="assets/images/others/share.png">
      <ion-item style="margin-bottom: -31px;opacity: 0;width: 0px;margin-top: -13px;height: 0px;" no-lines>
        <ion-select [(ngModel)]="choices" (ionChange)="closeSelect($event)" #mySelect>
          <ion-label>Share on Social Media</ion-label>
          <ion-option value="facebook">Share on Facebook</ion-option>
          <ion-option value="facebookhint">Share on Facebook12</ion-option>
          <ion-option value="twitter">Share on Twitter</ion-option>
          <ion-option value="linked">Share on Linked In</ion-option>
          <ion-option value="email">Share via Email</ion-option>
        </ion-select>
      </ion-item> -->   
      <div class="outside">
        <div class="fade-in" id="activitycanvas">
          <div class="fade-in" id="medicinecanvas">
            <div class="fade-in" id="sleepcanvas">
              <div class="fade-in" id="canvas">
                <div class="fade-in" id="icons">
                  <div class="Oval-9-Copy-8">
                    <img style="padding-top: 10px;" src="assets/images/menu-icons/video-camera.png" />
                  </div>
                  <div class="Oval-9-Copy-7">
                    <img style="padding-top: 10px;" src="assets/images/menu-icons/photo-camera.png" />
                  </div>
                  <div class="Oval-9-Copy-6">
                    <img style="padding-top: 10px;" src="assets/images/menu-icons/stopwatch.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="activitycanvas1" class="fade-in"></div>
        </div>
      </div>

      <div style="display: block;padding-left: 50px;" class="col-xs-8 col-sm-8 pre-definedlist">
        <div class="row">
          <ion-scroll direction="x-y" class="theroot">
            <div class="col-xs-2 col-sm-2 text-left" style="text-align: justify;">
              <span>Wellbeing status</span>

              <div *ngFor="let item of wellbeaningList" class="sublist">
                <div [style.background]=item.color class="circularclass sleep"></div>
                <div style="width: 110px;">{{item.name}}</div>
              </div>
            </div>
          </ion-scroll>
          <ion-scroll direction="x-y" class="theroot">
            <div style="padding-left: 15px;text-align: justify;" class="col-xs-3 col-sm-3 text-left">
              <span (click)="takeScreenShot()">Medicines</span>
              <div *ngFor="let item of medicineList" class="sublist">
                <div [style.background]=item.color class="circularclass medicinelosec"></div>
                <div style="width: 100px;">{{item.name}}</div>
              </div>

            </div>
          </ion-scroll>
          <ion-scroll direction="x-y" class="theroot">
            <div style="padding-left: 15px;text-align: justify;" class="col-xs-4 col-sm-4 text-left">
              <span >Activities</span>
              <div *ngFor="let item of activityList" class="sublist">
                <div [style.background]=item.color class="circularclass activitybpap"></div>
                <div style="width: 66px;margin-top:-4px;">{{item.name}}</div>
              </div>
            </div>
          </ion-scroll>

        </div>
      </div>

    </ion-col>

  </ion-row>

  <ion-fab right middle #fab>
    <button class="boxshadow" style="background-color: #fb7e7e;" ion-fab>
      <ion-icon class="icAdd" name="add"></ion-icon>
    </button>
    <ion-fab-list (click)="addActivity()" side="top">
      <img (click)="fab.close()" class="addImg" src="assets/images/others/btn-add-activity.png">
    </ion-fab-list>
    <ion-fab-list (click)="addStatus()" class="btnBottom" side="button">
      <img (click)="fab.close()" class="addImg" src="assets/images/others/add-wellbeing-status-.png">
    </ion-fab-list>
    <ion-fab-list (click)="addMedicien()" side="left">
      <img (click)="fab.close()" class="addImg" src="assets/images/others/btn-add-medicine.png">
    </ion-fab-list>

  </ion-fab>
</ion-content>