<ion-content style="background: rgb(43,50,73);">
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding [formGroup]="activityFormGroup">
        <ion-title style="margin-top: -20px;" text-center>Add Activity</ion-title>
        <!-- <form [formGroup]="medicineStep2form"> -->
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                <ion-item style="margin-bottom: -23px;width: 510px;background:none;margin-top: -40px;" padding
                    class="item-width" interface="alert">
                    <ion-label>Select Activity</ion-label>
                    <ion-select formControlName="activity" style="color: white;" [(ngModel)]="data.activity"
                        (ionChange)="onotherActvityChange($event)">
                        <ion-option *ngFor="let key of activityList" value="{{key.id}}">{{key.name}}</ion-option>
                        <!-- <ion-option value="other">other</ion-option> -->
                    </ion-select>
                </ion-item>
                <ion-row style="width: 510px;margin-top: -35px;">
                    <ion-col col-6>
                        <ion-item style="margin-bottom: -23px;" padding transparent class="item-width">
                            <ion-label stacked style="font-size: 18px;">
                                Start Date
                                <span style="color: #e0675c;margin-left: 7px;">*</span>
                            </ion-label>
                            <ion-datetime formControlName="prestartdate" [disabled]="readonly" [(ngModel)]="data.prestartdate"
                                displayFormat="DD/MM/YY" placeholder="DD/MM/YY" max="2020-12-31" style="margin:8px;padding:0px;color:#fff;">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item style="margin-bottom: -23px;" padding transparent class="item-width">
                            <ion-label stacked style="font-size: 18px;">
                                End Date
                                <span style="color: #e0675c;margin-left: 7px;">*</span>
                            </ion-label>
                            <ion-datetime formControlName="preenddate" [disabled]="readonly" [(ngModel)]="data.preenddate" displayFormat="DD/MM/YY"
                                max="2020-12-31" placeholder="DD/MM/YY" style="margin:8px;padding:0px;color:#fff;"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!-- <ion-row style="width: 510px;margin-top: -10px;">
                    <ion-col col-5>
                        <ion-item style="margin-bottom: -23px;width: 243px;" padding transparent class="item-width">
                            <ion-label stacked style="font-size: 18px;">Start Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.starttime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item style="margin-bottom: -23px;width: 243px;margin-left:42px;" padding transparent
                            class="item-width">
                            <ion-label stacked style="font-size: 18px;">End Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.endtime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row> -->
                <ion-row style="margin-top: 15px;">
                    <ion-col col-12>
                        <div style="color:#fff;padding-bottom: 0" padding>Time</div>
                    </ion-col>
                </ion-row>
                <ion-row formArrayName="tim">
                    <ng-container *ngFor="let item of data.tim;let i = index">
                        <!-- <ion-col col-6>
                            <ion-item style="width: 150px;" transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Medicine taken</ion-label>
                                <ion-input formControlName="dose" style="margin-top:0.5em;margin-bottom:0.5em"
                                    placeholder="No of dose" [(ngModel)]="item.dose" type="text"></ion-input>
                            </ion-item>
                        </ion-col> -->
                        <ion-col col-9>
                            <ion-item style="margin-top: 10px;" transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Time</ion-label>
                                <ion-datetime style="padding: 0px 0px 0px 0px!important;color: white;" formControlName="starttime"
                                    placeholder="add time" [(ngModel)]="item.starttime" displayFormat="HH:mm">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon name="close" (click)="deleteTim(i)" margin></ion-icon>
                        </ion-col>
                    </ng-container>
                </ion-row>
                <div style="color: white;" padding (click)="addTim()">
                    <ion-icon style="color:white" name="add"></ion-icon>
                    Add Wellbeing time
                </div>
                <ion-row style="width: 350px;">
                    <ion-item style="margin-bottom: -41px;" padding transparent class="item-width" no-lines>
                        <ion-label style="color:#fff;">Recurring Daily</ion-label>
                        <ion-toggle formControlName="recurringDaily" [(ngModel)]="data.recurringDaily"></ion-toggle>
                    </ion-item>
                    <ion-item style="color:#fff;" padding transparent class="item-width" no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle formControlName="addToStdWheel" style="color:#fff;" [(ngModel)]="data.addtostandardwheel"></ion-toggle>
                    </ion-item>
                    <div style="margin-top: -10px;" class="block-insert" right margin>
                        <button style="left: 320px;
                        width: 180px;" (click)="addPatientActivityDetails(patientData, index)" class="btn-back"
                            ion-button round>Save</button>
                    </div>
                    <!-- <ion-item style="color:#fff;" padding transparent class="item-width">
                          <ion-label>Notifications for use during day?</ion-label>
                          <ion-toggle style="color:#fff;" [(ngModel)]="data.enableDuringDay"></ion-toggle>
                      </ion-item> -->
                </ion-row>
            </ion-col>
            <!-- <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                <ion-col col-6> -->

            <!-- <div padding (click)="addTime()" style="color: #aeaebd;">
                          <ion-icon name="add"></ion-icon>
                          Add additional time
                      </div> -->
            <!-- </ion-col>
            </ion-col> -->
        </ion-row>
        <!-- </form> -->
    </ion-grid>
</ion-content>