
<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!this.action" text-center>Patient Profile</ion-title>
        <ion-title *ngIf="this.action" text-center>Edit Patient Profile</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!-- <ion-buttons right (click)="logout()">
            <button ion-button icon-only><ion-icon name="lock">Logout</ion-icon></button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid padding >
        <ion-row>
            <ion-col>
                <div *ngIf="!this.action" class="app-description">
                    Please fill all the info below
                </div>
                <div *ngIf="this.action" class="app-description">
                    You can edit or fill all info below
                </div>
            </ion-col>
        </ion-row>
        <form [formGroup]="Profileform">
            <ion-row wrap padding>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-8>
                            <div no-padding transparent no-lines text-center class="item-width" >
                                <div *ngIf="!data.image"  padding style="background: #39415b; color:#444; border-radius: 10px">
                                    <div #imageUploader><img style="width:30%;" [src]="upload"  (click)="ImageUpload()"></div>
                                    <div #addPhotoCaption style="color:#fff;">Add Patient Photo</div>
                                    <!-- <ion-icon name="close-circle"  (click)="removeImage()"></ion-icon> -->
                                </div>
                                <div #previewImage> <img style="border-radius:20px" [src]="data.image"
                                    *ngIf="data.image"></div>
                                <div #previewImage> <img style="border-radius:20px" ></div>
                                <div #removePhotoIcon style="margin:auto;width: 10%;display: none">
                                    <ion-icon name="close-circle"  (click)="removeImage()"></ion-icon>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-2></ion-col>
                    </ion-row>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            User Type
                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-input formControlName="usertype" style="color:#666 !important;" type="text" readonly [(ngModel)]="data.usertype" ></ion-input>
                    </ion-item>
                    <!-- <ion-item class="item-width" style="background:none;">
                      <ion-label>Select Action</ion-label>
                      <ion-select formControlName="selectType" [(ngModel)]="data1.selectType" (ionChange)="addType($event)">
                        <ion-option *ngIf="!addExisting" value="new" selected>Add New</ion-option>
                        <ion-option value="exist">Add Existing</ion-option>
                      </ion-select>
                    </ion-item> -->
                    <!-- <ion-item *ngIf="!hcpLoggedIn" class="item-width" style="background:none;">
                      <ion-label>Select Patient</ion-label>
                      <ion-select formControlName="storedDoctors" [(ngModel)]="data.storedDoctors" (ionChange)="checkState($event)">
                        <ion-option *ngFor="let key of data4.newDoctors[0];" value="{{key.email}}">{{key.name}}</ion-option>
                      </ion-select>
                    </ion-item> -->
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Email Address
                            <span  style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="email" placeholder="Select your email address here"  [(ngModel)]="data.email" type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.email.valid && (Profileform.controls.email.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please enter valid Email</p>

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Firstname
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="firstname" type="text" placeholder="Type your firstname here" [(ngModel)]="data.firstname" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.firstname.valid && (Profileform.controls.firstname.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Firstname</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Lastname
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="lastname" type="text" placeholder="Type your lastname here" [(ngModel)]="data.lastname" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.lastname.valid && (Profileform.controls.lastname.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Lastname</p>

                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Birth Date
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-datetime  formControlName="birthDate"placeholder="DD/MM/YYYY" [(ngModel)]="data.birthdate" displayFormat="DD/MM/YYYY" style="margin:8px;padding:0px" disabled="{{enableDiv}}"></ion-datetime>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.birthDate.valid && (Profileform.controls.birthDate.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Select birthDate</p>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          Sex
                          <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                      </ion-label>
                      <ion-select formControlName="sex" placeholder="Select your gender here" [(ngModel)]="data.sex" disabled="{{enableDiv}}">
                          <ion-option value="f" [selected]="data.sex==f && data.sex == ''">Female</ion-option>
                          <ion-option value="m" [selected]="data.sex==m && data.sex == ''">Male</ion-option>
                      </ion-select>
                  </ion-item>
                  <!-- <p *ngIf="!Profileform.controls.sex.valid && (Profileform.controls.sex.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Select sex</p> -->

                  <ion-item padding transparent class="item-width">
                      <ion-label stacked >
                          Mobile Number
                          <span  style="color: #e0675c;margin-left: 7px;">*</span>
                      </ion-label>
                      <ion-input formControlName="mobile" placeholder="Enter Mobile Number"  [(ngModel)]="data.mobile" type="text" disabled="{{enableDiv}}"></ion-input>
                  </ion-item>
                  <p *ngIf="!Profileform.controls.mobile.valid && (Profileform.controls.mobile.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Mobile Number</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Full Address</ion-label>
                        <ion-input formControlName="address" placeholder="Street/ Building No/ Zip/ City/ Country" [(ngModel)]="data.street" type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <!-- <img class="location" src="assets/images/map.png" /> -->
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Language Preferred
                            <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-input formControlName="languagePreferred" placeholder="Type your preferred Language here" [(ngModel)]="data.languagepreferred" type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.languagePreferred.valid && (Profileform.controls.languagePreferred.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please enter Language Preferred</p>
                    <!-- <ion-row>
                        <ion-col col-12>
                            <div style="color:#fff;padding-bottom: 0" padding>Diagnosis</div>
                        </ion-col>
                    </ion-row>
                    <ion-row formArrayName="diagnosis">
                        <ng-container *ngFor="let item of data.diagnosis;let i = index">
                           <ion-col col-11>
                               <ion-item  transparent class="item-width" [formGroupName]="i">
                                   <ion-label style="display: none;" stacked>Diagnosis</ion-label>
                                   <ion-input formControlName="name" style="margin-top:0.5em;margin-bottom:0.5em"  placeholder="Type diagnosis here or add documents" [(ngModel)]="item.name" type="text" disabled="{{enableDiv}}"></ion-input>
                               </ion-item>
                           </ion-col>
                           <ion-col col-1>
                               <ion-icon name="close" (click)="deleteDiagnosis(i)" *ngIf="i!==0" margin></ion-icon>
                           </ion-col>
                        </ng-container>
                    </ion-row>
                    <div padding (click)="addDiagnosis()">
                        <ion-icon name="add"></ion-icon>
                        Add additional diagnosis
                    </div> -->

                    <!-- <ion-row formArrayName="diagnosis">
                        <ng-container *ngFor="let item of Profileform.controls.diagnosis.controls; let i=index">
                           <ion-col col-11>
                               <ion-item  transparent class="item-width" [formGroupName]="i">
                                   <ion-label style="display: none;" stacked>Diagnosis</ion-label>
                                   <ion-input [(ngModel)]="item.name" formControlName="name" style="margin-top:0.5em;margin-bottom:0.5em"  placeholder="Type diagnosis here or add documents" type="text" ></ion-input>
                               </ion-item>
                           </ion-col>
                           <ion-col col-1>
                               <ion-icon name="close" (click)="removeAddress(i)" *ngIf="i!==0" margin></ion-icon>
                           </ion-col>
                        </ng-container>
                    </ion-row> -->

                    <!-- <div padding (click)="addAddress()">
                        <ion-icon name="add"></ion-icon>
                        Add additional diagnosis
                    </div> -->

                    <div style="color:#fff;padding-bottom: 0" padding>Next of kin</div>

                    <ion-row formArrayName="contacts">
                        <ng-container *ngFor="let item of data.contacts;let i = index">
                            <ion-col col-6>
                                <ion-item transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display:none" stacked>Contacts</ion-label>
                                    <ion-input formControlName="name" style="margin-top:0.5em;margin-bottom:0.5em"  placeholder="Contact Name" [(ngModel)]="item.name" required type="text" disabled="{{enableDiv}}"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col col-5>
                                <ion-item transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display:none" stacked>Contacts</ion-label>
                                    <ion-input formControlName="phone" style="margin-top:0.5em;margin-bottom:0.5em"  placeholder="Phone number" [(ngModel)]="item.phone" required type="text" disabled="{{enableDiv}}"></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col *ngIf="!enableDiv" col-1>
                                <ion-icon name="close" (click)="deleteContact(i)"  margin></ion-icon>
                            </ion-col>
                        </ng-container>
                    </ion-row>

                    <div *ngIf="!enableDiv" padding (click)="addContact()">
                        <ion-icon name="add" ></ion-icon>
                        Add Next of Kin
                    </div>
                    <div *ngIf="!enableDiv" class="block-insert" margin>
                        <button (click)="addPatientDetails()" class="dark-button" ion-button round>
                            Save
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
