<ion-content>
    <ion-buttons right>
        <button ion-button style="background-color: transparent;" icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-left: 50px;
    margin-top: 10px;" *ngIf="!this.action">Add Activity</ion-title>
    <ion-title style="text-align: center;margin-left: 50px;
    margin-top: 10px;" *ngIf="this.action" text-center>Edit Activity</ion-title>

    <ion-grid padding>
        <form [formGroup]="activityform">
            <ion-row padding>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <ion-row class="selectTime" style="margin-top:-75px;margin-bottom: -20px;">
                        <ion-col col-6>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>Start Time</ion-label>
                                <ion-datetime formControlName="start" disabled="{{disabled}}" placeholder="00:00"
                                    [(ngModel)]="data.start" (ionChange)="setMinTime()"  [max]="mintime" displayFormat="HH:mm" style="margin:8px;padding:0px">
                                </ion-datetime>
                            </ion-item>
                            <p *ngIf="!activityform.controls.start.valid && (activityform.controls.start.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please Select Start Time</p>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>Stop Time</ion-label>
                                <ion-datetime formControlName="end" disabled="{{disabled}}" placeholder="00:00"
                                    [(ngModel)]="data.end" (ionChange)="setMaxTime()" [min]="maxtime" displayFormat="HH:mm" style="margin:8px;padding:0px">
                                </ion-datetime>
                            </ion-item>
                            <p *ngIf="!activityform.controls.end.valid && (activityform.controls.end.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please Select Stop Time</p>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-6>
                            <ion-item style="width: 270px;" padding transparent class="item-width" no-lines>
                                <ion-label style="margin-top: 13px;">Current Time</ion-label>
                                <ion-toggle formControlName="current" [(ngModel)]="data.enableCurrentTime"
                                    (ionChange)="notify()" style="margin-bottom: 1.7rem"></ion-toggle>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: -30px;">
                        <ion-col col-12>
                            <div padding><span style="color:#fff">Activities</span></div>
                            <div class="scroll-content" transparent padding margin
                                style="height: 130px;margin-top: 60px;border: 2px solid #81889f;border-radius: 13px;">
                                <div [class.selected]="data.activitydataid === item.id"
                                    [ngStyle]="{'background':item.color}" (click)="selectActivity($event,item, i)"
                                    *ngFor="let item of patientActivityMasterData[0];let i = index" round ion-button>
                                    {{item.name}}
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>

                    <!-- <ion-item padding transparent class="item-width">
                    <ion-label >Description</ion-label>
                    <ion-input flotiong  [(ngModel)]="data.description"  type="text" placeholder="type notes here"></ion-input>
                </ion-item> -->

                    <ion-item style="margin-top: 110px;" padding transparent class="item-width">
                        <ion-label stacked>Description</ion-label>
                        <ion-textarea formControlName="description" placeholder="Type description here" type="text"
                            [(ngModel)]="data.description"></ion-textarea>
                    </ion-item>
                    <p *ngIf="!activityform.controls.description.valid && (activityform.controls.description.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Add Description</p>

                    <div text-center class="block-insert" margin>
                        <button *ngIf="!this.action" (ionChange)="notify()" (click)="addActivity(TodayDate)"
                            class="dark-button" ion-button round>Save</button>
                        <button *ngIf="this.action" (ionChange)="notify()" (click)="updateActivity(TodayDate)"
                            class="dark-button" ion-button round>Update</button>
                    </div>

                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>