page-app-add-activity-model {  

  ion-content{
    background-color: #2b3249 !important;
    color:#fff ;
  }
  .toolbar .toolbar-title{
    font-size:2rem;text-transform: none;font-weight: 500;
  }

  .toolbar .toolbar-background{
    background: #2b3249 !important;
  }

  .label-ios {
    margin: 30px 8px 30px 0;
    color: white;
  }

  .content-ios{
    background-color: #2b3249 !important;
    color:#fff ;
  }
  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  textarea{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
    // border-bottom: 2px solid #fff !important;
  }

  .label[stacked],ion-label[stacked]{
    font-size:1.5rem;
  }

  .select-text, .datetime-text{color:#fff}


  .toolbar .toolbar-title{
    font-size:2rem;text-transform: none;font-weight: 500;
    // margin-top:2rem;
  }

  .dark-theme ion-content {
      color: #aeaebd;
  }
  .selected{
    border:2px solid white !important;
  }

  .selectedText{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.8rem;
  }


  .dark-button{
    background: #69c2d1;font-weight: bold;width:150pt;height: 40pt;
  }
  .item[no-lines],
  .item.item[no-lines] .item-inner {
    border: 0px !important;
  }
}