<ion-header>
    <ion-navbar>

        <ion-title text-center>{{Pagetitle}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid padding>
        <ion-row padding>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-item style="width: 500px;margin-left: 213px;margin-bottom: -15px;" padding transparent>
                    <ion-label stacked>Add Actvity</ion-label>
                    <ion-input style="color:white" required type="text"
                        placeholder="e.g. Medicine/Seizure/Headache/Toilet/Exercise" [(ngModel)]="data.name">
                    </ion-input>
                </ion-item>
                <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                    <ion-item style="width: 500px;margin-left: 213px;margin-bottom: -15px;" padding class="item-width" transparent>
                        <ion-label class="primarylabel">Choose Color</ion-label>
                        <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)"
                            [(ngModel)]="data.color">
                            <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors"
                                [value]="optioncolor">{{optioncolor}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item style="width: 500px;margin-left: 213px;margin-bottom: -15px;" padding transparent>
                        <ion-label stacked>Description</ion-label>
                        <ion-textarea placeholder="Type description here" style="color:#fff;" class="item-input"
                            type="text" [(ngModel)]="data.description"></ion-textarea>
                    </ion-item>
                </ion-row>
                <ion-row style="width: 500px;margin-left: 213px;margin-bottom: -15px;">
                    <ion-col style="display: inline-flex;">
                        <ion-item style="width: 500px;margin-left: 213px;margin-bottom: -15px;" class="abc" style="color:#fff;width: 430px;    margin-top: -29px;"
                            padding transparent no-lines>
                            <ion-label>Recurring every day</ion-label>
                            <ion-toggle style="color:#fff;">
                            </ion-toggle>
                        </ion-item>
                        <ion-item style="width: 210px;margin-bottom: 19px;"  no-padding transparent
                            class="item-width">
                            <ion-label stacked>Select Time</ion-label>
                            <ion-datetime  style="width: 223px;padding: 10px 23px 17px 35px;color:white"  placeholder="00:00"
                                [(ngModel)]="data.selecttime" displayFormat="HH:mm">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-item style="width: 335px;    margin-top: -36px;" padding transparent class="item-width" no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle style="color:#fff;" [(ngModel)]="data.addtowheel">
                        </ion-toggle>
                    </ion-item>
                    <ion-item style="width: 335px;margin-top:-36px;" padding transparent class="item-width" no-lines>
                        <ion-label>Notification</ion-label>
                        <ion-toggle style="color:#fff;" [(ngModel)]="data.notification">
                        </ion-toggle>
                    </ion-item>
                </ion-row>
                <div text-center class="block-insert" margin>
                    <button (click)="saveActivity()" class="dark-button" ion-button round>Add Activity</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>