<ion-header>
    <ion-navbar>
    <ion-title>Add New Product</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input type="text" [(ngModel)]="product.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-input type="text" [(ngModel)]="product.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Price</ion-label>
        <ion-input type="text" [(ngModel)]="product.price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Pic URL</ion-label>
        <ion-input type="text" [(ngModel)]="product.pic"></ion-input>
      </ion-item>
      <button ion-button (click)="insert()">Insert</button>
    </ion-list>
</ion-content>
