<ion-content style="background: black;height:100vh;color:#fff">

   <ion-grid padding>
      <ion-row wrap>
         <ion-col col-8 offset-2 col-sm-8  offset-sm-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2>
            <div no-lines *ngFor="let item of patientSettings.activityData;let i = index" style="background-color: #000;margin-bottom: 15px;padding:10px">
               <h3 style="color:#fff">{{item.name}}</h3>

               <ion-row wrap>
               <ion-col width-50>
                  <ion-item no-lines style="background-color: #000;padding:10px">
                     <ion-label floating>What</ion-label> <ion-input  [disabled]="readOnly" [(ngModel)]="data[i].what"  required type="text" ></ion-input>

                  </ion-item>
               </ion-col>

               <ion-col width-50>
                  <ion-item no-lines style="background-color: #000;padding:10px">
                     <ion-label floating>Amount</ion-label>  <ion-input [disabled]="readOnly" [(ngModel)]="data[i].amount"  required type="text" ></ion-input>
                  </ion-item>
               </ion-col>
               </ion-row>

            </div>

            <div style="margin-top: 20px">
               <button default-button block round ion-button *ngIf="!readOnly" (click)="updateLoggedActivities()" ><ion-icon name="add-circle"></ion-icon>Update</button>
               <button default-button block round ion-button *ngIf="readOnly"  (click)="makeEditable()" ><ion-icon name="add-circle"></ion-icon>Edit</button>

            </div>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
