<ion-content>
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-left: 50px;margin-top: 10px;" *ngIf="!this.action">Add Wellbeing status</ion-title>
    <ion-title style="text-align: center;margin-left: 50px;margin-top: 10px;" *ngIf="this.action">Edit Wellbeing status</ion-title>

    <ion-grid padding>
        <form [formGroup]="statusform">
            <ion-row padding>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <ion-row style="margin-top:-75px;margin-bottom: -20px;">
                        <ion-col col-6>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>Start Time</ion-label>
                                <ion-datetime formControlName="start" disabled="{{disabled}}" placeholder="00:00"
                                    [(ngModel)]="data.start"  (ionChange)="setMinTime()"  [max]="mintime" displayFormat="HH:mm" style="margin:8px;padding:0px">
                                </ion-datetime>
                            </ion-item>
                            <p *ngIf="!statusform.controls.start.valid && (statusform.controls.start.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please Select Start Time</p>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>Stop Time</ion-label>
                                <ion-datetime formControlName="end" disabled="{{disabled}}" placeholder="00:00"
                                    [(ngModel)]="data.end" (ionChange)="setMaxTime()" [min]="maxtime" displayFormat="HH:mm" style="margin:8px;padding:0px">
                                </ion-datetime>
                            </ion-item>
                            <p *ngIf="!statusform.controls.end.valid && (statusform.controls.end.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please Select Stop Time</p>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-6>
                            <ion-item style="width: 270px;" padding transparent class="item-width" no-lines>
                                <ion-label style="margin-top: 13px;" >Current Time</ion-label>
                                <ion-toggle formControlName="current" [(ngModel)]="data.enableCurrentTime"
                                    (ionChange)="notify()" style="margin-bottom: 1.7rem"></ion-toggle>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: -20px;">
                        <ion-col col-12>

                            <div><span style="color:#fff"> Current Status</span></div>

                            <div class="scroll-content" transparent padding margin
                                style="height: 130px;margin-top: 40px;border: 2px solid #81889f;border-radius: 13px;">

                                <!-- <div  (click)="SelectCurrentStatus(item,item.key)" *ngFor="let item of patientEventMasterData"  [ngStyle]="{'background':item.color}" round [class.selected]="item.selected" ion-button style="padding: 0 1.5rem" >
                        {{item.name}}
                    </div> -->

                                <div [class.selected]="data.eventdataid === item.id"
                                    [ngStyle]="{'background':item.color}" (click)="selectEvent($event,item, i)"
                                    *ngFor="let item of patientEventMasterData[0];  let i = index" round ion-button>
                                    {{item.name}}
                                </div>
                            </div>

                        </ion-col>
                        <!-- <ion-item padding transparent class="item-width">
                    <ion-label >Description</ion-label>
                    <ion-input [(ngModel)]="data.description" flotiong type="text" placeholder="type notes here"></ion-input>
                </ion-item> -->

                        <ion-item style="margin-top: 130px;" padding transparent class="item-width">
                            <ion-label stacked>Description</ion-label>
                            <ion-textarea formControlName="description" placeholder="Type description here" type="text"
                                [(ngModel)]="data.description"></ion-textarea>
                        </ion-item>
                        <p *ngIf="!statusform.controls.description.valid && (statusform.controls.description.dirty || submitAttempt)"
                            style="color: #e0675c;margin: 0px 17px;">Please Add Description</p>

                    </ion-row>

                    <div text-center class="block-insert" margin>
                        <button *ngIf="!this.action" (ionChange)="notify()" (click)="addStatus(TodayDate)"
                            class="dark-button" ion-button round>Save</button>
                        <button *ngIf="this.action" (ionChange)="notify()" (click)="updateEvent(TodayDate)"
                            class="dark-button" ion-button round>Update</button>
                    </div>

                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>