<ion-header>
   <ion-navbar>
 <ion-buttons right>
     <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
 </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content >
        <ion-grid padding>
            <ion-row wrap padding>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <h1 class="app-header">Recover password</h1>

                    <ion-item margin transparent no-lines *ngIf="!userMsg">
                        <ion-label [whiteLabel] stacked>Email Address</ion-label>
                        <ion-input required type="text" placeholder="Type your email address here" [(ngModel)]="email"></ion-input>
                    </ion-item>
                    <div class="margin-4t" style="text-align: center" *ngIf="!userMsg">
                        <button (click)="onSubmit()" class="dark-button" ion-button round>
                            Ok
                        </button>
<!--
                        <img class="button-margin" (click)="onSubmit()" src="assets/app-images/btnLogIn.png"/>
-->
                    </div>
                    <div class="app-description margin-3t" *ngIf="userMsg">
                        Please click on the link that has just been sent to your email account to change your password.
                    </div>

                </ion-col>

            </ion-row>
        </ion-grid>
</ion-content>

