<!-- <ion-header>
    <ion-navbar>
        <ion-title text-center>Add Patients Event</ion-title>
    </ion-navbar>
</ion-header> -->
<ion-content style="background: rgb(43 50 73);">
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding>
        <ion-title style="margin-top: -35px;" text-center>Add Wellbeing Status</ion-title>
        <!-- <form [formGroup]="medicineStep2form"> -->
        <ion-row [formGroup]="medicineStep2form" wrap padding>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                <ion-item style="margin-bottom: -35px;width: 510px;background:none;margin-top: -40px;" padding
                    class="item-width" interface="alert">
                    <ion-label>Select Event</ion-label>
                    <ion-select style="color: white;" formControlName="event" [(ngModel)]="data.event" (ionChange)="oneventChange($event)">
                        <ion-option *ngFor="let key of eventList;" value="{{key.id}}">{{key.name}}</ion-option>
                        <!-- <ion-option value="other">other</ion-option> -->
                    </ion-select>
                </ion-item>
                <ion-row style="margin-top: -32px;width: 510px;">
                    <ion-col col-6>
                        <ion-item style="margin-bottom: -35px;" padding transparent class="item-width">
                            <ion-label stacked>
                                Start Date
                                <span style="color: #e0675c;margin-left: 7px;">*</span>
                            </ion-label>
                            <ion-datetime formControlName="prestartdate" [disabled]="readonly" [(ngModel)]="data.prestartdate"
                                displayFormat="DD/MM/YY" placeholder="DD/MM/YY" max="2020-12-31" style="margin:8px;padding:0px;color:#fff;">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item style="margin-bottom: -35px;" padding transparent class="item-width">
                            <ion-label stacked>
                                End Date
                                <span style="color: #e0675c;margin-left: 7px;">*</span>
                            </ion-label>
                            <ion-datetime formControlName="preenddate" [disabled]="readonly" placeholder="DD/MM/YY" [(ngModel)]="data.preenddate" displayFormat="DD/MM/YY"
                                max="2020-12-31" style="margin:8px;padding:0px;color:#fff;"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!-- <ion-row style="width: 510px;">
                    <ion-col col-5>
                        <ion-item style="margin-bottom: -35px;width: 240px;" padding transparent class="item-width">
                            <ion-label stacked>Start Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.startTime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px;color:#fff;"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item style="margin-bottom: -45px;margin-left:37px;width: 240px;" padding transparent
                            class="item-width">
                            <ion-label stacked>End Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.endTime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row> -->
                <ion-row style="margin-top: 15px;">
                    <ion-col col-12>
                        <div style="color:#fff;padding-bottom: 0" padding>Time</div>
                    </ion-col>
                </ion-row>
                <ion-row formArrayName="tim">
                    <ng-container *ngFor="let item of data.tim;let i = index">
                        <!-- <ion-col col-6>
                            <ion-item style="width: 150px;" transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Medicine taken</ion-label>
                                <ion-input formControlName="dose" style="margin-top:0.5em;margin-bottom:0.5em"
                                    placeholder="No of dose" [(ngModel)]="item.dose" type="text"></ion-input>
                            </ion-item>
                        </ion-col> -->
                        <ion-col col-9>
                            <ion-item style="margin-top: 10px;" transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Time</ion-label>
                                <ion-datetime style="padding: 0px 0px 0px 0px!important;color: white;" formControlName="starttime"
                                    placeholder="add time" [(ngModel)]="item.starttime" displayFormat="HH:mm">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon name="close" (click)="deleteTim(i)" margin></ion-icon>
                        </ion-col>
                    </ng-container>
                </ion-row>
                <div style="color: white;" padding (click)="addTim()">
                    <ion-icon name="add"></ion-icon>
                    Add Wellbeing time
                </div>
                <ion-row style="width: 350px;">
                    <ion-item style="margin-bottom: -35px;width: 510px;" padding transparent class="item-width"
                        no-lines>
                        <ion-label style="color:#fff;">Recurring Daily</ion-label>
                        <ion-toggle formControlName="recurringDaily" [(ngModel)]="data.recurringDaily"></ion-toggle>
                    </ion-item>
                    <ion-item style="width: 510px;" style="color:#fff;" padding transparent class="item-width" no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle formControlName="addToStdWheel" style="color:#fff;" [(ngModel)]="data.addtostandardwheel"></ion-toggle>
                    </ion-item>
                    <div class="block-insert" style="width: 555px;margin-top: -15px;" right margin>
                        <button style="float: right;width: 180px;left: 190px;" (click)="addPatientEventDetails(patientData, index)" class="dark-button" ion-button
                            round>Save</button>
                    </div>
                </ion-row>
            
            </ion-col>
            <!--  -->
        </ion-row>
        <!-- </form> -->
    </ion-grid>
</ion-content>