page-app-dashboard2 {

    [login-background] {
        background: #4ecdc4; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #556270, #4ecdc4); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to bottom,
          #556270,
          #4ecdc4
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      .fixed-content{
        margin-top: -0px !important;
      }

      .show-tabbar{
      width: 250px !important;
      }
      .label {
        color: #fff !important;
        margin-bottom: 0 !important;
      }
      .header1{
        width: 50px !important;
      }

      .item-cover {
        left: 560 !important;
        top: 20px !important;
        position: absolute;
        width: 25% !important;
        height: 68% !important;
        background: transparent;
        cursor: pointer;
    }
      .toolbar .toolbar-background {
        /*
        border-bottom: 2px solid #fff;
        */
        border: 0;
      }
      .scroll-content
      {
        margin-top: 30px !important;
      }
      .tabbar {
        background-color: #474f69 !important;
        border-radius: 30px;
        width: 21%;
        left: 10%;
        top:0px !important
      }

      .tab-button-text {
        color: #fff !important;
        font-size: 18px !important;
        font-weight: bold !important
      }

      .margin-4t {
        margin-top: 4rem;
      }
      .margin-5t {
        margin-top: 5rem;
      }

      .tab-button {
        /* border:1px solid #000;*/
        background: #474f69;
        border-radius: 30px;
      }

      .tab-button[aria-selected="true"] {
        background: #69c2d1;
        border-radius: 30px;
      }

      .tabs-ios .tab-button {
        max-width: 100% !important;
      }

      .bar-button-md[icon-only] ion-icon {
        font-size: 14px !important;
      }
      .toolbar-title-ios{
        font-size:22px;
      }
}
