<ion-header class="header1">

  <ion-navbar>
    <!-- <ion-title>Common Dashboard</ion-title> -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-tabs tabsPlacement='top' tabs-content>
    <ion-tab  class="width: 400px;" [tabTitle]="item.title" [root]="item.page" *ngFor="let item of tabs1 ;let i = index"></ion-tab>
  </ion-tabs>
  <ion-title style="float:left; font-size:22px; margin:-14px 0px 0px 450px;">Patients List</ion-title>
  <!-- <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4> -->
  <ion-searchbar style="width:300px; margin-left:50px; float:right;margin-top:-23px;" [(ngModel)]="terms" placeholder="Type to search here">
  </ion-searchbar>
  <!-- </ion-col> -->
</ion-content>
