<ion-header>
  <ion-navbar>
    <ion-title text-center>Activity Notification List</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding class="fadeIn">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <h1 class="app-header" style="text-align: center;"></h1>
  <ion-grid style="text-align:center;position: relative;">
    <ion-row wrap>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <ion-row>
          <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2>
          </ion-col>
          <ion-col *ngIf="!patientSession || patientSession" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
            <ion-searchbar [(ngModel)]="terms" (ionInput)="setFilteredNameData()" placeholder="Type to search here">
            </ion-searchbar>
          </ion-col>

        </ion-row>

        <ion-grid padding *ngIf="SearchData && !patientSession">
          <ion-row wrap>
            <ion-col style="margin: 0px auto;" col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 offset-1 offset-sm-1
              offset-md-1 offset-lg-1 offset-xl-1>
              <ion-row>
                <ion-col style="margin-left: 40px;display: inline-flex;">
                  <b>Name</b>
                  <ion-icon name="md-arrow-dropdown"></ion-icon>

                </ion-col>

                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col col-2>
                  <b>Start Date</b>
                </ion-col>
                <ion-col>
                  <b>End Date</b>
                </ion-col>
                <ion-col style="margin-left: 30px;">
                  <b>Delete</b>
                </ion-col>
                <ion-col>
                  <b>Edit</b>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: 5px  ;" *ngIf="errmsg">
                <ion-col>
                  <div class="app-description" style="text-align: center;">
                    No Data Found ..!!
                  </div>
                </ion-col>
              </ion-row>
              <ion-item class="item-list" no-lines *ngFor="let item of SearchData" style="margin-bottom: 15px;">
                <div style="display: inline;margin-top: 1.6rem;">
                  <div [ngStyle]="{'background':item.color}"
                    style="float:left;color:#000;margin-top: 22px;font-weight: bold;border-radius: 50%;width:25px;height: 25px;border: 2px solid black">
                  </div>
                  <div
                    style="margin-left: 10px;width: 258px;float:left;margin-top: 23px;font-size: 1.7rem;color: white;">
                    {{item.name}}</div>
                  <div style="width: 100px;float:left;margin-top: 22px;font-size: 1.7rem;color: white;">
                    {{item.presstartdate | date: 'dd/MM/yy'}}</div>
                  <div style="width: 100px;float:left;margin-top: 22px;font-size: 1.7rem;color: white;">
                    {{item.presenddate | date: 'dd/MM/yy'}}</div>
                  <div style="float:right;margin-right: -3px;margin-top: 7px;" (click)="editActivity(item,item.id)">
                    <img style="height: 54px;width: 62px;margin-top: 1px;" src="assets/images/menu-icons/edit.png">
                  </div>
                  <div style="float:right;margin-right: 35px;margin-top: 14px;" (click)="deletePatientsActivity(item)">
                    <img style="height: 40px;width: 40px;" src="assets/images/menu-icons/delete.png">
                  </div>
                </div>
                <br>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Medicine..">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<button class="boxshadow " (click)="AddNotifications()"
  style="background-color: rgb(251 126 126);height: 80px;width: 80px;position: sticky;left: 920px;top:80%;z-index: 9999;"
  ion-fab>
  <ion-icon style="font-size: 60px;" class="icAdd" name="add"></ion-icon>
</button>