<!--
  Generated template for the AppSecurityAndAccessSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Security and Access settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="main-div">
    <div style="margin-left: 15px;">
      <label class="Patient-Profile-info-Copy-6">Security Statement</label>
      <p>
        This Privacy Statement informs you about the type of personal data that is collected
        and received through our website https://www.sketchapp.com (“website”) and our
        cloud-based services that relate to the application Sketch (“Sketch Cloud”), and about
        how we use, share, retain and protect such personal data.</p>
    </div>
    <div style="display: grid; margin-top: 90px; margin-left: 15px;">
      <label class="Patient-Profile-info-Copy-6">Access settings</label>
      <p>Who can view your profile?</p>
      <div style="display: inline-flex;margin-bottom: -25px;margin-top: -25px;">
        <ion-checkbox name="everybody" (ionChange)="iseverybody(Iseverybody)" [(ngModel)]="Iseverybody"></ion-checkbox>
        <ion-label [ngClass]="Iseverybody ? 'label1' : ''" class="lb">{{name1}}</ion-label>
      </div>
      <div style="display: inline-flex;">
        <ion-checkbox name="onlyme" (ionChange)="isOnlyme(IsonlyMe)" [(ngModel)]="IsonlyMe"></ion-checkbox>
        <ion-label class="lb" [ngClass]="IsonlyMe ? 'label1' : ''" disabled>{{name2}}</ion-label>
      </div>
    </div>
    <div style="margin-top: 16px;">
      <!-- <label style="padding-left: 15px; color: white;">Send an acces to your profile info</label>
      <ion-item style="background: #2b3249; width: 385px;">
        <ion-input style="color: white;margin-bottom: -20px;" type="email"
          placeholder="Type email address here for sharing"></ion-input>
      </ion-item> -->
      <!-- <ion-list style="height: 100px;">
        <p *ngIf="!msg" *ngFor="let country of ports">
          {{country.name}}
        </p>
        <p *ngIf="msg"></p>
      </ion-list> -->
      <!-- <ion-item style="width: 380px;">
        <ion-label stacked style="color: white !important;font-size: 17px;font-weight: 400;">Send an acces to your profile info</ion-label>
        <ionic-selectable style="color:white" item-content placeholder="Type usename for sharing" [(ngModel)]="selected_data" itemValueField="id" itemTextField="fullname"
          [items]="users" [canSearch]="true" (onSearch)="onSearch($event)"
          modalCssClass="ionic-selectable-documentation-configuration"
          >
        </ionic-selectable>
      </ion-item>
      <button [disabled]="!selected_data" class="dark-button" (click)="onSubmit()" block round ion-button>Send</button> -->
    </div>
  </div>

</ion-content>