page-app-security-and-access-settings {
  .main-div {
    padding-top: 15px;
    width: 70%;
    text-align: start;
    margin: 0 0 0 20%;
  }
  .Patient-Profile-info-Copy-6 {
    width: 153px;
    height: 19px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
  .ionic-selectable-icon {
    position: relative;
    width: 20px;
    display: none;
}
  .This-Privacy-Stateme {
    width: 629px;
    height: 68px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .checkbox-ios {
    margin-right: 20px;
    top: 30px;
  }
  .dark-button {
    background: #69c2d1;
    font-weight: bold;
    margin: 35px 18px;
  }

  .label1 {
    color: #fff;
    font-weight: 600;
  }
  .checkbox-ios .checkbox-checked .checkbox-inner {
    left: 6px;
    top: -9px;
    position: absolute;
    width: 12px;
    height: 21px;
    border-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: green;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox-ios .checkbox-icon {
    border-radius: 4px;
    position: relative;
    width: 18px;
    /* height: 18px; */
    border-width: 2px;
    border-style: solid;
    // border-color: #fff;
    background-color: transparent;
  }
}
