<ion-content style="background: rgb(43,50,73);">
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding>
        <ion-title style="margin-top: -20px;" text-center> Prescription issued</ion-title>
        <!-- <ion-row>
            <ion-col>
                <div class="app-description" style="color: #69c2d1;">
                    Prescription issued
                </div>
            </ion-col> 
        </ion-row> -->
        <form style="margin-top: -50px;" [formGroup]="medicineStep2form">
            <ion-row wrap padding>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <!-- <ion-item padding transparent class="item-width">
                        <ion-label stacked>Doctor</ion-label>
                        <ion-input placeholder="Type here text" formControlName="doctor" type="text"
                            [(ngModel)]="data.doctor" ></ion-input>
                    </ion-item> -->
                    <!-- <ion-item *ngIf="!doctorType && doctordrop" padding class="item-width" style="background:none;"
                        interface="alert">
                        <ion-label>Select Doctor</ion-label>
                        <ion-select formControlName="doctor" (ionChange)="onChangeDoctor($event)"
                            [(ngModel)]="data.doctor" disabled={{disable}}>
                            <ion-option *ngFor="let key of doctorsList;" [selected]="key.id==data.doctorid"
                                value="{{key.id}}">{{key.firstname}}</ion-option>
                        </ion-select>
                    </ion-item> -->
                    <p *ngIf="!medicineStep2form.controls.doctor.valid && (medicineStep2form.controls.doctor.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter Prescribed by</p>
                    <ion-item padding class="item-width" style="background:none;    margin-bottom: -30px;">
                        <ion-label>Medicine</ion-label>
                        <ion-select style="max-width: 100%;" formControlName="medicine"
                            (ionChange)="onChangeMedicene($event)" [(ngModel)]="data.medicine">
                            <ion-option *ngFor="let key of medicineList;" value="{{key.id}}">{{key.name}}</ion-option>
                            <!-- <ion-option value="other" >other</ion-option> -->
                        </ion-select>
                    </ion-item>
                    <p *ngIf="!medicineStep2form.controls.medicine.valid && (medicineStep2form.controls.medicine.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter medicine name</p>
                    <ion-row style="margin-bottom: -30px;">
                        <ion-col col-6>
                            <ion-item style="margin-left: -7px;" padding transparent class="item-width">
                                <ion-label stacked>
                                    Start Date
                                    <span style="color: #e0675c;margin-left: 7px;">*</span>
                                </ion-label>
                                <ion-datetime placeholder="DD/MM/YY" style="width: 87px;" [disabled]="readonly"
                                    formControlName="prestartdate" [(ngModel)]="data.prestartdate"
                                    displayFormat="DD/MM/YY" max="2020-12-31" style="margin:8px;padding:0px;">
                                </ion-datetime>
                            </ion-item>
                            <p *ngIf="!medicineStep2form.controls.prestartdate.valid && (medicineStep2form.controls.prestartdate.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please select Prescription start date</p>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item padding transparent class="item-width">
                                <ion-label stacked>
                                    End Date
                                    <span style="color: #e0675c;margin-left: 7px;">*</span>
                                </ion-label>
                                <ion-datetime placeholder="DD/MM/YY" style="width: 87px;" [disabled]="readonly"
                                    formControlName="preenddate" [(ngModel)]="data.preenddate" displayFormat="DD/MM/YY"
                                    max="2020-12-31" style="margin:8px;padding:0px;"></ion-datetime>
                            </ion-item>
                            <p *ngIf="!medicineStep2form.controls.preenddate.valid && (medicineStep2form.controls.preenddate.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please select Prescription end date</p>
                        </ion-col>
                    </ion-row>
                    <ion-item style="margin-top: 15px;" padding transparent class="item-width" no-lines>
                        <ion-label>Notification </ion-label>
                        <ion-toggle formControlName="enablePrescriptionNotification"
                            [(ngModel)]="data.enablePrescriptionNotification"></ion-toggle>
                    </ion-item>

                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-item style="margin-bottom: -30px;" padding transparent class="item-width">
                        <ion-label stacked>Area of Expertise</ion-label>
                        <ion-input placeholder="Type here text" formControlName="areaexpertise" type="text"
                            [(ngModel)]="data.areaexpertise"></ion-input>
                    </ion-item>
                    <ion-item style="margin-bottom: -25px;" padding transparent class="item-width">
                        <ion-label stacked>Address</ion-label>
                        <ion-input placeholder="Type here address" formControlName="prescriptionaddress" type="text"
                            [(ngModel)]="data.prescriptionaddress"></ion-input>
                    </ion-item>
                    <ion-row style="margin-top: 15px;">
                        <ion-col col-12>
                            <div style="color:#fff;padding-bottom: 0" padding>Time</div>
                        </ion-col>
                    </ion-row>
                    <ion-row formArrayName="tim">
                        <ng-container *ngFor="let item of data.tim;let i = index">
                            <!-- <ion-col col-6>
                                <ion-item style="width: 150px;" transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display: none;" stacked>Medicine taken</ion-label>
                                    <ion-input formControlName="dose" style="margin-top:0.5em;margin-bottom:0.5em"
                                        placeholder="No of dose" [(ngModel)]="item.dose" type="text"></ion-input>
                                </ion-item>
                            </ion-col> -->
                            <ion-col col-9>
                                <ion-item style="margin-top: 10px;" transparent class="item-width" [formGroupName]="i">
                                    <ion-label style="display: none;" stacked>Time</ion-label>
                                    <ion-datetime style="padding: 0px 0px 0px 0px; !important" formControlName="time"
                                        placeholder="add time" [(ngModel)]="item.time" displayFormat="HH:mm">
                                    </ion-datetime>
                                </ion-item>
                            </ion-col>
                            <ion-col col-1>
                                <ion-icon name="close" (click)="deleteTim(i)" margin></ion-icon>
                            </ion-col>
                        </ng-container>
                    </ion-row>
                    <div style="color: white;" padding (click)="addTim()">
                        <ion-icon name="add"></ion-icon>
                        Add mediciene taken time
                    </div>
                </ion-col>
            </ion-row>
            <!-- <ion-row>
                <ion-col style="left: 40px;">
                    <div style="color: #ffffff;">
                        Prescription issued
                    </div>
                </ion-col>
            </ion-row> -->
            <ion-row style="margin-top: -30px;" wrap padding>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row style="display: block;">
                        <ion-col col-3>
                            <button ion-button round style="background: #779e74;">ACTIVE</button>
                        </ion-col>
                        <ion-col col-9>
                            <div style="margin-left:6px;margin-top:10px;color: #fff;"> - This prescription is valid and
                                can be used at your local pharmacy</div>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row style="display: block;">
                        <ion-col col-3>
                            <button ion-button round style="background: #e26060;">INACTIVE</button>
                        </ion-col>
                        <ion-col col-9>
                            <div style="margin-left:25px;margin-top:10px;color: #fff;"> - This prescription is not
                                valid, please consult the issuing doctor</div>
                        </ion-col>
                    </ion-row>
                    <div class="block-insert" right margin>
                        <button (click)="addPatientMedicinePrescriptionDetails(patientData, index)" class="dark-button"
                            ion-button round>Save</button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>