<!--
  Generated template for the AppSettingAboutVictoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center;" center>About Victor(y) Care</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="padding-top: 40px;">
        <img src="assets/imgs/logo-victory.png" />
    </div>
    <div style="padding-top: 40px;">
        <label class="Victory-Care">Victor(y) Care</label>
        <p class="We-help-communicate">Track your Health Communicate your Wellbeing</p>
    </div>

    <p class="App-version-number-1">App version number 0.2.0</p>
    <div style="display: inline-flex; padding-top: 65px;">
        <div col-4>
            <label class="Stext-style-1">Support & Feedback:</label>
            <a href="mailto:help.victory.care">
                <p class="Support-Feedback ">
                    hello@victory.care</p>
            </a>
        </div>
        <div col-4>
            <label class="text-style-1">Victor(y) Care enables individuals experiencing health problems to track and
                communicate their health status visually.</label>
            <div style="display: inline-flex;" (click)="openwindow()">
                <p style="color: #f4f4f4; padding-right: 5px;">Visit us at </p>
                <!-- <a href="https://www.victory.care"  target="_blank"> -->
                <p class="Support-Feedback"> www.victory.care</p>
                <!-- </a> -->
            </div>

        </div>
        <div col-4>
            <label class="text-style-1">Concept, Design and Development:</label>
            <p style="color: #f4f4f4;">Victor(y) Care AS,Norway</p>
        </div>
    </div>


</ion-content>