page-app-setting-about-victory {
    .Victory-Care {
        width: 268px;
        height: 70px;
        font-family:HelveticaNeue;
        font-size: 44px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
      .We-help-communicate {
        font-family: HelveticaNeue;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
      .App-version-number-1 {
        font-family: HelveticaNeue;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.8;
        letter-spacing: 0.4px;
        text-align: center;
        color: #81889f;
        margin-top: 150px;
      }
      .Support-Feedback {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #69c2d1;
      }
      .Support-Feedback .text-style-1 {
        font-weight: 300;
        color: #ffffff;
      }
}
