page-daily-wheel-settings-medicine {

}.bar-button-md[icon-only] ion-icon {
    font-size: 14px !important;
  }
  .card-md {
    background: #39415b;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .card-title-md {
    color: #fff;
  }     
  .select-md {
    padding: 5px 8px 25px 16px;
    color: #fff;
  }
  .addImg {
    max-width: none !important;
  }
  .icAdd {
    top: 10px;
    font-size: 50px;
  }
  .item-width
  {
    //width: 35%;
    flex-flow: row-reverse;
  }
  .fabbtn {
    right: 35px;
    top: 30px;
  }
  .pad {
    padding-left: 3px;
    padding-right: 3px;
  }
  .med-color {
    width: 55px;
    //border-radius: 55px;
  }
  .item-list {
    border: gray solid 1px !important;
    border-radius: 15px !important;
    background: transparent !important;
    padding-bottom: 15px !important;
    height: 56px !important;
    padding-top: 3px !important;
  }
  .shadow-red {
    background-color: rgb(251, 126, 126);
    border-radius: 20px;
    height: 40px;
  }
  .shadow-grey {
    background-color: #516b93;
    border-radius: 20px;
    height: 40px;
  }
  .item-ios
  {
    background-color: transparent !important;
  }
  .btn-back {
    background-color: rgb(105, 194, 209);
  }
