.colorselect {
  .select-text {
    width: 25px;
    border-radius: 50px;
    height: 25px;
    border: 2px solid black;
  }

  .alert-radio-inner,
  .alert-radio-icon,
  .alert-radio-label {
    display: none;
  }

  &.colorselected:before {
    content: "\2713";
    color: white;
    z-index: 999999;
    width: 100%;
    height: 100%;
    font-size: 33px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%);
  }

  //  $colorsToSelect: "#d435a2" "#a834bf" "#6011cf" "#0d0e81" "#0237f1" "#0d8bcd" "#16aca4" "#3c887e" "#157145" "#57a773" "#88aa3d" "#b7990d" "#fcbf55" "#ff8668" "#ff5c6a" "#c2454c" "#c2183f" "#d8226b" "#8f2d56" "#482971" "#000000" "#561f37" "#433835" "#797979" "#819595";
  $colorsToSelect: "#E26060" "#8E24AA" "#6BB1D6" "#00897B" "#AFDB07" "#C0CA33" "#FAD000" "#FB8C00";

  @each $colorOption in $colorsToSelect {
    $colorWithoutHash: str-slice($colorOption, 2, 7);

    &.color_#{$colorWithoutHash} {
      &,
      & .select-text {
        color: #{$colorOption};
        background-color: #{$colorOption};
      }
    }
  }
}
app-patient-event-modal {
  $label-md-text-color-focused: #444;
  $text-input-md-highlight-color: #444;

  /* $alert-ios-button-text-color:                   color($colors, secondary);
    $alert-ios-radio-icon-border-color:             color($colors, danger); */

  .label {
    color: #000 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .alert-md .alert-wrapper {
    background-color: red !important;
  }

  .toolbar .toolbar-background {
    /*
    border-bottom: 2px solid #fff;
    */
  }

  .label {
    color: #fff !important;
  }

  .item-input .label,
  .item-select .label,
  .label {
    color: #fff !important;
  }

  input {
    color: #fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
    // border-bottom: 2px solid #fff !important;
  }

  .label[stacked],
  ion-label[stacked] {
    font-size: 1.5rem;
  }

  .select-text {
    color: #fff;
  }

  .toolbar .toolbar-title {
    font-size: 2rem;
    text-transform: none;
    font-weight: 500;
    // margin-top:2rem;
  }

  .item[no-lines],
  .item.item[no-lines] .item-inner {
    border: 0px !important;
  }
  input {
    width: 150px;
    margin-bottom: 16px;
  }
  
  .cmyk-text {
    float: left;
  
    width: 72px;
    height: 72px;
  
    font-weight: bolder;
    line-height: 72px;
    text-align: center;
    text-shadow: 1px 1px 2px #bbb;
  }
  
  .color-box {
    width: 100px;
    height: 25px;
    margin: 16px auto;
  
    cursor: pointer;
  }
  
  .change-me {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
  }
  
}