<ion-content>
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding>
        <ion-title style="margin-top: -30px;" text-center>{{Pagetitle}}</ion-title>
        <ion-row padding *ngIf="!patientSession">
            <ion-col style="margin: 0px auto;max-width: 600px;" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-item padding transparent class="item-width">
                    <ion-label [whiteLabel] stacked>Description of Wellbeing name</ion-label>
                    <ion-input required type="text" placeholder="e.g. awake/sleep/dizzy/uncomfortable/in pain"
                        [(ngModel)]="data.name"></ion-input>
                </ion-item>

                <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                    <ion-item padding class="item-width" transparent>
                        <ion-label class="primarylabel">Choose Color</ion-label>
                        <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)"
                            [(ngModel)]="data.color">
                            <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors"
                                [value]="optioncolor">{{optioncolor}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
                <!-- <ion-row>
                    <ion-input [style.background]="color" [colorPicker]="color" (colorPickerChange)="color=$event">
                    </ion-input>
                </ion-row> -->
                <ion-row>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Description</ion-label>
                        <ion-textarea placeholder="Type description here" style="color:#fff;" class="item-input"
                            type="text" [(ngModel)]="data.description"></ion-textarea>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col style="display: inline-flex;">
                        <ion-item class="abc" style="color:#fff;" padding transparent no-lines>
                            <ion-label>Recurring Daily</ion-label>
                            <ion-toggle [(ngModel)]="tog" (ionChange)="onChange($event)" style="color:#fff;"
                                disabled="{{disable}}">
                            </ion-toggle>
                        </ion-item>
                        <ion-item style="height: 66px;" no-padding transparent class="item-width">
                            <ion-label stacked>Select Time</ion-label>
                            <ion-datetime [disabled]="sel"
                                style="padding: 16px 2px 20px;margin-bottom: -10px;color:white" placeholder="00:00"
                                [(ngModel)]="data.selecttime" displayFormat="HH:mm">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="patientType=='independent'" style="width: 331px;">
                    <ion-item class="abc" style="color:#fff;" padding transparent class="item-width remove_inner_bottom"
                        no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle style="color:#fff;" [(ngModel)]="data.addtowheel" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item>
                    <ion-item class="abc" style="color:#fff;" padding transparent class="item-width" no-lines>
                        <ion-label>Notification</ion-label>
                        <ion-toggle style="color:#fff;" [(ngModel)]="data.notification" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item>
                </ion-row>
                <div style="margin-left: 350px;margin-top: -40px;" *ngIf="eventType==='edit'" text-center
                    class="block-insert" margin>
                    <button style="width: 180px;background: rgb(105,194,209);height:1.6 rem;"
                        (click)="updateEvent(patientData, itemIndex)" ion-button round>Update</button>
                </div>
                <div style="margin-left: 350px;margin-top: -40px;" *ngIf="eventType==='add'" text-center
                    class="block-insert" margin>
                    <button style="width: 180px;background: rgb(105,194,209);height:1.6 rem;"
                        (click)="SaveEvent(patientData, itemIndex)" ion-button round>Save</button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="patientSession" [formGroup]="EditFormGroup">
            <ion-col style="margin: 0px auto;max-width: 600px;" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <ion-item padding transparent class="item-width">
                    <ion-label [whiteLabel] stacked>Name of Event</ion-label>
                    <ion-input *ngIf="disable" placeholder="Event Name" type="text" [(ngModel)]="data.eventname"
                        disabled="true"></ion-input>
                    <ion-select formControlName="eventname" [(ngModel)]="data.event" *ngIf="!disable"
                        (ionChange)="onChangeAddnewevent($event)">
                        <ion-option *ngFor="let key of eventList;" value="{{key.id}}">
                            {{key.name}}</ion-option>
                        <!-- <ion-option value="other">other</ion-option> -->
                    </ion-select>
                </ion-item>
                <ion-row>
                    <ion-col col-5>
                        <ion-item style="width: 240px;" padding transparent class="item-width">
                            <ion-label stacked>Start Date</ion-label>
                            <ion-datetime formControlName="prestartdate" placeholder="00:00"
                                [(ngModel)]="data.presstartdate" displayFormat="DD/MM/YY"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item style="width: 244px;
                        margin-left: 30px;" padding transparent class="item-width">
                            <ion-label stacked>End Date</ion-label>
                            <ion-datetime formControlName="preenddate" placeholder="00:00"
                                [(ngModel)]="data.presenddate" displayFormat="DD/MM/YY"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!-- <ion-row>
                    <ion-col col-5>
                        <ion-item style="width: 240px;" padding transparent class="item-width">
                            <ion-label stacked>Start Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.starttime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item style="width: 244px;
                        margin-left: 30px;" padding transparent class="item-width">
                            <ion-label stacked>End Time</ion-label>
                            <ion-datetime placeholder="00:00" [(ngModel)]="data.endtime" displayFormat="HH:mm"
                                style="margin:8px;padding:0px; color:#fff;" disabled="{{disable}}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row> -->
                <ion-row>
                    <ion-col col-12>
                        <div style="color:#fff;padding-bottom: 0;position: relative;float: left;" padding>Time</div>
                    </ion-col>
                </ion-row>
                <ion-row formArrayName="tim">
                    <ng-container *ngFor="let item of tim;let i = index">
                        <!-- <ion-col col-6>
                            <ion-item transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Diagnosis</ion-label>
                                <ion-input formControlName="dose" style="margin-top:0.5em;margin-bottom:0.5em"
                                    placeholder="medicine taken" [(ngModel)]="item.dose" type="text"></ion-input>
                            </ion-item>
                        </ion-col> -->
                        <ion-col col-3>
                            <ion-item style="margin-top: 10px;" transparent class="item-width" [formGroupName]="i">
                                <ion-label style="display: none;" stacked>Time</ion-label>
                                <ion-datetime style="padding: 0px 0px 0px 0px !important;color:white"
                                    formControlName="time" placeholder="add time" [(ngModel)]="item.time"
                                    displayFormat="HH:mm">
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon style="color:white" name="close" (click)="deleteDiagnosis(i)" margin></ion-icon>
                        </ion-col>
                    </ng-container>
                </ion-row>
                <div style="color:White;position:relative ;float:left;" padding (click)="addDiagnosis()">
                    <ion-icon name="add"></ion-icon>
                    Add event time
                </div>
                <ion-row style="position: relative;float: left;">
                    <ion-item style="width: 340px;" padding transparent class="item-width" no-lines>
                        <ion-label style="color:#fff;">Recurring Daily</ion-label>
                        <ion-toggle formControlName="recurringDaily" [(ngModel)]="data.recurringDaily"
                            disabled="{{disable}}"></ion-toggle>
                    </ion-item>
                    <ion-item style="color:#fff;width: 340px;" padding transparent class="item-width" no-lines>
                        <ion-label>Add to Standard Wheel</ion-label>
                        <ion-toggle formControlName="enableStandardWheel" style="color:#fff;"
                            [(ngModel)]="data.addtostandardwheel" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item>
                    <!-- <ion-item style="color:#fff;width: 340px;" padding transparent class="item-width" no-lines>
                        <ion-label>Notifications for use during day?</ion-label>
                        <ion-toggle style="color:#fff;" [(ngModel)]="data.enableDuringDay" disabled="{{disable}}">
                        </ion-toggle>
                    </ion-item> -->
                </ion-row>
                <div text-center class="block-insert" margin *ngIf="!disable">
                    <button style="float: right;
                    margin-top: -15px;width: 180px;background: rgb(105,194,209);height:1.6 rem;"
                        (click)="updatePatientEvent(patientData, patientData.userid)" ion-button round>Update</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>