<ion-content>
   <ion-grid padding>
      <ion-row wrap>
         <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2 offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2>
            <ion-item class="item-list" no-lines *ngFor="let item of EventData;let i = index">
               <div style="display: inline;margin-top: 1.6rem;">
                  <div [ngStyle]="{'background':item.color}"
                     style="float:left;color:#000;font-weight: bold;border-radius: 50%;width:25px;height: 25px;border: 2px solid black;margin-top: 23px">
                  </div>
                  <div style="margin-left: 1.3rem;float:left;font-size: 1.7rem;margin-top: 25px">{{item.name}}</div>
                  <div style="float:right;margin-left: 7px;margin-top: 10px;" (click)="editEvent(item, item.key)">
                     <img style="height: 54px;width: 60px;" src="assets/images/menu-icons/edit.png">
                  </div>
                  <div style="float:right;margin-top: 16px;" (click)="deleteEventItem(item, item.key)">
                     <img style="height: 40px;width: 40px;" src="assets/images/menu-icons/delete.png">
                  </div>

               </div>
               <br>
            </ion-item>

            <div style="margin-top: 70px;" text-center class="margin-17t" *ngIf="events.length === 0">
               We have helped you getting started with
               these 4 default settings.<br>
               Feel free to add more now or later in the settings menu.
            </div>
            <br>
            <div text-center class="margin-4">
               <img (click)="addEventSettingItem()" class="button-margin" src="assets/app-images/addBtn.png" />
            </div>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>
<div style="z-index: 9999;top: 82%;position: fixed;right: 0px;" text-right class="block-insert" margin>
   <button class="dark-button" (click)="tabNextButton()" ion-button round>Next</button>
   <ion-label (click)="GotoHome()" style="color: #81889f !important;font-size: 14px;padding-top: 10px;">
      Or you can fill it later <span style="color: #69c2d1 !important;">SKIP</span>
   </ion-label>
</div>