app-patient-settings {
  /* $alert-ios-button-text-color:                   color($colors, secondary);
    $alert-ios-radio-icon-border-color:             color($colors, danger); */
  [login-background] {
    background: #4ecdc4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #556270, #4ecdc4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #556270,
      #4ecdc4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .label {
    color: #fff !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .margin-6t {
    margin-top: 6rem;
  }

  .margin-17t {
    margin-top: 17rem;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }

  .toolbar .toolbar-background {
    border-bottom: 2px solid #fff;
  }

  .item-list {
    border: 2px solid #81889f !important;
    border-radius: 20px;
    margin-top: 3rem;
    background: transparent;
    padding-top: 0px !important;
  }
  .shadow-red {
    background-color: rgb(251, 126, 126);
    border-radius: 20px;
    height: 40px;
  }
  .shadow-grey {
    background-color: #516b93;
    border-radius: 20px;
    height: 40px;
  }
}
