<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!this.action" text-center>Add Doctor</ion-title>
        <ion-title *ngIf="this.action" text-center>Edit Doctor Profile</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons right (click)="logout()">
            <button ion-button icon-only>
                <ion-icon name="lock">Logout</ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>`
    <ion-grid padding>
        <ion-row>
            <ion-col>
                <div *ngIf="!this.action" class="app-description">
                    Please fill all the info below
                </div>
                <div *ngIf="this.action" class="app-description">
                    You can edit or fill all info below
                </div>
            </ion-col>
        </ion-row>
        <form [formGroup]="Profileform">
            <ion-row wrap padding>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-8>
                            <div no-padding transparent no-lines text-center class="item-width">
                                <div *ngIf="!data.image" padding
                                    style="background: #39415b; color:#444; border-radius: 10px">
                                    <div #imageUploader><img style="width:30%;" [src]="upload"
                                            (click)="!readonly && ImageUpload()"></div>
                                    <div #addPhotoCaption style="color:#fff;">Add Doctor Photo</div>
                                </div>
                                <div #previewImage> <img style="border-radius:20px" [src]="data.image"
                                        *ngIf="data.image"></div>
                                <div #removePhotoIcon style="margin:auto;width: 10%;display: none">
                                    <ion-icon name="close-circle" (click)="!readonly && removeImage()"></ion-icon>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-2></ion-col>
                    </ion-row>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            User Type
                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-input formControlName="usertype" style="color:#666 !important;" type="text" readonly
                            [(ngModel)]="data.usertype"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="enableSelectDropdown" class="item-width" style="background:none;">
                        <ion-label>Select Action</ion-label>
                        <ion-select formControlName="selectType" [(ngModel)]="data1.selectType"
                            (ionChange)="addType($event)">
                            <ion-option value="new" selected>Add New</ion-option>
                            <ion-option value="exist">Add Existing</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item *ngIf="enableDropdown" class="item-width" style="background:none;">
                        <ion-label>Select Doctor</ion-label>
                        <ion-select formControlName="storedDoctors" [(ngModel)]="data.storedDoctors"
                            (ionChange)="checkState($event)">
                            <ion-option *ngFor="let key of data1.newDoctors[0];" value="{{key.id}}">{{key.firstname}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Email Address
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="email" placeholder="Select your email address here"
                            [(ngModel)]="data.email" type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.email.valid && (Profileform.controls.email.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter valid Email</p>
                    <!-- <ion-item padding transparent class="item-width">
                        <ion-label stacked >
                            Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="name" type="text" placeholder="Type your name here" [(ngModel)]="data.name" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.name.valid && (Profileform.controls.name.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Enter Name</p> -->
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Firstname
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="firstname" type="text" placeholder="Type your firstname here"
                            [(ngModel)]="data.firstname" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.firstname.valid && (Profileform.controls.firstname.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Firstname</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Lastname
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="lastname" type="text" placeholder="Type your lastname here"
                            [(ngModel)]="data.lastname" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.lastname.valid && (Profileform.controls.lastname.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Lastname</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Birth Date
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-datetime formControlName="birthDate" placeholder="DD/MM/YYYY" [(ngModel)]="data.birthdate"
                            displayFormat="DD/MM/YYYY" style="margin:8px;padding:0px" disabled="{{enableDiv}}">
                        </ion-datetime>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.birthDate.valid && (Profileform.controls.birthDate.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Select Birthdate</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Sex
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-select formControlName="sex" placeholder="Select your gender here" [(ngModel)]="data.sex"
                            disabled="{{enableDiv}}">
                            <ion-option value="f">Female</ion-option>
                            <ion-option value="m">Male</ion-option>
                        </ion-select>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.sex.valid && (Profileform.controls.sex.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Select sex</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Mobile Number
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input formControlName="mobile" placeholder="Enter Mobile Number" [(ngModel)]="data.mobile"
                            type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.mobile.valid && (Profileform.controls.mobile.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Enter Mobile Number</p>
   
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                    <ion-item *ngIf="selectType==='addnew'" padding transparent class="item-width">
                        <ion-label stacked>Password</ion-label>
                        <ion-input formControlName="password" placeholder="Password" [(ngModel)]="data.password"
                            type="password" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="selectType==='addnew'" padding transparent class="item-width">
                        <ion-label stacked>Confirm Password</ion-label>
                        <ion-input (ionBlur)="onblur()" formControlName="confirmpassword" placeholder="Confirm Password"
                            [(ngModel)]="data.confirmpassword" type="password" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="confirmPasswordMsg" style="color: #e0675c;margin: 0px 17px;">
                        {{confirmPasswordMsg}}</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Full Address</ion-label>
                        <ion-input formControlName="address" placeholder="Street/ Building No/ Zip/ City/ Country"
                            [(ngModel)]="data.street" type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>

                    <!-- <img class="location" src="assets/images/map.png" /> -->
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Department
                            <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-select formControlName="department" placeholder="Select your department here"
                            [(ngModel)]="data.department" disabled="{{enableDiv}}">
                            <ion-option value="Cancer">Cancer</ion-option>
                            <ion-option value="Cardio">Cardio</ion-option>
                            <ion-option value="Orthopedic">Orthopedic</ion-option>
                            <ion-option value="Pediatric">Pediatric</ion-option>
                            <ion-option value="ENT">ENT</ion-option>
                        </ion-select>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.department.valid && (Profileform.controls.department.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Select department</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Year of Passing
                            <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-input formControlName="yearofpassing" placeholder="Type your year of passing here"
                            [(ngModel)]="data.yearofpassing" type="text" disabled="{{enableDiv}}"></ion-input>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.yearofpassing.valid && (Profileform.controls.yearofpassing.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter year of passing</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Designation
                            <!-- <span  style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-select formControlName="designation" placeholder="Select your designation here"
                            [(ngModel)]="data.designation" disabled="{{enableDiv}}">
                            <ion-option value="Cancer">MBBS</ion-option>
                            <ion-option value="Cardio">Cardiologist</ion-option>
                            <ion-option value="Orthopedic">Orthopedic</ion-option>
                            <ion-option value="Pediatric">Pediatric</ion-option>
                            <ion-option value="ENT">ENT</ion-option>
                        </ion-select>
                    </ion-item>
                    <p *ngIf="!Profileform.controls.designation.valid && (Profileform.controls.designation.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Select designation</p>
                    <ion-item padding transparent class="item-width">
                        <ion-label stacked>Description</ion-label>
                        <ion-textarea formControlName="description" placeholder="Type description here" type="text"
                            [(ngModel)]="data.description" disabled="{{enableDiv}}"></ion-textarea>
                    </ion-item>
                    <!-- <p *ngIf="!Profileform.controls.description.valid && (Profileform.controls.description.dirty || submitAttempt)" style="color: #e0675c;margin: 0px 17px;">Please Add Description</p> -->
                    <div *ngIf="savebutton" class="block-insert" margin>
                        <button (click)="addDoctorDetails()" class="dark-button" ion-button round>
                            Save
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>