app-patient-home{


    [login-background] {
      background: #4ECDC4;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .label {
      color:#fff !important;
      margin-bottom: 0 !important;
    }

  .toolbar .toolbar-background{
    border-bottom: 2px solid #fff;
  }

  .header .col {
    background-color:lightgrey;
  }

  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }

  .col:last-child {
    border-right: solid 1px grey;
  }

  .row:last-child .col {
    border-bottom: solid 1px grey;
  }

  .row{
    text-align: center;
  }

  .selected {
    font-size:20px;
    border: 2px solid #fff;
  }


  /*path {
    stroke: #444;
    stroke-width: 1;
    cursor: pointer;
  }

  text {
    font: 11px sans-serif;
    cursor: pointer;
  }*/

  body {
    width: 880px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin: .5em 0;
  }

  p#intro {
    text-align: center;
    margin: 1em 0;
  }

  .slice {
    cursor: pointer;
  }

  .slice .main-arc {
    stroke: #000;
    stroke-width: 1px;
  }

  .slice .hidden-arc {
    fill: none;
  }

  .slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
  }

  #hiddenArc0{
    fill : #fff;
  }

}