<ion-header>
    <ion-navbar>
        <!-- <ion-buttons left>
            <button ion-button icon-only (click)="backToPatientHome()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons> -->
        <ion-title text-center="" *ngIf="patientData.name">{{patientData.name}}</ion-title>
        <!-- <ion-buttons right (click)="navigateToPatientSettings()">
            <button ion-button icon-only>
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons> -->
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content login-background>

    <ion-grid style="padding:0;height: 100%">
        <ion-row wrap style="height: 100%;">
            <ion-col col-9 col-sm-12 col-md-9 col-lg-9 col-xl-9 style="background: black;color:#fff">


                <ion-row style="border:0">
                    <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 style="border:0">
                        <ion-item  no-padding transparent
                                  style="background: black;color:#fff;">
                            <ion-label style="margin-top: 1rem;margin-left:1rem">
                                <ion-icon name="calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime placeHolder="Select Date" (ionChange)="dateChanged()" [(ngModel)]="selectedDate"
                                          displayFormat="DD/MM/YYYY"
                                          style="margin:0;padding:0px"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 style="border:0"></ion-col>
                    <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 style="border:0">
                        <!--<ion-item  no-padding transparent
                                  style="background: black;color:#fff;width: 50%;float:right;margin-top: 3rem">
                            <ion-label style="margin-top: 1rem;margin-left:1rem">List View</ion-label>
                            <ion-toggle [(ngModel)]="listView" [disabled]="true" (ionChange)="onListViewToggleChange()"></ion-toggle>

                        </ion-item>-->
                    </ion-col>
                </ion-row>


                <div #tableView class="table-view" style="display: none">
                    <div class="row header" style="color:#444;text-align: center">
                        <div class="col">Time</div>
                        <div class="col">Event Name</div>
                        <div class="col">Activity Name</div>
                        <div class="col">Event Color</div>
                    </div>
                    <div class="row" [ngClass]="{'selected': selectedRowIndex == i}" (click)="onRowClick(item,i+1)"
                         *ngFor="let item of tableData;let i = index">
                        <div class="col">{{item.interval}}</div>
                        <div class="col">{{item.eventName}}</div>
                        <div class="col">{{item.activityName}}</div>
                        <div class="col" [ngStyle]="{'background':item.eventColor}"></div>
                    </div>
                </div>
                <div #chartView class="chart-view">
                    <div #chartContainer id="vis"></div>
                    <div style="position:absolute;bottom: 0;margin:0;padding:0;width:100%;left:0;color:#fff;font-size:1rem">

                        <ion-row>
                            <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 *ngIf="eventLegends.length>0">
                                <div style="display: inline-flex;float:left" >
                                    <span style="margin-left:1rem;font-weight: bold;font-size:1.5rem;line-height: 4rem"> Events:</span>

                                </div>
                                <div style="display: inline-flex;float:left" *ngFor="let item of eventLegends;let i = index">

                            <span style="color: #fff;font-weight:normal;margin-left: 10px;float:left">
                               <span [ngStyle]="{'background':item.color}" style="display: inline-block; color:#000;font-weight: bold;width:15px;height: 25px;border: 2px solid black">
                            </span> <span>{{item.name}}</span>
                            </span>
                                </div>
                            </ion-col>
                            <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 *ngIf="medicineLegends.length>0">
                                <div style="display: inline-flex;float:left" >
                                    <span style="margin-left:1rem;font-weight: bold;font-size:1.5rem;line-height: 4rem"> Medicines:</span>

                                </div>
                                <div style="display: inline-flex;float:left" *ngFor="let item of medicineLegends;let i = index">

                            <span style="color: #fff;font-weight:normal;margin-left: 10px;float:left">
                               <span [ngStyle]="{'background':item.color}" style="display: inline-block; color:#000;font-weight: bold;width:15px;height: 25px;border: 2px solid black">
                            </span> <span>{{item.name}}</span>
                            </span>
                                </div>
                            </ion-col>
                            <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 *ngIf="activityLegends.length>0">
                                <div style="display: inline-flex;float:left" >
                                    <span style="margin-left:1rem;font-weight: bold;font-size:1.5rem;line-height: 4rem"> Activities:</span>

                                </div>
                                <div style="display: inline-flex;float:left" *ngFor="let item of activityLegends;let i = index">

                            <span style="color: #fff;font-weight:normal;margin-left: 10px;float:left">
                               <span [ngStyle]="{'background':item.color}" style="display: inline-block; color:#000;font-weight: bold;width:15px;height: 25px;border: 2px solid black">
                            </span> <span>{{item.name}}</span>
                            </span>
                                </div>
                            </ion-col>
                        </ion-row>

                    </div>
                </div>
            </ion-col>


            <ion-col col-3 col-sm-12 col-md-3 col-lg-3 col-xl-3>
                <ion-item no-lines style="background: transparent">
                    <img [src]="patientData.image" *ngIf="patientData.image" style="width: 100%">
                </ion-item>

                <h1 text-center *ngIf="patientData.name" style="font-size:2rem;color:#fff;text-transform: uppercase;"><b>{{patientData.name}}</b>
                </h1>

                <div>
                    <h3 style="color:#fff;padding: 5px;font-size:1.5rem;margin-top:0.5rem" *ngIf="patientData.birthDate">Age :
                        {{calculateAge(patientData.birthDate)}}</h3>
                    <h3 style="color:#fff;padding: 5px;font-size:1.5rem;margin-top:0.5rem" *ngIf="patientData.diagnosis">Condition :
                        {{patientData.diagnosis}}</h3>
                    <h3 style="color:#fff;padding: 5px;font-size:1.5rem;margin-top:0.5rem" *ngIf="selectedSlot">Selected Slot :
                        {{selectedSlot}}</h3>
                </div>



                <div class="table-view" *ngIf="selectedItemInfo.isEmpty" style="margin-top:2rem">
                    <div class="row header" style="color:#fff;background: #556270; text-align: center;border:2px solid #fff;">
                        <div class="col" style="color:#fff;background: #556270;text-transform: uppercase">{{selectedItemInfo.type}}</div>
                        <div class="col" style="color:#fff;background: #556270;text-transform: uppercase">Comments</div>
                    </div>
                    <div class="row" style="border:2px solid #fff;">
                        <div class="col" style="color:#000;background: #fff;border:0">{{selectedItemInfo.name}} <br> <span *ngIf="selectedItemInfo.time" style="font-style: italic;">{{selectedItemInfo.time}}</span></div>
                        <div class="col" style="color:#000;background: #fff;border:0">{{selectedItemInfo.comment}}</div>
                    </div>
                </div>


                <button default-button round ion-button style="margin-top:2rem" *ngIf="!selectedItemInfo.isEmpty"
                        (click)="openAddEventModal()">Add Event
                </button>

                <button default-button *ngIf="selectedItemInfo.isEmpty" style="margin-top:2rem" round ion-button
                        (click)="openAddEventModal()">View Event
                </button>


                <!--<button default-button *ngIf="!hasData && selectedRowIndex!== -1" round ion-button
                        (click)="openAddEventModal()">Quick Add Event
                </button>
                <button default-button *ngIf="hasData && selectedRowIndex!== -1" round ion-button
                        (click)="openLoggedActivityHome()">View Event
                </button>-->

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- <ion-split-pane when="xs"> -->
<!-- <ion-menu id="TipMenuHome" persistent="true" side="left" [content]="contentHome"> -->
      <!-- <ion-header >
        <ion-toolbar class="menutoolbar">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <!-- <ion-content main-menu style="text-align: center;">
            <ion-list no-margin no-padding>
                <img width="50" height="50" src="{{patientData.image}}" style="border-radius: 50%;margin-top:10px;" />
                <ion-label style="padding-top:0px;" *ngIf="patientData.image" class="MenuItemLabel" paddinge-left menuClose no-lines item-title >
                    {{patientData.name}}
                </ion-label>
                <ion-label *ngFor="let p of pages" class="MenuItemLabel" paddinge-left menuClose no-lines item-title (click)="openPage(p)" style="">
                    <div class="menuicon">
                        <img *ngIf="p.icon" src="assets/images/menu-icons/{{p.icon}}" style="margin-top:10px;" />
                    </div>
                    {{p.title}}
                </ion-label>
            </ion-list>
      </ion-content> -->
  <!-- </ion-menu> -->
<!-- </ion-split-pane> -->
