<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-tabs>
      <ion-tab [tabTitle]="Tab1">TEst </ion-tab>
      <ion-tab [tabTitle]="Tab2" >TEst2</ion-tab>
      <ion-tab [tabTitle]="Tab3" >TEst3</ion-tab>
    </ion-tabs>

    <ion-segment>
      <ion-segment-button value="user">
        Today
      </ion-segment-button>
      <ion-segment-button value="card">
        Weekly
      </ion-segment-button>
    </ion-segment>
</ion-content>
