app-patient-wheel-event-modal{


  $label-md-text-color-focused: #444;
  $text-input-md-highlight-color: #444;

    [login-background] {
      background: #4ECDC4;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .label {
      color:#000 !important;
      margin-bottom: 0 !important;
      margin-top:0 !important;

    }

  .toolbar .toolbar-background{
    border-bottom: 2px solid #fff;
  }

  .item-input .label, .item-select .label, .item-datetime .label{
    color:#444 !important;
  }

  .item-width{
    width: 80% !important;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #444;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #444;
  }

  .item.item-input.input-has-focus {
    border-bottom: 2px solid #444;
  }


  .what .text-input{
    margin:0px;
    border:1px solid #ccc;
    background:#fff;
  }


  .amount .text-input{
    margin:0px;
    border:1px solid #ccc;
    background:#fff

  }

  .time .text-input{
    margin:0px;

  }

  .datetime-text{
    line-height: 1.4;
  }

  .selectedText{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .selected{
    border:2px solid black !important;
  }



}