<ion-header>
    <ion-navbar>
        <ion-title text-center="">Log Patient Data - <span *ngIf="selectedSlot">{{selectedSlot}} Hrs</span></ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="closeModal('close')">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content style="background: #fff;color:#000">
    <ion-grid padding>
        <ion-row wrap>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>

                <div style="margin-bottom: 16px">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                    <div style="position: relative;display: inline-flex;margin-right:2rem">  <ion-label style="margin-right:1rem">Select Time</ion-label>
                        <ion-datetime minuteValues="00,15,30,45" [disabled]="readonly" (ionChange)="OnSelectTimeChange()" [(ngModel)]="selectedTime" displayFormat="HH:mm"
                                      style="padding:0px"></ion-datetime>
                    </div>
                </div>
                <div>
                    <ion-icon name="arrow-round-forward"></ion-icon>
                    <span> Current Status (of well being)</span><span class="selectedText"
                                                                      *ngIf="selectedEvent">{{selectedEvent.name}}</span>
                </div>

                <div class="event-container" padding margin style="background: #F0F0F0">
                    <div [class.selected]="selectedEventKey === i" [ngStyle]="{'background':item.color}"
                         (click)="selectEvent($event,item, i)"
                         *ngFor="let item of patientSettings.eventData;let i = index" round ion-button>
                        {{item.name}}
                    </div>
                </div>


                <div>
                    <ion-icon name="arrow-round-forward"></ion-icon>
                    <span> Choose Activity</span></div>

                <div class="event-container" padding margin style="background: #F0F0F0">

                    <div [class.selected]="item.selected" [ngStyle]="{'background':item.color}"
                         (click)="selectActivity(item, i)" round ion-button
                         style="padding: 0 1.5rem" *ngFor="let item of patientSettings.activityData;let i = index">
                        {{item.name}}
                    </div>

                </div>
                <ng-container *ngFor="let item of selectedActivities;let i = index">
                    <div *ngIf="selectedActivities.length>0" style="display: inline-flex">
                        <ion-icon name="arrow-round-forward"></ion-icon>
                        <span>Selected {{getActivityName(item.id)}} Data</span></div>
                    <span style="float:right;margin-right: 4rem;display: flex;">
                         <div style="position: relative;display: flex;margin-right:2rem">  <ion-label style="margin-right:1rem">Start Time</ion-label>
                    <ion-datetime [disabled]="readonly" minuteValues="00,15,30,45" [(ngModel)]="item.startTime" displayFormat="HH:mm"
                                  style="padding:0px"></ion-datetime>
                             </div>
                        <div style="position: relative;display: flex;">
          <ion-label style="margin-right:1rem">End Time</ion-label>
                    <ion-datetime [disabled]="readonly" minuteValues="00,15,30,45" [(ngModel)]="item.endTime" displayFormat="HH:mm"
                                  style="padding:0px"></ion-datetime>
          </div>
           </span>
                    <div class="event-container" padding margin style="background: #F0F0F0">

                        <div style="display: flex">
                            <span style="line-height: 3.5rem;">Comments</span>
                            <ion-textarea style="margin-left:10px;width:50%" class="what" type="text"
                                          [(ngModel)]="item.comments"></ion-textarea>
                        </div>

                    </div>
                </ng-container>
                <div>
                    <ion-icon name="arrow-round-forward"></ion-icon>
                    <span> Choose Medicine</span>
                </div>

                <div class="event-container" padding margin style="background: #F0F0F0">

                    <div [class.selected]="item.selected" [ngStyle]="{'background':item.color}"
                         (click)="selectMedicine(item, i)" round ion-button
                         style="padding: 0 1.5rem" *ngFor="let item of patientSettings.medicineData;let i = index">
                        {{item.salt}}
                    </div>

                </div>
                <ng-container *ngFor="let item of selectedMedicines;let i = index">
                    <div *ngIf="selectedMedicines.length>0">
                        <ion-icon name="arrow-round-forward"></ion-icon>
                        <span>Selected {{getMedicineName(item.id)}} Data</span></div>

                    <div class="event-container" padding margin style="background: #F0F0F0">

                        <div style="display: flex">
                            <span style="line-height: 3.5rem;">Comments</span>
                            <ion-textarea style="margin-left:10px;width:50%" class="what" type="text"
                                          [(ngModel)]="item.comments"></ion-textarea>
                        </div>

                    </div>
                </ng-container>


                <div class="block-insert" text-center style="display: flex">
                    <button default-button block round ion-button (click)="saveEvent()">Save</button>
                    <button style="margin-left:30px" default-button block round ion-button (click)="closeModal('close')">
                        Cancel
                    </button>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>