<ion-content style="background: rgb(43,50,73);">
    <ion-buttons right>
        <button style="background-color: transparent;" ion-button icon-only (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-grid padding>
        <ion-title class="app-description" style="color:white;font-size: 18px;margin-top:-35px">
            Add Medicine
        </ion-title>
        <form [formGroup]="medicineform">
            <ion-row wrap padding>
                <ion-col style="margin-top: -20px;" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-2></ion-col>
                        <ion-col col-8>
                            <div no-padding transparent no-lines text-center class="item-width">
                                <div *ngIf="!data.image" padding
                                    style="background: #39415b; color:#444; border-radius: 10px">
                                    <div #imageUploader><img style="width:30%;" [src]="upload"
                                            (click)="!readonly && ImageUpload()"></div>
                                    <div #addPhotoCaption style="color:#fff;">Add picture of medicine packaging</div>
                                </div>
                                <div #previewImage> <img style="border-radius:20px" [src]="data.image"
                                        *ngIf="data.image"></div>
                                <div #removePhotoIcon style="margin:auto;width: 10%;display: none">
                                    <ion-icon name="close-circle" (click)="deleteMedicineData()">
                                    </ion-icon>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-2></ion-col>
                    </ion-row>
                    <ion-item style="margin-top: -30px;" padding transparent class="item-width">
                        <ion-label stacked>
                            Medicine Name
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-input type="text" placeholder="Type name of medicine" formControlName="medicinename"
                            [(ngModel)]="data.name"></ion-input>
                    </ion-item>
                    <p *ngIf="!medicineform.controls.medicinename.valid && (medicineform.controls.medicinename.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter Medicine Name</p>
                    <!-- <ion-item padding transparent class="item-width">
                        <ion-label stacked>
                            Choose colour
                            <span style="color: #e0675c;margin-left: 7px;">*</span>
                        </ion-label>
                        <ion-select placeholder="Color Name" [(ngModel)]="data.color" formControlName="color">
    						<ion-option [value]="item.hex" *ngFor="let item of colors">{{item.name}}</ion-option>
    					</ion-select>
                    </ion-item> -->
                    <ion-row class="colorselect color_{{data.color.slice(1,7)}}">
                        <ion-item style="margin-top: -20px;" padding class="item-width" transparent>
                            <ion-label class="primarylabel">Choose Color</ion-label>
                            <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(data.color)"
                                formControlName="color" [(ngModel)]="data.color">
                                <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors"
                                    [value]="optioncolor">{{optioncolor}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                    <p *ngIf="!medicineform.controls.color.valid && (medicineform.controls.color.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please Choose colour</p>
                    <ion-item style="width: 340px;margin-top: -20px;" padding transparent class="item-width" no-lines>
                        <ion-label>Add to Wheel</ion-label>
                        <ion-toggle [(ngModel)]="data.enableStandardWheel" formControlName="enableStandardWheel">
                        </ion-toggle>
                    </ion-item>
                    <ion-item style="margin-top: -50px;" padding transparent class="item-width">
                        <ion-label stacked>Active Ingredients</ion-label>
                        <ion-input type="text" placeholder="Type active ingredients here"
                            formControlName="activeingredients" [(ngModel)]="data.activeingredients"></ion-input>
                    </ion-item>

                </ion-col>
                <ion-col style="margin-top: 10px;" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding>
                    <ion-row>
                        <ion-col col-12>
                            <ion-col style="display: inline-flex;margin-bottom: 23px;margin-top: -25px;">
                                <ion-col col-6>
                                    <ion-item style="margin-left: -8px;" padding transparent class="item-width">
                                        <ion-label stacked>
                                            Dose
                                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                                        </ion-label>
                                        <ion-input placeholder="dosage" type="text" formControlName="dose"
                                            [(ngModel)]="data.dose"></ion-input>
                                    </ion-item>
                                    <p *ngIf="!medicineform.controls.dose.valid && (medicineform.controls.dose.dirty || submitAttempt)"
                                        style="color: #e0675c;margin: 0px 17px;">Please enter dose</p>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-item padding transparent class="item-width">
                                        <ion-label stacked>
                                            Times per day
                                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                                        </ion-label>
                                        <ion-input style="margin-left: 3px;" placeholder="00/day" type="text"
                                            formControlName="timeday" [(ngModel)]="data.timesperday"></ion-input>
                                    </ion-item>
                                    <p *ngIf="!medicineform.controls.timeday.valid && (medicineform.controls.timeday.dirty || submitAttempt)"
                                        style="color: #e0675c;margin: 0px 17px;">please enter time</p>
                                </ion-col>
                            </ion-col>
                            <ion-item style="margin-top: -58px;;" padding transparent class="item-width">
                                <ion-label stacked>
                                    Company
                                    <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                                </ion-label>
                                <ion-input placeholder="Type company here" type="text" formControlName="company"
                                    [(ngModel)]="data.company"></ion-input>
                            </ion-item>
                            <p *ngIf="!medicineform.controls.company.valid && (medicineform.controls.company.dirty || submitAttempt)"
                                style="color: #e0675c;margin: 0px 17px;">Please enter company</p>
                        </ion-col>
                    </ion-row>
                    <ion-item style="
                    margin-top: -30px;" padding transparent class="item-width">
                        <ion-label stacked>
                            Area of Use
                            <!-- <span style="color: #e0675c;margin-left: 7px;">*</span> -->
                        </ion-label>
                        <ion-input placeholder="Type area of use here" type="text" formControlName="areaofuse"
                            [(ngModel)]="data.areaofuse"></ion-input>
                    </ion-item>
                    <p *ngIf="!medicineform.controls.areaofuse.valid && (medicineform.controls.areaofuse.dirty || submitAttempt)"
                        style="color: #e0675c;margin: 0px 17px;">Please enter Area of Use</p>
                    <ion-item style="width: 340px;margin-top: -20px;" padding transparent class="item-width" no-lines>
                        <ion-label>Notification </ion-label>
                        <ion-toggle [(ngModel)]="data.enablenotification" formControlName="enablenotification">
                        </ion-toggle>
                    </ion-item>
                    <ion-item style="margin-top: -50px;" padding transparent class="item-width">
                        <ion-label stacked>Notes</ion-label>
                        <ion-input placeholder="Type notes here" type="text" formControlName="notes"
                            [(ngModel)]="data.notes"></ion-input>
                    </ion-item>
                    <ion-row style="margin-left: 170px;margin-top: -10px;">
                        <div class="block-insert" margin right>
                            <button style="width: 180px;" (click)="addPatientMedicineDetails()" right class="btn-back"
                                ion-button round>Save</button>
                        </div>
                    </ion-row>
                    <!-- <ion-row>
                        <div class="app-description margin-3t">
                            Is this a prescripted medicine, <span class="link" (click)="addPatientPrescriptionDetails('prescription')">click here to add more details </span>
                        </div>
                    </ion-row> -->
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>