.colorselect {
    .select-text {
        width: 25px;
        border-radius: 50px;
        height: 25px;
        border: 2px solid black;
    }

    .alert-radio-inner,
    .alert-radio-icon,
    .alert-radio-label {
        display: none;
    }

    &.colorselected:before {
        content: '\2713';
        color: white;
        z-index: 999999;
        width: 100%;
        height: 100%;
        font-size: 33px;
        left: 50%;
        top: 50%;
        position: relative;
        transform: translate(-50%);
    }

    //$colorsToSelect: "#d435a2" "#a834bf" "#6011cf" "#0d0e81" "#0237f1" "#0d8bcd" "#16aca4" "#3c887e" "#157145" "#57a773" "#88aa3d" "#b7990d" "#fcbf55" "#ff8668" "#ff5c6a" "#c2454c" "#c2183f" "#d8226b" "#8f2d56" "#482971" "#000000" "#561f37" "#433835" "#797979" "#819595";
    $colorsToSelect:'#BA68C8' '#64B5F6' '#4DD0E1' '#4DB6AC' '#81C784' '#DCE775' '#FFF176' '#FFD54F' '#FFB74D' '#90A4AE';
    @each $colorOption in $colorsToSelect {
        $colorWithoutHash: str-slice($colorOption, 2, 7);

        &.color_#{$colorWithoutHash} {
            &, & .select-text {
                color: #{$colorOption};
                background-color: #{$colorOption};
            }
        }
    }
}

page-app-add-medicine-master {

	$label-md-text-color-focused: #444;
  	$text-input-md-highlight-color: #444;

	[card-image] {
    position: relative;
    @include darkening-blend-mode;
    &::before {
      z-index: 3;
    }
    img {
      width: 100% !important;
    }
    [card-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: absolute;
      left: 16px;
      bottom: 20px;
      z-index: 999;
    }
  }


  .datetime-text{margin-left:1rem !important;color:#fff}

  .toolbar .toolbar-title{
    font-size:1.6em;
    font-weight:normal;
    text-transform: none;
  }
  .label {
    color:#fff !important;
  }

  .item-input .label, .item-select .label,  .label{
    color:#fff !important;
  }

  input{
    color:#fff;
  }

  textarea{
    color:#fff;
  }

  .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 1px solid #fff !important;
  }


  .item.item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .item.item-input.input-has-focus {
    //border-bottom: 2px solid #fff !important;
  }

  .app-description{
    text-align: center;
  }

  .back-button{
   // position: absolute;
  }

  .select-text{
    color:#ffffff;
  }
  .item[no-lines],
  .item.item[no-lines] .item-inner {
    border: 0px !important;
  }
  .btn-back {
    background-color: rgb(105, 194, 209);
  }
}
